.bg {
    @each $key, $value in $bg-colors {
        &-#{$key} {
            @include setProperty('background-color', $value, 'bg');

            @if (getValue($value, 'color')) {
                @include setProperty('color', $value, 'color');
            }
         }
    }

    &-primary {
        .slick-dots {
            li {
                &.slick-active {
                    button {
                        &:before {
                            background-color: $white;
                        }
                    }
                }
            }
        }

        .icons-list__icon,
        .button--link {
            color: inherit;
        }

        .button--link {
            @include hover-focus {
                color: inherit;
                border-color: inherit;
                background: none;
            }
        }

        .chess-block__text {
            color: $blue-100;
        }
    }
}