@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?3tq93p#iefix') format('embedded-opentype'),
       url('../fonts/icons.svg?3tq93p') format('svg'),
       url('../fonts/icons.woff?3tq93p') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"],
.slick-next:before,
.slick-prev:before,
.mfp-close:before,
.mfp-arrow-left:before,
.mfp-arrow-right:before,
.play-button:before,
.dropdown__toggle:after,
.dropdown__option:after,
.custom-checkbox .custom-control__indicator:before,
.link-more:after,
.review__quote:before,
.panel__title:after,
.product__section-title:after,
.combo__item:after,
.select2-selection__arrow:before,
.select2-results__option:before,
.select2-search--dropdown:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e913";
}
.icon-arrow-left:before,
.slick-prev:before {
  content: "\e901";
}
.icon-arrow-right:before,
.slick-next:before {
  content: "\e90e";
}
.icon-arrow-md:before,
.link-more:after {
  content: "\e900";
}
.icon-arrow-sm:before {
  content: "\e90d";
}
.icon-cart:before {
  content: "\e914";
}
.icon-check:before,
.dropdown__option:after,
.custom-checkbox .custom-control__indicator:before,
.select2-results__option:before {
  content: "\e902";
}
.icon-chevron-down:before,
.dropdown__toggle:after {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-close:before,
.mfp-close:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e915";
}
.icon-filter:before {
  content: "\e906";
}
.icon-info:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e911";
}
.icon-minus:before,
.panel__title:after,
.product__section-title:after {
  content: "\e908";
}
.icon-next:before,
.partners .slick-next:before,
.options .slick-next:before,
.select2-selection__arrow:before,
.mfp-arrow-right:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e912";
}
.icon-play:before,
.play-button:before {
  content: "\e90f";
}
.icon-plus:before,
.panel.is-collapsed .panel__title:after,
.product__section.is-collapsed .product__section-title:after,
.combo__item:after {
  content: "\e90a";
}
.icon-prev:before,
.partners .slick-prev:before,
.options .slick-prev:before,
.mfp-arrow-left:before {
  content: "\e90b";
}
.icon-quotes:before,
.review__quote:before {
  content: "\e910";
}
.icon-search:before,
.select2-search--dropdown:before {
  content: "\e917";
}
.icon-star:before {
  content: "\e90c";
}
.icon-trash:before {
  content: "\e916";
}

@include media-breakpoint-up(md) {
    .mfp-arrow-left:before {
      content: "\e901";
    }
    .mfp-arrow-right:before {
      content: "\e90e";
    }
}