// Responsive font sizes
// breakpoint: ($font-size, $line-height, $font-weight, $margin-bottom),
$font-h1: (
    xs: (43px, 56.01px, $font-weight-bold, rem($spacer-6)),
    lg: ($font-size-h1, $line-height-h1, '', rem($spacer-8)),
) !default;

$font-h2: (
    xs: (40px, 48.01px, $font-weight-bold, rem($spacer-4)),
    lg: ($font-size-h2, $line-height-h2, '', rem($spacer-6)),
) !default;

$font-h3: (
    xs: (30px, 39.01px, $font-weight-semibold, rem($spacer-4)),
    lg: ($font-size-h3, $line-height-h3, $font-weight-semibold, rem($spacer-8)),
) !default;

$font-h4: (
    xs: ($font-size-h5, 26.01px, $font-weight-semibold, rem($spacer-4)),
    lg: ($font-size-h4, $line-height-h4),
) !default;

$font-h5: (
    xs: ($font-size-h5, $line-height-h5, $font-weight-semibold, rem($spacer-2)),
) !default;

$font-h6: (
    xs: ($font-size-xl, $line-height-xl, $font-weight-semibold, rem($spacer-2)),
    lg: ($font-size-h6, $line-height-h6),
) !default;

$font-xl: (
    xs: ($font-size-xl, $line-height-xl),
) !default;

$font-lg: (
    xs: ($font-size-lg, $line-height-lg),
) !default;

$font-md: (
    xs: ($font-size-md, $line-height-md),
) !default;

$font-sm: (
    xs: ($font-size-sm, $line-height-sm),
) !default;

$font-xs: (
    xs: ($font-size-xs, $line-height-xs),
) !default;

$font-2xs: (
    xs: ($font-size-2xs, $line-height-2xs),
) !default;

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
    color: $headings-color;

    .bg-primary & {
        color: inherit;
    }
}
h1, .h1 {
    @include type-responsive($font-h1);
    font-family: $font-family-serif;
}
h2, .h2 {
    @include type-responsive($font-h2);
    font-family: $font-family-serif;
}
h3, .h3 {
    @include type-responsive($font-h3);
}
h4, .h4 {
    @include type-responsive($font-h4);
}
h5, .h5 {
    @include type-responsive($font-h5);
}
h6, .h6 {
    @include type-responsive($font-h6);
}
.text-xl {
    @include type-responsive($font-xl);
}
.text-lg {
    @include type-responsive($font-lg);
}
.text-md {
    @include type-responsive($font-md);
}
.text-sm {
    @include type-responsive($font-sm);
}
.text-xs {
    @include type-responsive($font-xs);
}
.text-2xs {
    @include type-responsive($font-2xs);
}
.lead {
    @include font($font-size-xl, 28.01px, $font-weight-medium);
    color: $gray-400;
    @include margin-bottom(2em);
}
.important {
    border-left: 2px solid $primary;
    padding-left: rem($spacer-4);
}
blockquote {
    margin: 0;
}

p,
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    @include margin-bottom(1.5em);
}

dd {
    margin: 0;
}

.dl-inline {
    dd,
    dt {
        display: inline;
        vertical-align: baseline;
    }

    dd {
        &:after {
            content: '\A';
            white-space: pre-line;
            display: block;
            font-size: 0;
        }

        &:last-of-type:after {
            content: '';
        }
    }
}

address {
    font-style: normal;
    line-height: inherit;
}

ol li > ol,
ul li > ul,
ol li > ul,
ul li > ol {
    margin-bottom: 0;
}

strong,
b {
    font-weight: $font-weight-bold;
}

[data-lines] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
}

@each $number in [2, 3, 4] {
    [data-lines="#{$number}"] {
        -webkit-line-clamp: #{$number};
    }
}

.is-unclipped {
    -webkit-line-clamp: initial;
}

@each $color-name, $color in $colors {
    .text-#{$color-name} {
        color: #{$color};
        fill: #{$color};
    }
}

.text-muted {
    color: $gray-300;
    fill: $gray-300;
}

.text-uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-nowrap {
    white-space: nowrap;
}