// variables

// table of contents
//
// colors
// grid
// body
// links
// fonts
// components


@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "potentially invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}


// replace `$search` with `$replace` in `$string`
// @author hugo giraudel
// @param {string} $string - initial string
// @param {string} $search - substring to replace
// @param {string} $replace ('') - new value
// @return {string} - updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "first breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}

@function getValue($map, $value, $fallback: null) {
    @if map-has-key($map, $value) {
        @return map-get($map, $value);
    } @else {
        @return $fallback;
    }
}

@mixin setProperty($property, $map, $value: $property) {
    @if map-has-key($map, $value) {
        #{$property}: getValue($map, $value);
    }
}

// colors
//
// grayscale and brand colors

$gray-100:  #f8f9f9 !default;
$gray-200:  #e3e6e9 !default;
$gray-300:  #b5bec4 !default;
$gray-400:  #5c6164 !default;
$gray-500:  #595959 !default;

$blue-100:  #eafbfc !default;
$blue-200:  #c3f2f8 !default;
$blue-300:  #94e4ed !default;
$blue-400:  #3bc9d9 !default;
$blue-500:  #18bacc !default;
$blue-600:  #15a2b1 !default;

$red:       #f18490 !default;

$white:     #ffffff !default;

$black-100: #262b2c !default;
$black-200: #000000 !default;

$base-color:     $gray-300 !default;
$primary:        $blue-500 !default;
$primary-light:  $blue-300 !default;
$danger:         $red !default;

$colors: () !default;
$bg-colors: () !default;

$colors: map-merge(
    (
        "primary":       $primary,
        "primary-light":     $primary-light,
        "danger":        $danger,
        "base":          $base-color,
    ),
    $colors
);

$bg-colors: map-merge(
    (
        "primary": (
            "bg": $primary,
            "color": $white,
        ),
        "primary-light": (
            "bg": $primary-light,
            "color": $base-color,
        ),
        "primary-lightest": (
            "bg": $blue-100,
            "color": $gray-400,
        ),
        "light": (
            "bg": $gray-200
        ),
    ),
    $bg-colors
);

$enable-gradients: true;


// grid breakpoints
//
// define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1248px,
  2xl: 1440px,
  3xl: 1680px,
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// grid containers
//
// define the maximum width of `.container` for different screen sizes.

$container-widths: (
  xs: 100%
) !default;
@include _assert-ascending($container-widths, "$container-widths");

$container-max-widths: (
    xl: 1248px,
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");

$container-sm-max-widths: (
    md: 840px,
) !default;
@include _assert-ascending($container-max-widths, "$container-sm-max-widths");

// grid columns
//
// set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$gutter: 24px !default;
$gutter-md: 16px !default;

$grid-gutters: (
  xs: $gutter,
) !default;
@include _assert-ascending($grid-gutters, "$grid-gutters");

$spacer:    4px;
$spacer-2:  $spacer * 2;  // 8px
$spacer-3:  $spacer * 3;  // 12px
$spacer-4:  $spacer * 4;  // 16px
$spacer-5:  $spacer * 5;  // 20px
$spacer-6:  $spacer * 6;  // 24px
$spacer-7:  $spacer * 7;  // 28px
$spacer-8:  $spacer * 8;  // 32px
$spacer-9:  $spacer * 9;  // 36px
$spacer-10: $spacer * 10; // 40px


// body
//
// settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $base-color !default;


// links
//
// style anchor elements.

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($primary, 10%) !default;
$link-hover-decoration: inherit !default;

// typography
//
// font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Libre Franklin', Arial, sans-serif !default;
$font-family-serif: 'Source Serif Pro', Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-weight-light:    300 !default;
$font-weight-normal:   400 !default;
$font-weight-medium:   500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold:     700 !default;
$font-weight-heavy:    800 !default;
$font-weight-black:    900 !default;

$font-size-html:       16px !default;

$font-size-base:       16px !default;
$font-size-xl:         20px !default;
$font-size-lg:         18px !default;
$font-size-md:         15px !default;
$font-size-sm:         14px !default;
$font-size-xs:         12px !default;
$font-size-2xs:        10px !default;

$line-height-base:     24.01px !default;
$line-height-xl:       30.01px !default;
$line-height-lg:       27.01px !default;
$line-height-md:       22.01px !default;
$line-height-sm:       21.01px !default;
$line-height-xs:       18.01px !default;
$line-height-2xs:      14.01px !default;

$font-size-h1:         80px !default;
$font-size-h2:         56px !default;
$font-size-h3:         48px !default;
$font-size-h4:         32px !default;
$font-size-h5:         24px !default;
$font-size-h6:         22px !default;

$line-height-h1:       80.01px !default;
$line-height-h2:       62.01px !default;
$line-height-h3:       62.01px !default;
$line-height-h4:       35.01px !default;
$line-height-h5:       31.01px !default;
$line-height-h6:       33.01px !default;

$theme-fonts: () !default;
$theme-fonts: map-merge(
  (
  "xl":   ( $font-size-xl,   $line-height-xl ),
  "lg":   ( $font-size-lg,   $line-height-lg ),
  "md":   ( $font-size-md,   $line-height-md ),
  "sm":   ( $font-size-sm,   $line-height-sm ),
  "xs":   ( $font-size-xs,   $line-height-xs ),
  "base": ( $font-size-base, $line-height-base ),
  ),
  $theme-fonts
);

// Responsive font sizes
// breakpoint: ($font-size, $line-height, $font-weight, $margin-bottom),


$font-base: (
    xs: ($font-size-base, $line-height-base)
) !default;

$headings-color:       $black-200 !default;
$headings-font-weight: $font-weight-bold !default;


$small-font-size: 80% !default;

$text-muted: rgba($base-color, .5) !default;

// Border radius
//
//
$border-radius: .25rem !default;
$border-radius-sm: .5rem !default;
$border-radius-md: .75rem !default;
$border-radius-lg: 1rem !default;
$border-radius-xl: 100px !default;

// Buttons
//
//
$btn-font-family:   $font-family-base !default;
$btn-font-weight:   $font-weight-semibold !default;
$btn-font-size:     $font-size-base !default;
$btn-line-height:   $line-height-base !default;
$btn-border-radius: $border-radius-md !default;
$btn-border-width:  0 !default;
$btn-padding-x:     50px !default;
$btn-padding-y:     11px !default;
$btn-height:        46px !default;
$btn-icon-size:     $font-size-sm !default;

$btn-themes: () !default;

$btn-themes: map-merge(
    (
        "primary": (
            "color": $blue-100,
            "bg": $primary,
            "color-hover": $blue-100,
            "bg-hover": $blue-600,
            "color-focus": $blue-100,
            "bg-focus": $primary,
            "color-active": $blue-100,
            "bg-active": $primary,
            "shadow": true,
        ),
        "light": (
            "color": $black-200,
            "bg": $blue-100,
            "color-hover": $primary,
            "bg-hover": $white,
            "color-focus": $primary,
            "bg-focus": $white,
            "color-active": $primary,
            "bg-active": $blue-100,
            "shadow": true,
        ),
        "light-primary": (
            "color": $primary,
            "bg": $blue-100,
            "color-hover": $primary,
            "bg-hover": $blue-300,
            "color-focus": $primary,
            "bg-focus": $blue-200,
            "color-active": $primary,
            "bg-active": $blue-100,
            "shadow": true,
        ),
        "link": (
            "font-size": $font-size-lg,
            "line-height": $line-height-base,
            "color": $primary,
            "color-hover": $primary,
            "color-focus": $blue-400,
            "color-active": $primary,
        ),
        "link-light": (
            "font-size": $font-size-lg,
            "line-height": $line-height-base,
            "color": $primary-light,
            "color-hover": $primary,
            "color-focus": $primary,
            "color-active": $primary,
        ),
    ),
    $btn-themes
);


// Form
//
//
$input-color-placeholder:      rgba($gray-400, .6) !default;

$input-height:            $btn-height !default;
$input-font-size:         $font-size-sm !default;
$input-font-weight:       $font-weight-normal !default;
$input-font-family:       $font-family-base !default;
$input-line-height:       20.01px !default;

$input-color:             $gray-400 !default;
$input-bg-color:          $gray-100 !default;
$input-border-color:      $gray-100 !default;
$input-border-width:      1px !default;
$input-border-radius:     $btn-border-radius !default;

$input-padding-x:         $spacer-4 - $input-border-width !default;
$input-padding-x-icon:    47px !default;
$input-padding-y:         $spacer-3 !default;

$input-bg-focus:          $input-bg-color !default;
$input-border-focus:      $input-border-color !default;
$input-color-focus:       $input-color !default;

$input-disabled-color:    $input-color-placeholder !default;
$input-disabled-bg-color: $input-bg-color !default;
$input-disabled-border-color: $input-border-color !default;

$input-height-xs:         30px !default;
$input-font-size-xs:      $font-size-xs !default;
$input-line-height-xs:    $line-height-2xs !default;
$input-padding-x-xs:      $spacer-3 - $input-border-width !default;
$input-padding-y-xs:      $spacer-2 - $input-border-width !default;
$input-border-radius-xs:  $border-radius-sm !default;

$form-group-margin-bottom:    $spacer-6 !default;

$cursor-disabled: not-allowed !default;


// Navbar
//
//
$navbar-height:          77px !default;
$navbar-z-index:         100 !default;

// Section
//
//
$section-offset-mobile:    80px !default;
$section-offset-lg-mobile: 140px !default;
$section-offset:           200px !default;
