<footer class="footer bg-primary">
  <div class="container">

    <div class="footer__main">
      <div class="row justify-lg-between">
        <div class="footer__col footer__col--menu col-xs-12 col-lg-8">
          <div class="footer__menu row">
            {% for section in footerNav %}
              <div class="footer__menu-section col-xs-12 col-md-6 col-xl-5 {% if not loop.first %} is-collapsed{% endif %}" data-component="panel">
                <div class="footer__menu-title footer__title" data-element="panel-toggle" data-disabled-on="tablet">
                  {{ section.title }} {% if section.list %}<i class="footer__menu-title-toggle icon-chevron-down"></i>{% endif %}
                </div>
                {% if section.list %}
                  <ul class="footer__menu-list footer__menu-list" data-element="panel-content">
                    {% for item in section.list %}
                      <li class="footer__menu-item">
                        <a href="{{ item.link }}" class="footer__menu-link">{{ item.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="footer__col footer__col--contacts col-xs-12 col-lg-4">
          {% include '../partials/_subscribe-form.twig' %}

          <div class="footer__contacts">
            <div class="footer__title">Get in touch</div>

            <a href="{{ company.phone.link }}" class="footer__contact text-lg">
              <i class="footer__contact-icon icon-phone"></i>
              {{ company.phone.number }}
            </a>
            <a href="mailto:{{ company.email }}" class="footer__contact text-lg">
              <i class="footer__contact-icon icon-mail"></i>
              {{ company.email }}
            </a>
          </div>

          {% include '../partials/_social-list.twig' with { socialClass: 'footer__social' } %}
        </div>

      </div>
    </div>

    <div class="footer__info">
      <div class="row align-items-lg-center">
        <div class="footer__col footer__col--copyright col-xs-12 col-lg-5">
          <div class="footer__copyright">
            {{ company.copyright }}
          </div>
        </div>
        <div class="footer__col col-xs-12 col-lg-7">
          <div class="footer__license">
            {{ company.license }}
          </div>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="row justify-lg-between">
        <div class="footer__col col-xs-12 col-lg-7">
          <ul class="footer__payment-methods payment-methods row align-items-xs-center justify-xs-center justify-lg-start">
            {% for item in paymentMethods %}
              <li class="payment-methods__item col" title="{{ item.name }}">
                {{ svg.icon(item.icon.name, 'payment-methods__img', item.icon.width, item.icon.height) }}
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="footer__col footer__col--links col-xs-12 col-lg-5">
          <ul class="footer__links justify-lg-between">
            {% for item in footerLinks %}
              <li class="footer__links-item"><a href="#" class="footer__links-link">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>