<nav class="navbar" data-component="navbar">
  <div class="navbar__container container">
    <div class="navbar__row row align-items-xs-center justify-lg-between">
      <div class="navbar__col navbar__col--logo col">
        <a href="./index.html" class="navbar__logo">
          <img src="./assets/img/logo-habbit.svg" alt="{{ company.name }} logo" class="navbar__logo-img">
        </a>
      </div>

      <div class="navbar__col navbar__col--nav col">
        {% include '_nav.twig' %}
      </div>

      <div class="navbar__col navbar__col--session col">
        {% include '_session-menu.twig' %}
      </div>

      <div class="navbar__col navbar__col--toggle col hidden-xl-up">
        <button class="navbar__nav-toggle hamburger hamburger--spin" type="button" data-element="mobile-menu-toggle" data-src="mobile-menu">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>

    </div>
  </div>
</nav>