<div class="navbar__nav nav" data-component="mobile-menu" data-src="mobile-menu">
  <ul class="nav__list">
    {% for section in nav %}
      <li class="nav__item {% if section.list %}is-collapsed{% endif %}">
        <a href="{{ section.link }}" class="nav__link {% if section.name == activeNav %}is-active{% endif %}" {% if section.list %}data-element="mobile-menu-trigger" data-src="menu-{{ section.name|lower }}"{% endif %}>
          <span class="nav__text">{{ section.name }}</span>
          {% if section.list %}
            <i class="nav__toggle icon-next"></i>
          {% endif %}
        </a>
        {% if section.list %}
          {% include '_subnav.twig' %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <a href="sign-in.html" class="nav__account hidden-lg-up">Sign in</a>
</div>