<ul class="session-menu">
  {% for item in sessionMenu %}
    <li class="session-menu__item {{ item.class }}">
      <a href="{{ item.link }}" class="session-menu__link" title="{{ item.name }}" {% if item.element %}data-element="{{ item.element }}"{% endif %} {% if item.src %}data-src="{{ item.src }}"{% endif %}>
        <i class="session-menu__icon icon-{{ item.icon }}"></i>
        {% if item.count %}
          <span class="session-menu__badge">{{ item.count }}</span>
        {% endif %}

        {% if session and item.text %}
          <span class="session-menu__badge">{{ item.text }}</span>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>