<div class="subnav__submenu submenu" data-element="panel-tabs-tab" data-id="{{ item.name|lower|replace({' ': '-'}) }}">
  {% if item.list %}
    <ul class="submenu__list">
      {% for link in item.list %}
        <li class="submenu__item">
          <a href="#" class="submenu__link">{{ link }}</a>
        </li>
      {% endfor %}
      <li class="submenu__item">
        <a href="#" class="submenu__link hidden-xl-up">All</a>
      </li>
    </ul>
  {% endif %}

  {% if section.images or item.images %}
    <div class="submenu__pictures justify-xl-end">
      {% for image in 1..item.images %}
        {% set sectionFolder = item.name|lower|replace({' ': '-'}) %}
        <img data-srcset="./assets/img/temp/subnav/{{ sectionFolder }}/{{ image }}.png 1x, ./assets/img/temp/subnav/{{ sectionFolder }}/{{ image }}@2x.png 2x" data-src="./assets/img/temp/subnav/{{ sectionFolder }}/{{ image }}.png" alt="" class="submenu__img lozad">
      {% endfor %}
    </div>
  {% endif %}
</div>