<div class="nav__subnav subnav" data-component="mobile-menu" data-src="menu-{{ section.name|lower }}">
  <div class="container">

    <a href="#" class="subnav__back-link" data-element="mobile-menu-close">
      <i class="subnav__back-icon icon-arrow-sm"></i>Main menu
    </a>

    <a href="{{ section.link }}" class="subnav__title">{{ section.name }}</a>

    <div class="subnav__items row" data-component="panel-tabs">
      {% for collection in section.list %}
        <div class="col-xs-12 col-xl-auto">
          <ul class="subnav__list col">
            {% for item in collection.items %}
              <li class="subnav__item {% if item.list %}is-collapsed{% endif %}" {% if item.list or item.images %}data-element="panel-tabs-item"{% endif %}>
                <a href="{{ item.link }}" class="subnav__link {{ item.class }}" {% if item.list or item.images %}data-element="panel-tabs-toggle" data-id="{{ item.name|lower|replace({' ': '-'}) }}"{% endif %} {% if not item.list and item.images %}data-link="normal"{% endif %}>
                  <span class="subnav__text">{{ item.name }}</span>

                  {% if item.list %}
                    <i class="subnav__toggle icon-next"></i>
                  {% endif %}
                </a>
                {% if item.list or item.images %}
                  {% include '_submenu.twig' %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      <div class="subnav__items-content col col-xl-stretch" data-element="panel-tabs-content">
        <div class="subnav__pictures submenu__pictures is-active justify-xl-end" data-element="panel-tabs-default-img">
          {% for image in 1..section.images %}
            {% set folder = section.name|lower|replace({' ': '-'}) %}
            <img data-srcset="./assets/img/temp/subnav/{{ folder }}/{{ image }}.png 1x, ./assets/img/temp/subnav/{{ folder }}/{{ image }}@2x.png 2x" data-src="./assets/img/temp/subnav/{{ folder }}/{{ image }}.png" alt="" class="submenu__img lozad">
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>