{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}

{% block content %}

  <div class="section section--lg checkout form">
    <div class="container">
      <div class="breadcrumb is-invisible">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item breadcrumb__item--back"><a href="./shop-all.html" class="breadcrumb__link"><i class="breadcrumb__icon-back icon-arrow-sm"></i>Back to shop</a></li>
        </ul>
      </div>

      <div class="checkout__header">
        <h1 class="checkout__title h2">Checkout</h1>
        <ol class="checkout__steps text-xs">
          <li class="checkout__step is-completed">Account</li>
          <li class="checkout__step is-completed">Shipping details</li>
          <li class="checkout__step is-active">Payment</li>
        </ol>
      </div>

      <div class="row">
        <div class="checkout__body col-xs-12 col-lg-7">
          <div class="checkout__body-content">
            <fieldset class="form__fieldset form__fieldset--max-height">
              <legend class="form__legend">
                <span class="form__legend-title">Your Order</span>
              </legend>
              <div class="checkout__order order row">
                <div class="col-xs-12 col-sm-6">
                  <dl class="order__list">
                    <dt class="order__label text-sm">Order number</dt>
                    <dd class="order__data">
                      <div class="order__data-text">8804</div>
                    </dd>
                    <dt class="order__label text-sm">Date:</dt>
                    <dd class="order__data">
                      <div class="order__data-text">Jul 27 2021</div>
                    </dd>
                    <dt class="order__label text-sm">Status:</dt>
                    <dd class="order__data">
                      <div class="order__data-text">Awaiting payment</div>
                    </dd>
                    <dt class="order__label text-sm">Total for pay:</dt>
                    <dd class="order__data">
                      <div class="order__data-text">₹2,496</div>
                    </dd>
                  </dl>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <dl class="order__list">
                    <dt class="order__label text-sm">
                      Shipping details 
                      <button class="order__edit" data-mfp-src="#modal-edit-address-payment" data-element="modal-trigger">
                        Edit<i class="order__edit-icon icon-edit"></i>
                      </button>
                    </dt>
                    <dd class="order__data">
                      <div class="order__data-text">Nick Smith</div>
                      <div class="order__data-info">+91 000 000 00 00</div>
                      <div class="order__data-info">India, Bihab, Street 25-4 <br>456665</div>
                    </dd>
                  </dl>
                </div>
              </div>
            </fieldset>

            <div class="checkout__footer hidden-md-down" data-element="placeholder" data-id="checkout-footer" data-device="desktop"></div>
          </div>
        </div>

        <div class="checkout__aside col-xs-12 col-lg-5">
          <div class="checkout__aside-content">
            <div class="checkout__aside-body">
              <!-- Summary -->
              {% include 'partials/_order-summary.twig' with { text: false, payment: true } %}

              <!-- Check -->
              <div class="checkout__section">
                <dl class="checkout__check check">
                  <dt class="check__label">
                    <span class="check__label-text">Subtotal</span>
                  </dt>
                  <dd class="check__data">₹2,497</dd>
                  <dt class="check__label" data-element="promocode-row">
                    <span class="check__label-text">Promo code</span>
                    <span class="check__tag tag text-sm">
                      <span class="tag__text">Protein</span>
                    </span>
                  </dt>
                  <dd class="check__data" data-element="promocode-row">&mdash;&nbsp;₹43</dd>
                  <dt class="check__label">
                    <span class="check__label-text">Shipping</span>
                    <span class="check__note">Free for members <i class="check__info icon-info" data-element="tooltip-trigger" data-content="You will have free shipping when you become a member"></span>
                  </dt>
                  <dd class="check__data">₹49</dd>
                </dl>
                <dl class="checkout__check check check--total">
                  <dt class="check__label check__label--lg">
                    <span class="check__label-text">Total</span>
                  </dt>
                  <dd class="check__data check__data--lg">₹2,496</dd>
                </dl>
              </div>
            </div>

            <div class="checkout__footer checkout__footer--payment hidden-lg-up" data-element="placeholder" data-id="checkout-footer" data-device="mobile">
              <div class="checkout__footer-row row align-items-md-center" data-block="movable-block" data-id="checkout-footer">
                <div class="col-xs-12 col-lg-auto">
                  <p class="checkout__footer-note">Thank you for your order, please click the button below to pay with Razorpay.</p>
                </div>
                <div class="col-xs-12 col-lg-auto">
                  <input type="submit" class="checkout__footer-button button button--primary button--block" value="Pay Now">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-edit-address-payment.twig' %}
{% endblock %}