{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}

{% block content %}

  <div class="section section--lg checkout form">
    <div class="container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item breadcrumb__item--back"><a href="./shop-all.html" class="breadcrumb__link"><i class="breadcrumb__icon-back icon-arrow-sm"></i>Back to shop</a></li>
        </ul>
      </div>

      <div class="checkout__header">
        <h1 class="checkout__title h2">Checkout</h1>
        <ol class="checkout__steps text-xs">
          <li class="checkout__step is-completed">Account</li>
          <li class="checkout__step is-active">Shipping details</li>
          <li class="checkout__step">Payment</li>
        </ol>
      </div>

      <div class="row">
        <div class="checkout__body col-xs-12 col-lg-7">
          <div class="checkout__body-content">
            <fieldset class="form__fieldset">
              <legend class="form__legend">
                <span class="form__legend-title">User Data</span>
              </legend>

              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="form__group form__group--filled">
                    <label class="form__label" for="checkout-phone">Phone number</label>
                    <div class="form__field">
                      <input type="text" id="checkout-phone" class="form__input" required data-element="phone-mask" value="+91 000 000 00 00">
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form__group">
                    <label class="form__label" for="checkout-email">Email</label>
                    <div class="form__field">
                      <input type="email" id="checkout-email" class="form__input" required placeholder="Enter email">
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>

            <fieldset class="form__fieldset">
              <legend class="form__legend">
                <span class="form__legend-title">Your Addresses</span>
              </legend>

              <div class="checkout__addresses addresses">
                <div class="address address--empty">
                  <div class="address__body">
                    <p class="address__text text-xs">You don't have any saved addresses yet. <br>Add address with shipping details.</p>

                    <button class="address__button button button--link button--md" data-mfp-src="#modal-new-address" data-element="modal-trigger">
                      <i class="button__icon icon-plus"></i><span>Add new address</span>
                    </button>
                  </div>
                </div>
              </div>
            </fieldset>

            <div class="checkout__footer hidden-md-down" data-element="placeholder" data-id="checkout-footer" data-device="desktop"></div>
          </div>
        </div>

        <div class="checkout__aside col-xs-12 col-lg-5">
          <div class="checkout__aside-content">
            <div class="checkout__aside-body">
              <!-- Summary -->
              {% include 'partials/_order-summary.twig' %}

              <!-- Bonus -->
              <div class="checkout__section checkout__bonus bonus" data-component="bonus">
                <ul class="bonus__list">
                  <li class="bonus__item is-selected text-sm" data-element="bonus-promocode">
                    <label class="bonus__label custom-control custom-radio text-sm">
                      <input type="radio" class="custom-control__input" name="bonus" value="promocode" checked data-element="promocode-control">
                      <span class="custom-control__indicator"></span>
                    </label>
                    <div class="bonus__body">
                      <span class="bonus__content" data-element="promocode-name">Protein</span>
                      <span class="bonus__content" data-element="promocode-field" hidden>
                        <input type="text" placeholder="Enter Promo/Refferal code" class="bonus__input bonus__input--code form__input form__input--text" size="21" data-element="promocode-input">
                      </span>
                      <span class="bonus__status" data-text="Applied"><i class="bonus__status-icon icon-check"></i></span>
                      <button class="bonus__button button button--link" data-element="promocode-apply">Apply</button>
                    </div>
                  </li>

                  <li class="bonus__item text-sm is-disabled" data-element="bonus-points">
                    <label class="bonus__label custom-control custom-radio">
                      <input type="radio" class="custom-control__input" name="bonus" value="points" data-element="points-control">
                      <span class="custom-control__indicator"></span>
                    </label>
                    <div class="bonus__body">
                      <span class="bonus__content">
                        Use <input type="text" value="0" size="4" class="bonus__input form__input form__input--text" data-element="points-input">of your <b>0 Habbit points</b>.
                      </span>
                      <span class="bonus__status"><i class="bonus__status-icon icon-check"></i></span>
                    </div>
                  </li>
                </ul>
                <p class="bonus__note">Use promo/referral code to get discounts. Points are awarded from the second order to members.</p>
              </div>

              <!-- Check -->
              <div class="checkout__section">
                <dl class="checkout__check check">
                  <dt class="check__label">
                    <span class="check__label-text">Subtotal</span>
                  </dt>
                  <dd class="check__data">₹2,497</dd>
                  <dt class="check__label" data-element="promocode-row">
                    <span class="check__label-text">Promo code</span>
                    <span class="check__tag tag text-sm">
                      <span class="tag__text">Protein</span>
                      <button class="tag__close icon-close" title="Remove" data-element="promocode-tag"></button>
                    </span>
                  </dt>
                  <dd class="check__data" data-element="promocode-row">&mdash;&nbsp;₹43</dd>
                  <dt class="check__label" data-element="points-row" hidden>
                    <span class="check__label-text">Habbit points</span>
                  </dt>
                  <dd class="check__data" data-element="points-row" hidden>&mdash;&nbsp;₹<span data-element="points-data">100</span></dd>
                  <dt class="check__label">
                    <span class="check__label-text">Shipping</span>
                    <span class="check__note">Free for members <i class="check__info icon-info" data-element="tooltip-trigger" data-content="You will have free shipping when you become a member"></span>
                  </dt>
                  <dd class="check__data">₹49</dd>
                </dl>
                <dl class="checkout__check check check--total">
                  <dt class="check__label check__label--lg">
                    <span class="check__label-text">Total</span>
                  </dt>
                  <dd class="check__data check__data--lg">₹2,496</dd>
                </dl>
              </div>
            </div>

            <div class="checkout__footer hidden-lg-up" data-element="placeholder" data-id="checkout-footer" data-device="mobile">
              <div class="checkout__footer-row row align-items-md-center" data-block="movable-block" data-id="checkout-footer">
                <div class="col-xs-12 col-lg-auto">
                  <p class="checkout__footer-note">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
                </div>
                <div class="col-xs-12 col-lg-auto">
                  <input type="submit" class="checkout__footer-button button button--primary button--block" disabled value="Go to payment">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-new-address.twig' %}
{% endblock %}