{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}

{% block content %}

  <div class="section section--lg checkout form">
    <div class="container">
      <div class="breadcrumb">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item breadcrumb__item--back"><a href="./shop-all.html" class="breadcrumb__link"><i class="breadcrumb__icon-back icon-arrow-sm"></i>Back to shop</a></li>
        </ul>
      </div>

      <div class="checkout__header">
        <h1 class="checkout__title h2">Checkout</h1>
        <ol class="checkout__steps text-xs">
          <li class="checkout__step is-active">Account</li>
          <li class="checkout__step">Shipping details</li>
          <li class="checkout__step">Payment</li>
        </ol>
      </div>

      <div class="row">
        <div class="checkout__body col-xs-12 col-lg-7">
          <div class="checkout__body-content">
            <form action="#" method="POST" class="checkout__sign-in sign-in-form" novalidate="novalidate" data-parsley-validate>
              <fieldset class="form__fieldset">
                <legend class="form__legend">
                  <span class="form__legend-title">Enter phone number</span>
                  <span class="form__legend-text text-sm">We sent a code to the indicated number: <a href="checkout-sign-in.html" class="link-pseudo link-inherit">+91 000 000 00 00</a></span>
                </legend>

                <div class="row row--md">
                  <div class="col-xs-12 col-sm-stretch">
                    <div class="form__group">
                      <div class="form__field">
                        <input type="text" id="code" class="form__input" required data-element="code-mask" placeholder="00000">
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-auto">
                    <div class="form__group">
                      <input type="submit" class="button button--primary button--block" value="Log In">
                    </div>
                  </div>
                </div>

                <div class="form__group form__group--center-mobile">
                  <p class="form__note text-sm">Resending allowed in 30 second</p>
                </div>
              </fieldset>
            </form>
          </div>
        </div>

        <div class="checkout__aside col-xs-12 col-lg-5">
          <div class="checkout__aside-content">
            <div class="checkout__aside-body">
              <!-- Summary -->
              {% include 'partials/_order-summary.twig' with { text: false } %}

              <!-- Check -->
              <div class="checkout__section">
                <dl class="checkout__check check check--total">
                  <dt class="check__label">
                    <span class="check__label-text">Subtotal</span>
                  </dt>
                  <dd class="check__data check__label--lg">₹2,497</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-new-address.twig' %}
{% endblock %}