{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-home' %}

{% block content %}

    {% include 'sections/_hero.twig' %}

    {% include 'sections/_partners.twig' %}

    {% include 'sections/_intro.twig' %}

    {% include 'sections/_bestsellers.twig' %}

    {% include 'sections/_menu.twig' %}

    {% include 'sections/_testimonials.twig' %}

    {% include 'sections/_promo.twig' %}

    {% include 'sections/_recipes.twig' %}

    {% include 'sections/_chess-blocks.twig' %}

    {% include 'sections/_feed.twig' %}

    {% include 'sections/_blog.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}