{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-home' %}

{% block content %}

    {% include 'sections/_hero.twig' %}

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-first-order.twig' %}
{% endblock %}

{% block scripts %}
  <script>
  /* First order modal */
  $(window).on('load', function () {
      $.magnificPopup.open({
          items: {
              src: '#modal-first-order'
          },
          type: 'inline',
          fixedContentPos: true,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 500,
          mainClass: 'mfp-zoom-in',
      }, 0);
  });
  </script>
{% endblock %}