{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-product' %}

{% block content %}
  {% for product in product|slice(1, 1) %}
    <div class="product section section--lg is-disabled" data-component="product">
      <div class="chess-block chess-block--reversed row row--compact justify-lg-between">
        <div class="product__picture chess-block__picture col-xs-12 col-lg-6">
          <div class="product__slider" data-slider="product">
            {% for i in 1..3 %}
              <div class="product__slider-item slick-slide">
                <div class="product__slider-link">
                  <img data-srcset="./assets/img/temp/product/{{ product.id }}/slider/lg/{{ i }}.png 1x, ./assets/img/temp/product/{{ product.id }}/slider/lg/{{ i }}@2x.png 2x" data-src="./assets/img/temp/product/{{ product.id }}/slider/lg/{{ i }}.png" alt="" class="product__slider-img lozad">
                </div>
                </a>
              </div>
            {% endfor %}
          </div>

          <div class="product__thumbs" data-slider="product-thumbs">
            {% for i in 1..3 %}
              <div class="product__thumbs-item slick-slide">
                <img data-srcset="./assets/img/temp/product/{{ product.id }}/slider/sm/{{ i }}.png 1x, ./assets/img/temp/product/{{ product.id }}/slider/sm/{{ i }}@2x.png 2x" data-src="./assets/img/temp/product/{{ product.id }}/slider/sm/{{ i }}.png" alt="" class="product__thumbs-img lozad">
              </div>
            {% endfor %}
          </div>

          <div class="product__sticker sticker sticker--lightest-primary text-sm">
            <i class="sticker__icon icon-star"></i>
            Bestseller
          </div>
        </div>

        <div class="product__content chess-block__content col-xs-12 col-lg-6">
          <div class="product__body chess-block__body">
            <div class="product__breadcrumb breadcrumb">
              <ul class="breadcrumb__list">
                <li class="breadcrumb__item breadcrumb__item--back"><a href="./index.html" class="breadcrumb__link"><i class="breadcrumb__icon-back icon-arrow-sm"></i>Back</a></li>
                <li class="breadcrumb__item"><a href="shap-all.html" class="breadcrumb__link">Shop</a></li>
                <li class="breadcrumb__item"><a href="shop-category.html" class="breadcrumb__link">{{ product.title }}</a></li>
              </ul>
            </div>

            <h1 class="product__title h2">{{ product.title }}</h1>
            <p class="product__description">{{ product.description }}</p>

            <div class="product__options">
              <div class="product__option options options--default">
                <div class="options__header">
                  <div class="options__label">Volume:</div>
                  {% if product.volume|length == 1 %}
                    <div class="options__header-content">
                      <span class="options__data">{% for item in product.volume %}{{ item }}{% endfor %}</span>
                    </div>
                  {% endif %}
                </div>

                {% if product.volume|length > 1 %}
                  <ul class="options__list">
                    {% for item in product.volume %}
                      <li class="options__item">
                        <label class="option option--default">
                          <input type="radio" class="option__input" name="volume" value="{{ loop.index }}" {% if loop.first %}checked{% endif %}>
                          <span class="option__body">{{ item }}</span>
                        </label>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>

              <div class="product__option options options--images" data-component="options">
                <div class="options__header">
                  <div class="options__label">Flavour:</div>
                  <div class="options__header-content">
                    <span class="options__data" data-element="options-data">{% for item in product.flavour|slice(0,1) %}{{ item.name }}{% endfor %}</span>
                    <span class="options__outofstock" data-element="options-out-of-stock">
                      <span class="options__outofstock-label">Out of stock</span>
                      <a href="#" class="options__outofstock-link link-pseudo">Let me know when in stock</a>
                    </span>
                  </div>
                </div>
                <ul class="options__list options__slider" data-slider="options">
                  {% for item in product.flavour %}
                    <li class="options__item options__slide slick-slide">
                      <label class="option option--image {% if loop.first %}is-disabled{% endif %}" data-element="options-item" title="{{ item.name }}">
                        <input type="radio" class="option__input" name="flavour" value="{{ loop.index }}" {% if loop.first %}checked{% endif %}>
                        <span class="option__body">
                          <img data-srcset="./assets/img/temp/product/{{ product.id }}/flavour/{{ item.image }}.png 1x, ./assets/img/temp/product/{{ product.id }}/flavour/{{ item.image }}@2x.png 2x" data-src="./assets/img/temp/product/{{ product.id }}/flavour/{{ item.image }}.png" alt="{{ item.name }}" class="option__img lozad">
                          {% if loop.first %}
                            <i class="option__sticker icon-clock"></i>
                          {% endif %}
                        </span>
                      </label>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            <div class="product__pricebar">
              <div class="product__price price">
                <span class="price__value price__regular">{{ product.price }}</span>
                or
                <span class="text-primary">
                  <b class="price__value">{{ product.memberPrice }}</b> for members <i class="price__info icon-info" data-element="tooltip-trigger" data-content="Price with member discount"></i>
                </span>
              </div>
              <div class="product__points text-primary">
                {{ svg.icon('carrot', 'product__points-icon') }}
                Earn 75 points <i class="product__pricebar-info product__points-info icon-info" data-element="tooltip-trigger" data-content='<p class="text-xs">10% of the purchase price are credited with bonus points for loyalty program members. You can spend them on the following purchases</p>'></i>
              </div>
            </div>

            {% include 'partials/_orderbar.twig' with { component: 'orderbar'} %}

            <div class="product__section" data-component="panel">
              <div class="product__section-title" data-element="panel-toggle" data-disabled-on="desktop">About</div>
              <div class="product__section-content" data-element="panel-content">
                <p>{{ product.aboutText }}</p>

                <ul class="product__features features row">
                  {% for item in product.features %}
                    <li class="features__item col-xs-6 col-sm-auto">
                      <div class="feature">
                        {{ svg.icon(item.icon, 'feature__img') }}
                        <span class="feature__text">{{ item.text }}</span>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            <div class="product__section is-collapsed" data-component="panel">
              <div class="product__section-title" data-element="panel-toggle" data-disabled-on="desktop">Ingredients</div>
              <div class="product__section-content" data-element="panel-content">
                <p>{{ product.ingridientsText }}</p>
              </div>
            </div>

            <div class="product__section is-collapsed" data-component="panel">
              <div class="product__section-title" data-element="panel-toggle" data-disabled-on="desktop">Nutritional Info</div>
              <div class="product__section-content" data-element="panel-content">
                <dl class="product__details details details--default">
                  {% for item in product.details %}
                    <dt class="details__label">{{ item.label }}</dt>
                    <dd class="details__data">{{ item.data }}</dd>
                  {% endfor %}
                </dl>
              </div>
            </div>

            <div class="product__section is-collapsed" data-component="panel">
              <div class="product__section-title" data-element="panel-toggle" data-disabled-on="desktop">How to Use</div>
              <div class="product__section-content" data-element="panel-content">
                <ul class="product__usage-list usage-list">
                  {% for item in product.usage %}
                    <li class="usage-list__item">
                      {{ svg.icon(item.icon, 'usage-list__icon') }}
                      <span class="usage-list__text">{{ item.text }}</span>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            <div class="product__section is-collapsed" data-component="panel">
              <div class="product__section-title" data-element="panel-toggle" data-disabled-on="desktop">Combo box with this product</div>
              <div class="product__section-content" data-element="panel-content">
                <div class="product__combo combo bg-primary-lightest">
                  <ul class="combo__list">
                    {% for item in product.combo %}
                      <li class="combo__item">
                        <a href="#" class="combo-card">
                          <div class="combo-card__picture">
                            <img data-srcset="./assets/img/temp/product/{{ product.id }}/combo/{{ item.image }}.png 1x, ./assets/img/temp/product/{{ product.id }}/combo/{{ item.image }}@2x.png 2x" data-src="./assets/img/temp/product/{{ product.id }}/combo/{{ item.image }}.png" alt="" class="combo-card__img lozad">
                          </div>
                          <div class="combo-card__title text-sm">{{ item.title }}</div>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                  <div class="combo__footer">
                    <div class="combo__price price">
                      <span class="price__value price__regular">₹3,999</span>
                      or
                      <span class="text-primary">
                        <b class="price__value">₹3,959</b> for members <i class="price__info icon-info" data-element="tooltip-trigger" data-content="Price with member discount"></i>
                      </span>
                    </div>
                    <div class="combo__action">
                      <button class="combo__button button button--primary button--block">Bungle and Add to cart</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      {% include 'partials/_orderbar.twig' with { component: 'orderbar-clone', fullbar: true } %}
    </div>
  {% endfor %}

  {% include 'sections/_info-block.twig' with { sectionClass: 'section--lg' } %}

  {% include 'sections/_info-block-2.twig' with { sectionClass: 'section--lg' } %}

  {% include 'sections/_comparison.twig' with { sectionClass: 'section--lg' } %}

  {% include 'sections/_reviews.twig' with { sectionClass: 'section--lg' } %}

  {% include 'sections/_catalog-slider.twig' with { sectionClass: 'section--lg' } %}

  {% include 'sections/_recipes.twig' with { sectionClass: 'section--lg' } %}

  {% include 'sections/_testimonials.twig' with { sectionClass: 'section--lg' } %}

  {% include 'sections/_quiz.twig' with { sectionClass: 'section--lg' } %}

  {% include 'sections/_feed-slider.twig' with { sectionClass: 'section--lg' } %}

  {% include 'sections/_chess-blocks.twig' with { sectionClass: 'section--lg' } %}

  {% include 'sections/_faq.twig' with { sectionClass: 'section--lg' } %}

{% endblock %}

{% block modals %}
{% endblock %}