{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-catalog' %}
{% set categoryActive = 'Shop all' %}

{% block content %}

  {% include 'sections/_categories.twig' with { all: true } %}

  <div class="section catalog" data-component="show-more" data-items="2" data-device="mobile">
    <div class="container">
      <div class="catalog__list" data-element="show-more-list">
        {% for collection in catalog %}
          <div class="catalog__collection" id="{{ collection.id }}">
            {% for product in collection.products %}
              {% include 'partials/_catalog-section.twig' %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}