{% extends 'layout/_base.twig' %}

{% set bodyClass = '' %}

{% block content %}

  <div class="chess-block chess-block--full-height row row--compact sign-in">
    <div class="chess-block__content sign-in__content col-xs-12 col-lg-6">
      <div class="chess-block__body sign-in__body">
        <h2 class="sign-in__title">Sign in</h2>
        <form action="sign-in-code.html" class="sign-in__form form sign-in-form">
          <fieldset class="form__fieldset">
            <legend class="form__legend">
              <span class="form__legend-title">Enter phone number</span>
              <span class="form__legend-text text-sm">You will receive an OTP via message.</span>
            </legend>

            <div class="row row--md">
              <div class="col-xs-12 col-sm-stretch">
                <div class="form__group">
                  <div class="form__field">
                    <input type="text" id="phone" class="form__input" required data-element="phone-mask" placeholder="+91 000 000 00 00">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-auto">
                <div class="form__group">
                  <input type="submit" class="button button--primary button--block" value="Сontinue">
                </div>
              </div>
            </div>

            <div class="form__group">
              <p class="form__consent">By continuing you agree to our Terms &amp; Conditions and Privacy policy.</p>
              <p class="form__note text-sm">If you don't have an account yet, it will be created automatically.</p>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="chess-block__picture sign-in-form__picture col-xs-12 col-lg-6">
      <img data-srcset="./assets/img/temp/sign-in/sign-in.png 1x, ./assets/img/temp/sign-in/sign-in@2x.png 2x" data-src="./assets/img/temp/sign-in/sign-in.png" alt="" class="chess-block__img lozad">
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}