.amount-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: rem(116px);
    flex: 0 0 rem(116px);
    height: rem($input-height);
    background-color: rgba($gray-200, .2);
    border-radius: rem(10px);

    &__control {
        text-align: center;
        @include size(rem($input-height), 100%);
        @include font($font-size-sm, $input-height);
        cursor: pointer;
        color: $base-color;

        @include hover-focus-active {
            outline: 0;
            color: rgba($gray-400, .5);
        }

        &:disabled {
            opacity: .5;
            cursor: not-allowed;
        }
    }

    &__input {
        width: rem($spacer-10);
        border: 0;
        background: none;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        transition: none;
        @include font($font-size-base, $line-height-base);
        color: rgba($headings-color, .8);
        margin-left: rem(- $spacer-2);
        margin-right: rem(- $spacer-2);
    }

    &--sm {
        width: rem(84px);
        height: rem($spacer-8);
        flex: 0 0 rem(84px);
        border-radius: rem(6px);
    }

    &--sm & {
        &__control {
            width: rem($spacer-7);
            @include font($font-size-xs, $spacer-8);
        }

        &__input {
            width: rem($spacer-7);
            height: rem($spacer-8);
            padding-top: 0;
            padding-bottom: 0;
            margin-left: rem(- $spacer);
            margin-right: rem(- $spacer);
            font-weight: $font-weight-medium;
        }
    }
}