.code-form {
    margin-bottom: rem(- $spacer-4);

    .form__group {
        margin-bottom: rem($spacer-4);
    }

    .form__note {
        margin-top: rem($spacer-2);
        margin-bottom: rem(-49px);
    }

    @include media-breakpoint-up(md) {
        .button {
            width: rem(155px);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}