.custom-control {
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    user-select: none;

    &__input {
        position: absolute;
        z-index: -1; // Put the input behind the label so it doesn't overlay text
        opacity: 0;
    }

    &__indicator {
        position: relative;
        display: block;
        align-self: flex-start;
        @include size(rem($spacer-5));
        min-width: rem(rem($spacer-5));
        margin-top: rem(3px);
        margin-right: rem(11px);
        user-select: none;
        pointer-events: none;
        text-align: center;
        border-radius: $border-radius;
        border: 2px solid $base-color;
        transition: all 0.25s ease-in-out;
        font-size: rem($font-size-2xs);

        &:before {
            opacity: 0;
            position: absolute !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    &__input:checked ~ &__indicator,
    &__input:active ~ &__indicator {
        border-color: $primary;

        &:before {
            opacity: 1;
        }
    }

    &--default {
        color: $gray-400;
    }

    &--default & {
        &__indicator {
            margin-top: rem(1px);
        }
    }

    &--sm & {
        &__indicator {
            @include size(rem($spacer-4));
            min-width: rem(rem($spacer-4));
            margin-top: rem(2px);
            margin-right: rem($spacer-2);
            border-width: 1px;
            border-radius: $border-radius / 2;
            font-size: rem($spacer-2);
        }
    }
}

// Custom indicator
//
// Generates a shadow element to create our makeshift checkbox/radio background.

// Checkboxes
//
// Tweak just a few things for checkboxes.

.custom-checkbox {
    .custom-control__indicator {
        &:before {
            color: $white;
        }
    }

    .custom-control__input:checked ~ .custom-control__indicator,
    .custom-control__input:active ~ .custom-control__indicator {
        background-color: $primary;
    }
}

.custom-radio {
    .custom-control__indicator {
        @include rounded;
        border-width: 1px;

        &:before {
            @include size(rem($spacer-3));
            @include rounded;
            background-color: $primary;
            content: '';
        }
    }

    &--sm {
        .custom-control__indicator {
            &:before {
                @include size(rem($spacer-2));
            }
        }
    }
}