.form {
    &__input {
        position: relative;
        display: block;
        appearance: none;
        width: 100%;
        color: $input-color;
        height: rem($input-height);
        background: $input-bg-color;
        border: $input-border-width solid $input-border-color;
        border-radius: rem($input-border-radius);
        @include transition(all ease-in-out 0.15s);
        @include font($input-font-size, $input-line-height, $input-font-weight, $input-font-family);
        padding: rem($input-padding-y $input-padding-x);

        // Unstyle the caret on `<select>`s in IE10+.
        &::-ms-expand {
            border: 0;
            background-color: transparent;
        }

        // Placeholder
        &::placeholder {
            opacity: 1;
            color: $input-color-placeholder;
        }

        // Disabled and read-only inputs
        //
        // HTML5 says that controls under a fieldset > legend:first-child won't be
        // disabled if the fieldset is disabled. Due to implementation difficulty, we
        // don't honor that edge case; we style them as disabled anyway.
        &:disabled,
        &[readonly] {
            opacity: 1;
            color: $input-disabled-color;
        }

        &:disabled {
            cursor: $cursor-disabled;
            border-color: $input-disabled-border-color;
        }

        &:focus,
        &:active {
            outline: 0;
        }

        .form__group--filled & {
            color: $base-color;

            &:focus,
            &.focus {
                color: $input-color;
            }
        }

        .form__group.has-error & {
            border-color: $red;
        }

        &--xs {
            height: rem($input-height-xs);
            @include font($input-font-size-xs, $input-line-height-xs);
            padding: rem($input-padding-y-xs $input-padding-x-xs);
            border-radius: rem($input-border-radius-xs);
        }

        &--text {
            display: inline-block;
            width: auto;
            background: none;
            border-width: 0;
            border-bottom: 1px solid $gray-400;
            border-radius: 0;
            padding: 0;
            min-width: rem($spacer-9);
            height: auto;
            text-align: center;
            grid-area: 1 / 2;
            margin-left: rem($spacer);
            margin-right: rem($spacer);

            &--code {
                //width: rem(184px);
                text-align: left;
                //opacity: .5;
            }
        }
    }
}

textarea.form__input {
  height: rem(99px);
  max-height: none;
}