.form {
    &__fieldset {
        margin-bottom: rem($spacer-4);

        &--lg {
            margin-bottom: rem($spacer-4);
        }
    }

    &__legend {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: rem($spacer-4);

        &-title {
            @include font($font-size-h6, $line-height-h6, $font-weight-semibold);
            color: $gray-400;
        }

        &-text {
            display: block;
            margin-top: rem(2px);
            color: rgba($gray-400, .8);
        }

        &-button {
            margin-top: rem($spacer-2);
            margin-left: 0;
        }
    }

    &__legend + &__description {
        margin-top: rem(- $spacer-3);
        margin-bottom: rem($spacer-6);
    }

    &__group {
        position: relative;
        margin-bottom: rem($form-group-margin-bottom);

        &--button-right {
            display: flex;

            .form__field {
                flex: 1;
            }

            .form__input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-width: 0;
                margin-right: rem(- $spacer-4);
            }

            .form__errors-list {
                position: absolute;
                top: 100%;
                left: 0;
            }
        }
    }

    &__field {
        position: relative;
        display: flex;

        .form__input {
            flex: 1;
        }

        &-button {
            min-width: rem(64px);
        }

        &.is-focused {
            .form__label--float {
                top: rem(6px);
                @include font($font-size-xs, $line-height-2xs);
            }

            .form__input {
                padding-top: rem(17px);
                padding-bottom: rem(5px);
            }
        }

        &--button-right {
            .form__input {
                border-right-width: 0;
            }
        }
    }

    &__title {
        margin-bottom: rem($spacer-6);

        &-text {
            @include font($font-size-h6, $line-height-h6, $font-weight-semibold);
            color: $gray-400;
        }

        &-field {
            margin-top: rem($spacer-2);
            width: auto;
            display: inline-flex;
            min-width: rem(128px);
        }
    }

    &__label {
        display: block;
        margin-bottom: rem($spacer-2);
        color: rgba($gray-400, .8);

        &--float {
            pointer-events: none;
            position: absolute;
            top: rem($input-padding-y + $input-border-width);
            left: rem($input-padding-x);
            color: $input-color-placeholder;
            margin-bottom: 0;
            z-index: 1;
            transition: all.1s ease-in-out;
        }

        .form__group--filled & {
            color: $base-color;
        }
    }

    &__submit {
        text-align: center;
        //margin-top: rem($spacer-10);

        &-option {
            order: 10;
            margin-top: rem($spacer-8);

            .custom-control {
                display: inline-flex;
            }
        }
    }

    .row + &__submit {
        margin-top: rem($spacer-4);
    }

    &__errors-list {
        color: $danger;

        &:empty {
            display: none;
        }
    }

    &__error {
        @include font($font-size-xs, $line-height-2xs);
        margin-top: rem($spacer);

        a {
            color: $gray-400;
        }

        &--sm {
            @include font($font-size-sm, $line-height-sm);
        }
    }

    &__consent {
        @include font($font-size-xs, 17.01px);
        opacity: .8;
    }

    &__consent + &__note {
        margin-top: rem($spacer-6);
    }

    &__footnote {
        @include font($font-size-xs, $line-height-2xs);
    }

    &__addresses {
        margin-bottom: rem($spacer-8);
    }

    @include media-breakpoint-up(md) {
        &__title {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;

            &-text {
                @include font($font-size-h4, $line-height-h4);
                margin-right: rem($spacer-4);
            }

            &-field {
                margin-top: 0;
            }
        }

        &__legend {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: baseline;

            &-text {
                width: 100%;
            }

            &-button {
                margin-top: 0;
                margin-left: auto;
            }
        }

        &__submit {
            text-align: left;

            &-option {
                order: initial;
                margin-top: 0;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__fieldset {
            margin-bottom: rem($spacer-2);

            &--max-height {
                flex: 1;
            }

            &--lg {
                margin-bottom: rem($spacer-4);
            }
        }

        &__legend + &__description {
            margin-top: rem(- $spacer-2);
        }

        &__consent + &__note {
            margin-top: rem($spacer-10);
        }
    }
}