.sign-in-form {
    .form__fieldset {
        > :last-child {
            margin-bottom: 0;
        }
    }

    .form__legend {
        margin-bottom: rem(11px);

        .form__legend-text {
            min-height: rem(3em);
        }
    }

    .form__group {
        margin-bottom: rem($spacer-4);

        &--center-mobile {
            text-align: center;
        }
    }

    @include media-breakpoint-up(sm) {
        .form__legend {
            margin-bottom: rem($spacer-6);

            .form__legend-text {
                min-height: 0;
            }
        }

        .form__group {
            &--center-mobile {
                text-align: left;
            }
        }

        .button {
            min-width: rem(170px);
        }
    }

    @include media-breakpoint-up(lg) {
        .form__legend {
            margin-bottom: rem($spacer-6);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}