.subscribe-form {
    .form__group {
        margin-bottom: 0;
    }

    .form__input {
        background-color: rgba($primary-light, .4);
        border-color: rgba($primary-light, 0);
        color: $blue-100;

        &::placeholder {
            color: rgba($blue-100, .6);
        }
    }

    .form__label--float {
        color: rgba($blue-100, .6);
    }

    .button {
        padding-left: rem($spacer-7);
        padding-right: rem($spacer-7);
    }

    .form__errors-list {
        color: $blue-100;
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}