.categories {
    position: fixed;
    top: rem($navbar-height);
    left: 0;
    right: 0;
    z-index: $navbar-z-index - 2;
    padding-top: rem($spacer-6);
    padding-bottom: rem($spacer-6);
    background-color: $white;
    transition: .2s ease-in-out;

    &__slider {
        margin-left: rem(- $spacer);
        margin-right: rem(- $spacer);
    }

    .slick-list {
        overflow: visible;
    }

    &__slide {
        padding-left: rem($spacer);
        padding-right: rem($spacer);
        opacity: .7;
        transition: .25s ease-in-out;

        &.slick-active {
            opacity: 1;
        }
    }

    &__filter {
        margin-top: rem($spacer-8);
    }

    &.is-fixed {
        padding-top: rem($spacer-5);
        padding-bottom: rem($spacer-5);
        box-shadow: 0 4px 10px rgba($black-100, 0.1);
    }

    @include media-breakpoint-up(md) {
        &__slider {
            margin-left: rem(- $spacer-2);
            margin-right: rem(- $spacer-2);
        }

        &__slide {
            padding-left: rem($spacer-2);
            padding-right: rem($spacer-2);
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem(56px);
        padding-bottom: rem($spacer-6);
    }

    &.is-fixed {
        padding-top: rem($spacer-6);
        padding-bottom: rem($spacer-6);
    }

    @include media-breakpoint-up(xl) {
    }
}