.catalog {
    &__filter {
        margin-top: rem( - $spacer-2);
        margin-bottom: rem($spacer-6);
    }

    &__collection,
    &__section {
        @include margin-bottom(rem($spacer-3));
    }

    &__collection {
        &[id] {
            &:before {
                height: rem($spacer-3);
                content: '';
                display: block;
                margin-top: rem( - $spacer-3);
            }
        }
    }

    &__header {
        margin-bottom: rem($spacer-10);
    }

    &__category {
        font-weight: $font-weight-bold;
        color: $primary-light;
        text-transform: uppercase;
        margin-bottom: rem(10px);
    }

    &__description {
        color: $gray-400;
    }

    &__list,
    &__slider {
        margin-bottom: rem(- $spacer-8);
    }

    &__slider {
        margin-bottom: rem(- $spacer-8);

        &--default {
            margin-bottom: 0;
        }
    }

    &__item {
        margin-bottom: rem($spacer-8);
    }

    &__slide {
        max-width: rem(351px);
        width: 100%;
    }

    @include media-breakpoint-up(lg) {
        &:last-child {
            margin-bottom: rem(160px);
        }

        &__filter {
            margin-top: rem(-48px);
            margin-bottom: rem($spacer-8);
        }

        &__collection,
        &__section {
            margin-bottom: rem($spacer-10);
        }

        &__collection {
            &[id] {
                &:before {
                    height: rem($spacer-10);
                    margin-top: rem( - $spacer-10);
                }
            }
        }

        &__title {
            @include font($font-size-h3, $line-height-h3);
            margin-bottom: rem($spacer-4);
        }

        &__list,
        &__slider {
            margin-bottom: rem(- $spacer-10);
        }

        &__slider {
            margin-bottom: rem(- $spacer-10);

            &--default {
                margin-bottom: 0;
            }
        }

        &__item {
            width: rem(306px);
            margin-bottom: rem($spacer-10);
        }

        &__slide {
            width: auto;
        }
    }

    @include media-breakpoint-up(xl) {
        &__header {
            align-self: flex-start;
            @include aspect-ratio-block(282/342);

            &-content {
                position: absolute;
                bottom: 0;
                left: rem($gutter / 2);
                right: rem($gutter / 2);
                padding-right: rem($spacer-4);
            }
        }

        &__title {
            width: 90%;
        }

        &__slider {
            .slick-list {
                overflow: visible;
            }
        }

        &__item {
            width: auto;
        }
   }
}