.checkout {
    &__header {
        margin-bottom: rem($spacer-8);
    }

    &__title {
        margin-bottom: rem(2px);
    }

    &__steps {
        @include list-unstyled;
        counter-reset: steps-counter;
        @include make-row(18px);
        align-items: center;
    }

    &__step {
        padding: rem($spacer 10px);
        margin-left: rem($spacer);
        margin-right: rem($spacer);

        &:before {
            counter-increment: steps-counter;
            content: counter(steps-counter, decimal)". ";
        }

        &.is-completed {
            color: $primary;
        }

        &.is-active {
            color: $primary;
            background-color: $blue-100;
            border-radius: $border-radius;
        }
    }

    &__order {
        margin-bottom: rem(- $spacer-8);
    }

    &__aside {
        margin-top: rem($spacer-10);

        &-content {
            max-width: rem(418px);
        }
    }

    &__section {
        @include margin-bottom(rem($spacer-8));
    }

    &__footer {
        margin-top: rem($spacer-6);

        &-note {
            @include font($font-size-xs, $line-height-xs - 1);

            .checkout__footer--payment & {
                @include font($font-size-sm, $line-height-sm - 1);
                color: rgba($gray-400, .8);
                text-align: center;
                max-width: rem(264px);
                margin-left: auto;
                margin-right: auto;
            }
        }

        &-button {
            min-width: rem(240px);
            margin-top: rem($spacer-4);

            .checkout__footer--payment & {
                min-width: rem(278px);
            }
        }

        &--payment {
            margin-top: rem($spacer-10);
        }
    }

    &__sign-in {
        width: 100%;
        max-width: rem(511px);
    }

    &__order-alert {
        margin-top: rem(- $spacer-2);
        margin-bottom: rem($spacer-6);
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem(128px);

        &__body {
            display: flex;

            &-content {
                height: 100%;
                width: 100%;
                max-width: rem(586px);
                display: flex;
                flex-direction: column;
            }
        }

        &__header {
            display: flex;
            align-items: center;
        }

        &__title {
            margin-right: rem($spacer-5);
            margin-bottom: 0;
            @include font($font-size-h3, $line-height-h3);
        }

        &__order {
            margin-bottom: rem(- $spacer-6);
        }

        &__aside {
            margin-top: 0;

            &-content {
                margin-left: auto;
            }
        }

        &__footer {
            margin-top: rem($spacer-4);

            &-row {
                flex-wrap: nowrap;
            }

            &-note {
                flex: 1;
                @include font(11px, $line-height-2xs);

                .checkout__footer--payment & {
                    @include font($font-size-sm, $line-height-sm - 1);
                    text-align: left;
                }
            }

            &-button {
                margin-top: 0;
            }

            &--payment {
                margin-bottom: rem(14px);
            }
        }

        &__order-alert {
            margin-bottom: rem($spacer-10);
        }
    }

    @include media-breakpoint-up(xl) {
        &__aside {
            border-left: 1px solid $gray-200;
        }
   }
}