.chess-block {
    &__body {
        padding: rem($section-offset-mobile $gutter);
        @include make-container-offset();
    }

    &__action {
        margin-bottom: rem($spacer-8);
    }

    &__text {
        margin-bottom: rem($spacer-6);
    }

    &__action + &__list {
        margin-top: rem($spacer-10);
    }

    &__picture {
        order: 10;
        @include aspect-ratio-block(720/724);
    }

    &__img {
        @extend %cover-image;
    }

    &--reversed & {
        &__body {
            margin-left: 0;
            @include make-container-offset($property: 'margin-right');
        }
    }

    &--full-height {
        min-height: calc(100vh - #{rem($navbar-height)});
        flex-direction: column;
    }

    &--full-height & {
        &__picture {
            flex: 1;
            min-height: rem(239px);
        }
    }

    @include media-breakpoint-up(lg) {
        &__action {
            margin-bottom: rem($spacer-10);
        }

        &__text,
        &__list {
            @include font($font-size-lg, $line-height-lg);
        }

        &__text + &__action {
            margin-top: rem(- $spacer-2);
        }

        &__action + &__text {
            margin-top: rem(72px);
        }

        &__action + &__list {
            margin-top: rem(48px);
        }

        &__picture {
            &:after {
                padding-top: 742px;
            }
        }

        &--reversed & {
            &__picture {
                order: -1;
            }
        }

        &--full-height {
            flex-direction: row;
        }
    }

    @include media-breakpoint-up(xl) {
        &__body {
            padding: rem(120px 84px);
            padding-left: 0;
        }

        &--reversed & {
            &__body {
                padding-left: rem(84px);
                padding-right: 0;
            }
        }
    }
}