.comparison {
    &[class*="bg-"] {
        padding-top: rem($section-offset-mobile);
        padding-bottom: rem($section-offset-mobile);
    }

    &__header {
        max-width: rem(440px);
        margin-bottom: rem(59px);
    }

    &__table {
        width: 100%;
        table-layout: fixed;
        border-spacing: 0;
        max-width: rem(471px);

        th,
        td {
            padding-left: rem($spacer-4);
            padding-right: rem($spacer-4);
            text-align: left;
            vertical-align: top;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        th {
            @include font($font-size-xs, $line-height-2xs, $font-weight-normal);
        }

        td {
            font-family: $font-family-serif;
            color: $blue-100;
            border-bottom: 1px solid $primary-light;
            padding-top: rem(18px);
            padding-bottom: rem(19px);

            &.is-muted {
                color: rgba($blue-100, .8);
            }
        }

        tr:last-child {
            td {
                padding-bottom: rem(3px);
                border-bottom-width: 0;
            }
        }
    }

    &__img {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        &[class*="bg-"] {
            padding-top: rem(120px);
            padding-bottom: rem(120px);
        }

        &__header {
            margin-bottom: 0;
        }

        &__title {
            margin-bottom: rem($spacer-4);
        }

        &__text {
            @include font($font-size-lg, $line-height-lg);
        }

        &__table {
            th {
                @include font($font-size-sm, $line-height-xs);
                padding-bottom: rem($spacer-2);
            }

            td {
                font-family: $font-family-serif;
                font-weight: $font-weight-bold;
                padding-top: rem($spacer-4 - 1);
                padding-bottom: rem($spacer-4 - 2);
            }

            tr:last-child {
                td {
                    padding-bottom: 0;
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__table {
            margin-left: rem(- $gutter);
        }

        &__img {
            display: block;
            position: absolute;
            bottom: rem(-31px);
            right: rem($spacer-4);
            filter: drop-shadow(-40px 0 60px rgba(11, 57, 63, 0.1));
        }
    }
}