.feed {
    &__list {
        margin-bottom: rem(-6px);
    }

    &__item {
        margin-bottom: rem(6px);
    }

    &__slide {
        width: rem(168px);
    }

    @include media-breakpoint-down(sm) {
        &__list {
            margin-left: rem(-3px);
            margin-right: rem(-3px);
        }

        &__item {
            padding-left: rem(3px);
            padding-right: rem(3px);
        }

        &__slider {
            margin-left: rem(- $spacer);
            margin-right: rem(- $spacer);
        }

        &__slide {
            padding-left: rem($spacer);
            padding-right: rem($spacer);
        }
    }

    @include media-breakpoint-up(md) {
        &__slide {
            width: rem(306px);
        }
    }

    @include media-breakpoint-up(xl) {
        &__slide {
            width: auto;
        }
    }
}
