.hero {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: rem($spacer-6 + $navbar-height);
    padding-bottom: rem($spacer-6);
    min-height: 100vh;
    overflow: hidden;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 16.875%;
        content: '';
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        @include background-svg('<svg width="1438" height="665" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1438 248.593V0H0v665l1438-416.407Z" fill="url(#a)"/><defs><linearGradient id="a" x1="1037.5" y1="314.612" x2="1046.43" y2="33.187" gradientUnits="userSpaceOnUse"><stop stop-color="#15B3C5"/><stop offset="1" stop-color="#14B6C8" stop-opacity="0"/></linearGradient></defs></svg>')
    }

    &__slide {
        flex-direction: column;
        padding-left: rem($gutter);
        padding-right: rem($gutter);
        overflow: hidden;
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        margin-top: auto;
    }

    &__text {
        margin-bottom: 0;
        color: $blue-100;
    }

    &__action {
        margin-top: auto;
        padding-top: rem($spacer-8);
    }

    &__picture {
        height: rem(354px);
        margin-top: rem(-92px);
    }

    &__img {
        max-width: none;
        max-height: 100%;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .slick-dots {
        margin-top: 0;
        position: absolute;
        bottom: rem($spacer-10);
        left: 0;
        right: 0;
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem(48px + $navbar-height);
        padding-bottom: 0;

        &__slide {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &__content {
            width: 47%;
            max-width: rem(562px);
            height: auto !important;
            margin-right: 0;
            margin-left: 0;
            @include make-container-offset();
            padding-top: rem($spacer-5);
            padding-bottom: rem(148px);
        }

        &__title {
            margin-right: rem(-164px);
        }

        &__text {
            @include font($font-size-xl, $line-height-xl);
            color: $white;
            opacity: .8;
        }

        &__action {
            padding-top: rem(58px);
        }

        &__picture {
            width: 50%;
            height: auto;
            margin-top: 0;
        }

        &__img {
            margin-right: 0;
            margin-left: 0;
        }

        .slick-dots {
            bottom: rem(100px);
            left: rem($gutter);
            right: auto;
            justify-content: flex-start;
            @include make-container-offset();
        }
    }

    @include media-breakpoint-up(xl) {
        &__slide {
            padding-left: 0;
            padding-right: 0;
        }

        .slick-dots {
            left: 0;
        }
    }

    @media (min-width: 1920px) {
        &:before {
            bottom: 0;
            background-size: contain;
        }
    }
}