.info-block {
    &[class*="bg-"] {
        padding-top: rem($section-offset-mobile);
        padding-bottom: rem($spacer-6);
    }

    &__picture {
        order: 10;
    }

    &__content {
        max-width: rem(464px);
        margin-bottom: rem(48px);
    }

    &__text {
        color: $gray-400;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__slider {
        .slick-dots {
            margin-top: rem($spacer-5);
        }
    }

    @include media-breakpoint-up(lg) {
        &[class*="bg-"] {
            padding-top: rem(120px);
            padding-bottom: rem(120px);
        }

        &__picture {
            order: initial;
        }
 
        &__title {
            margin-bottom: rem(38px);
        }

        &__text {
            @include font($font-size-lg, $line-height-lg);
        }

        &__slider {
            .slick-arrow {
                &:before {
                    opacity: .5;
                    color: $white;
                }

                @include hover-focus {
                    &:before {
                        opacity: 1;
                        color: $white;
                    }
                }

                &.slick-disabled {
                    &:before {
                        color: $white;
                        opacity: .5;
                    }
                }
            }

            .slick-prev {
                left: rem($spacer-4);
            }

            .slick-next {
                right: rem($spacer-4);
            }

            .slick-dots {
                position: absolute;
                left: 0;
                right: 0;
                bottom: rem($spacer-8);
                margin-top: 0;

                li {
                    button {
                        &:before {
                            opacity: .5;
                            background-color: $white;
                        }
                    }

                    &.slick-active {
                        button {
                            &:before {
                                opacity: 1;
                                background-color: $white;
                            }
                        }
                    }
                }
            }
        }


        &--reversed & {
            &__content {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    @include media-breakpoint-up(xl) {
    }
}