.intro {
    &__title {
        margin-bottom: rem($spacer-10);
    }

    &__action {
        display: none;
    }

    &__picture {
        &--left {
            display: none;
        }
    }

    &__img {
        display: block;
        opacity: .9;
    }

    @include media-breakpoint-up(md) {
        text-align: center;
        position: relative;

        &__container {
            display: flex;
            justify-content: space-between;
        }

        &__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 58.5%;
            max-width: 842px;
            z-index: 1;
        }

        &__title {
            margin-bottom: rem($spacer-6);
        }

        &__action {
            display: block;
        }

        &__picture {
            position: relative;

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
            }

            &--right {
                position: absolute;
                top: 0;
                right: 0;
                width: 39.75%;

                &:after {
                    background: linear-gradient(110.98deg, rgba($white, 0.4) 16.98%, rgba($white, 0) 88.61%);
                }

                .intro__img {
                    margin-left: auto;
                }
            }

            &--left {
                display: block;
                align-self: flex-end;
                width: 37%;
                margin-top: 131px;

                &:after {
                    background: linear-gradient(270.73deg, rgba($white, 0) 29.18%, rgba($white, 0.6) 99.32%);
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                }
            }
        }

    }

    @include media-breakpoint-up(xl) {
    }
}