.menu {
    &__list {
        margin-bottom: rem(- $spacer-6);
    }

    &__item {
        margin-bottom: rem($spacer-6);
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}