.orderbar {

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: rem(- $gutter);
        margin-right: rem(- $gutter);
        width: auto;
    }

    &__picture,
    &__product,
    &__option {
        display: none;
    }

    &__option {
        &-data {
            display: flex;
            align-items: center;
            background-color: $input-bg-color;
            color: $input-color;
            height: rem($input-height);
            padding-left: rem($input-padding-x + $input-border-width);
            padding-right: rem($input-padding-x + $input-border-width);
            border-radius: $input-border-radius;
            @include font($input-font-size, $input-line-height);
        }
    }

    &__amount-form,
    &__button,
    &__link {
        transition: opacity .1s ease-in-out;
        opacity: 1;

        .product.is-disabled & {
            opacity: .4;
            pointer-events: none;
            cursor: not-allowed;
        }
    }

    &__amount-form {
        margin-right: rem($spacer-4);
    }

    &__button {
        flex: 0 0 calc(100% - #{rem(116px) - #{rem($spacer-4)}});
        max-width: calc(100% - #{rem(116px) - #{rem($spacer-4)}});
        padding-left: 0;
        padding-right: 0;

        &-outofstock {
            display: none;
        }

        .product.is-disabled & {
            &-default {
                display: none;
            }

            &-outofstock {
                display: block;
            }
        }

        &-price {
            display: none;
        }
    }

    &__link {
        white-space: nowrap;
        margin-top: rem($spacer-4);
    }

    &.is-fixed {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(110%);
        margin-bottom: 0;
        z-index: $navbar-z-index - 2;
        background-color: $white;
        box-shadow: 0 0 10px rgba($black-200, 0.1);
        padding-top: rem(17px);
        padding-bottom: rem(17px);
        width: 100%;
        transition: transform .25s ease-in-out;

        &.is-visible {
            transform: translateY(0);
        }
    }

    &.is-fixed &  {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        margin-bottom: 0;
        z-index: $navbar-z-index;

        &__container {
            margin-left: auto;
            margin-right: auto;
        }

        &__amount-form {
            margin-right: rem($spacer-4);
        }

        &__link {
            display: none;
        }
    }

    @media(min-width: 375px) {
        &__button {
            &-price {
                display: inline-block;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        &__link {
            margin-top: 0;
        }

        &__amount-form {
            margin-right: rem(30px);
        }

        &__button {
            flex: initial;
            max-width: rem(250px);
            margin-right: rem($spacer-6);
        }

        &.is-fixed & {
            &__amount-form {
                margin-right: rem(30px);
            }

            &__button {
                flex: 1;
                max-width: none;
            }

            &__link {
                display: block;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__container {
            justify-content: flex-start;
        }

        &.is-fixed & {
            &__container {
                justify-content: center;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__container {
            justify-content: flex-start;
            flex-wrap: nowrap;
        }

        &__product {
            display: flex;
            align-items: center;
            margin-right: auto;
            padding-right: rem($spacer-6);
        }

        &__picture {
            display: block;
            position: relative;
            @include size(rem(64px));
            margin-right: rem($spacer-4);
            border-radius: rem(10px);
            overflow: hidden;
        }

        &__img {
            @include cover-image
        }

        &__title {
            font-family: $font-family-serif;
            @include em-line-height($font-size-h5, 26.01px);
            margin-bottom: 0;
        }

        &.is-fixed &  {
            &__amount-form {
                margin-right: rem($spacer-6);
            }

            &__button {
                flex: initial;
                max-width: rem(250px);
            }
        }
    }

    @include media-breakpoint-between(lg, lg) {
        &__amount-form {
            margin-right: rem($spacer-4);
        }

        &__button {
            margin-right: rem($spacer-4);
        }
    }


    @include media-breakpoint-up(xl) {
        &__option {
            display: block;
        }

        &__button {
            &-price {
                display: none;
            }
        }

        &.is-fixed & {
            &__option {
                margin-right: rem($spacer-4);
            }

            &__amount-form {
                margin-left: rem($spacer);
            }

            &__button {
                &-price {
                    display: inline-block;
                }
            }
        }
    }
}