.panels {
    &__title {
        margin-bottom: rem($spacer-4);
    }

    &__list {
        margin-bottom: rem(- $spacer-8);
    }

    @include media-breakpoint-up(lg) {
        &__title {
            margin-bottom: rem($spacer-3);
        }

        &__list {
            margin-bottom: rem(- $spacer-6);
        }
    }
}