.partners {
    margin-top: rem($spacer-8);

    &__slider {
        .slick-list {
            overflow: visible;
        }
    }

    &__slide {
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: .25s ease-in-out;

        &:hover,
        &:focus {
            .partners__img {
                filter: invert(79%) sepia(61%) saturate(3223%) hue-rotate(135deg) brightness(87%) contrast(82%);
            }
        }

        &.slick-active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__img {
        max-height: rem($spacer-5);
        filter: invert(38%) sepia(12%) saturate(193%) hue-rotate(159deg) brightness(91%) contrast(87%);
    }

    .slick-arrow {
        @include size(rem($spacer-8));

        &:before {
            color: $gray-400;
            font-size: rem($spacer-3);
        }

        @include hover-focus {
            &:before {
                color: $primary;
            }
        }

        &.slick-disabled {
            &:before {
                color: $gray-200;
                opacity: 1;
            }
        }
    }

    .slick-prev {
        left: rem(-13px);
    }

    .slick-next {
        right: rem(-13px);
    }

    @include media-breakpoint-down(sm) {
        &__slider {
            padding-left: rem($spacer-4);
            padding-right: rem($spacer-4);
        }
    }

    @include media-breakpoint-up(md) {
        &__img {
            max-height: rem($spacer-9);
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem($spacer-10 * 2);
        margin-bottom: rem($section-offset-mobile);
    }

    @include media-breakpoint-up(xl) {
    }
}