.product {
    position: relative;

    &__picture {
        order: initial;
        margin-bottom: rem($spacer-8);

        &:after {
            display: none;
        }

        .slick-dots {
            position: absolute;
            left: 0;
            right: 0;
            bottom: rem($spacer-4);
            margin-top: 0;

            li {
                button {
                    &:before {
                        opacity: .5;
                        background-color: $white;
                    }
                }

                &.slick-active {
                    button {
                        &:before {
                            opacity: 1;
                            background-color: $white;
                        }
                    }
                }
            }
        }
    }

    &__slider {
        &-item {
            @include aspect-ratio-block(375/416);
        }

        &-img {
            @extend %cover-image;
        }
    }

    &__thumbs {
        display: none;
    }

    &__sticker {
        position: absolute;
        top: rem($gutter);
        right: rem($gutter);
    }

    &__content {
        position: static;
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
    }

    &__breadcrumb {
        position: absolute;
        top: rem($spacer-7);
        left: rem($gutter);
        margin-top: 0;
        margin-bottom: 0;

        .breadcrumb__item--back {
            .breadcrumb__link {
                color: $white;
            }
        }
    }

    &__title {
        margin-bottom: rem($spacer);
        order: -2;
    }

    &__description {
        color: $gray-400;
    }

    &__options {
        margin-bottom: rem(48px);
    }

    &__option {
        @include margin-bottom(rem(15px));
    }

    &__pricebar {
        order: -1;
        margin-bottom: rem($spacer-6);

        &-info {
            font-size: rem($font-size-xs);
            top: rem(-1px);

            @include hover-focus {
                color: $primary;
            }
        }
    }

    &__points {
        @include font($font-size-sm, $line-height-xs);
        margin-top: rem($spacer-2);

        &-icon,
        &-info {
            color: $primary-light;
        }

        &-icon {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            @include size(rem(18px));
            top: rem(-1px);
        }
    }

    &__orderbar {
        margin-bottom: rem($spacer-8);
    }

    &__section {
        max-width: rem(508px);
        border-bottom: 1px solid $gray-200;
        @include margin-bottom(rem(2px));

        &.is-collapsed {
            .product__section-content{
                display: none;
            }
        }

        &-title {
            position: relative;
            padding-right: rem($spacer-7);
            @include em-line-height($font-size-base, $line-height-sm);
            font-weight: $font-weight-semibold;
            padding-top: rem($spacer-6);
            padding-bottom: rem($spacer-6);
            cursor: pointer;
            color: rgba($headings-color, .8);

            &:after {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                font-size: rem($font-size-sm);
                color: $base-color;
            }
        }

        &-content {
            margin-top: rem(- $spacer-4);
            margin-bottom: rem($spacer-6);
            color: rgba($gray-400, .8);
            @include font($font-size-sm, $line-height-sm);

            p {
                @include margin-bottom(2em);
            }
        }
    }

    &__details,
    &__delivery {
        margin-top: rem($spacer-3);
    }

    &__usage-list {
        margin-top: rem($spacer-6);
    }

    &__combo {
        margin-top: rem($spacer-2);
    }

    @include media-breakpoint-up(sm) {
        &__orderbar {
            margin-bottom: rem($spacer-6);
        }
    }

    @include media-breakpoint-between(sm, md) {
        &__content {
            max-width: rem(596px);
        }
    }

    @include media-breakpoint-up(lg) {
        &__picture {
            align-self: flex-start;
            z-index: 1;
            flex: 0 0 49%;
            max-width: 49%;
            margin-bottom: 0;
        }

        &__thumbs {
            display: block;
            overflow: hidden;
            position: absolute;
            top: rem($spacer-8);
            left: rem($spacer-8);
            bottom: rem($spacer-8);
            width: rem(62px);

            &-item {
                position: relative;
                overflow: hidden;
                width: 100%;
                border-radius: rem(10px);
                margin-bottom: rem($spacer-4);
                transition: border-color .2s ease-in-out;
                cursor: pointer;

                &,
                .slick-initialized & {
                     height: rem(64px);
                }

                .slick-vertical &.slick-slide {
                    border: 2px solid $white;
                }

                .slick-vertical &.slick-current {
                    border-color: $primary;
                }
            }

            &-img {
                @include cover-image;
            }
        }

        &__sticker {
            top: rem($spacer-8);
            right: rem($spacer-8);
        }

        &__content {
            flex: 0 0 50.8%;
            max-width: 50.8%;
        }

        &__body {
            padding-top: rem($spacer-8);
        }

        &__breadcrumb {
            position: static;
            margin-bottom: rem($spacer-8);

            .breadcrumb__item--back {
                .breadcrumb__link {
                    color: $primary;
                }
            }
        }

        &__title,
        &__pricebar {
            order: initial;
        }

        &__title {
            margin-bottom: rem($spacer-3);
        }

        &__options {
            margin-bottom: rem($spacer-8);
        }

        &__pricebar {
            margin-bottom: rem($spacer-8);
        }

        &__section {
            &-title {
                @include font($font-size-xl, $line-height-xl);
            }

            &-content {
                @include font($font-size-base, $line-height-base);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__picture {
            position: sticky;
            top: rem($navbar-height);
        }

        &__slider {
            &-item {
                &:after {
                    padding-top: 103.248%;
                }
            }
        }

        &__body {
            .chess-block--reversed & {
                padding-left: rem(64px);
            }
        }

        &__orderbar {
            margin-bottom: rem(48px);
        }

        &__section {
            border-bottom-width: 0;
            @include margin-bottom(rem($spacer-10));

            &.is-collapsed {
                .product__section-content{
                    display: block;
                }
            }

            &-title {
                padding-top: 0;
                padding-right: 0;
                padding-bottom: rem($spacer-2);
                cursor: none;

                &:after {
                    display: none;
                }
            }

            &-content {
                margin-top: 0;
                margin-bottom: 0;

                p {
                    margin-bottom: 2.4375em;
                }
            }
        }

        &__details {
            margin-top: rem($spacer);
        }

        &__delivery {
            margin-top: 0;
        }
    }
}