.promo {
    color: $gray-400;

    &__content {
        margin-bottom: rem(64px);
    }

    &__action {
        margin-top: rem($spacer-10);
    }

    &__picture {
        position: relative;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            background: linear-gradient(161.65deg, rgba($white, 0.9) 23.41%, rgba($white, 0) 103.61%);
        }
    }

    &__img {
        display: block;
    }

    @include media-breakpoint-up(lg) {
        &__content {
            margin-bottom: 0;
            z-index: 2;
            padding-top: rem(60px);
        }

        &__body {
            margin-right: rem(-80px);
        }

        &__title {
            margin-bottom: rem($spacer-4);
        }

        &__text {
            @include font($font-size-lg, $line-height-lg);
        }

        &__action {
            margin-top: rem(56px);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}