.quiz-promo {
    &__body {
    }

    &__action {
        margin-top: rem($spacer-8);
        margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
        &__content {
            display: flex;
            align-items: center;
        }

        &__body {
            max-width: rem(540px);
        }

        &__title {
            margin-bottom: rem($spacer-4);
        }

        &__action {
            margin-top: rem(56px);
        }

        &__picture {
            &:after {
                padding-top: 83.75%;
            }
        }
    }
}