.reviews {

    &__item {
        padding-top: rem($spacer-8);
        @include margin-bottom(rem($spacer-8));
        border-top: 1px solid $gray-200;
    }

    @include media-breakpoint-up(lg) {
        overflow: hidden;
    }
}