.section {
    margin-bottom: rem($section-offset-mobile);

    &[class*="bg-"] + &[class*="bg-"] {
        margin-top: rem(- $section-offset-mobile);
    }

    &--lg {
        margin-bottom: rem($section-offset-lg-mobile);

        &[class*="bg-"] + &[class*="bg-"] {
            margin-top: rem(- $section-offset-lg-mobile);
        }
    }

    &[id] {
        &:before {
            height: rem($section-offset-mobile);
            content: '';
            display: block;
            margin-top: rem( - $section-offset-mobile);
        }
    }

    &__header {
        margin-bottom: rem($spacer-8);

        .section__title {
            @include margin-bottom(rem($spacer-4));
        }

        &--sm {
            margin-bottom: rem($spacer-6);

            .section__title {
                margin-bottom: 0;
            }
        }
    }

    &__controls {
        display: none;
    }

    &__slider {
        .slick-list {
            overflow: visible;
        }
    }

    &__slide {
        width: rem(306px);
    }

    @include media-breakpoint-up(lg) {
        &,
        &--lg {
            margin-bottom: rem($section-offset);

            &[class*="bg-"] + &[class*="bg-"] {
                margin-top: rem(- $section-offset);
            }
        }

        &[id] {
            &:before {
                height: rem($section-offset);
                margin-top: rem( - $section-offset);
            }
        }

        &__header {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin-bottom: rem($spacer-10);
        }

        &__header {
            .section__title {
                margin-right: rem($spacer-6);
                margin-bottom: 0;
            }

            &--sm {
                margin-bottom: rem($spacer-6);
            }
        }

        &__action {
            top: rem(-2px);
            position: relative;
        }

        &__controls {
            display: flex;
            margin-left: auto;
        }
    }

    @include media-breakpoint-up(xl) {
        &__slider {
            .slick-list {
                overflow: hidden;
            }
        }

        &__slide {
            width: auto;
        }
   }
}