.sign-in {
    &__body {
        width: 100%;
        padding-top: rem(64px);
    }

    &__title {
        margin-bottom: rem($spacer-6);
    }

    &__form {
        max-width: rem(500px);
        min-height: rem(312px);

        > :last-child {
            margin-bottom: 0;
        }
    }

    &__picture {
        &:after {
            padding-top: 63.73%;
        }
    }

    @include media-breakpoint-up(lg) {
        &__content {
            display: flex;
            align-items: center;
        }

        &__title {
            @include font($font-size-h3, $line-height-h3);
            margin-bottom: rem($spacer-8);
        }

        &__form {
            min-height: rem(220px);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}