.testimonials {
    padding-top: rem($spacer-10);
    padding-bottom: rem($spacer-10);

    &__slide {
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition: .25s ease-in-out;

        &.slick-active {
            opacity: 1;
            visibility: visible;
        }
    }

    .slick-list {
        overflow: visible;
    }

    @include media-breakpoint-up(md) {
        &__slide {
            flex-direction: row;
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem(120px);
        padding-bottom: rem(120px);

        .slick-dots {
            margin-top: rem(50px);
        }
    }

    @include media-breakpoint-up(xl) {
        &__slider {
            padding-left: rem(112px);
            padding-right: rem(112px);
        }
    }
}