<div class="section catalog" data-component="show-more" data-items="4" data-button-count="true" data-device="mobile">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Bestsellers</h2>

      <div class="section__action">
        <a href="#" class="button button--link"><span>Shop Bestsellers</span> <i class="button__icon icon-arrow-md"></i></a>
      </div>

      <div class="section__controls slick-controls">
        <button class="slick-prev slick-arrow section-slider__prev" aria-label="Previous" type="button" aria-disabled="true">Previous</button>
        <button class="slick-next slick-arrow section-slider__next" aria-label="Next" type="button"  aria-disabled="false">Next</button>
      </div>
    </div>

    <div class="section__slider catalog__slider row" data-slider="catalog" data-element="show-more-list">
      {% for collection in catalog %}
        {% for product in collection.products %}
          {% for item in product.list if item.sticker %}
            <div class="catalog__item slick-side col-xs-6 col-md-4 col-lg-auto" data-element="show-more-item">
              {% include '../partials/_product-card.twig' with { productClass: 'product-card--sm' } %}
            </div>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </div>

  </div>
</div>