<div class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Our blog</h2>

      <div class="section__action">
        <a href="#" class="button button--link"><span>Blog</span> <i class="button__icon icon-arrow-md"></i></a>
      </div>

      <div class="section__controls slick-controls">
        <button class="slick-prev slick-arrow section-slider__prev" aria-label="Previous" type="button" aria-disabled="true">Previous</button>
        <button class="slick-next slick-arrow section-slider__next" aria-label="Next" type="button"  aria-disabled="false">Next</button>
      </div>
    </div>

    <div class="section__slider row" data-slider="items">
      {% for item in blog %}
        <div class="section__slide slick-side col">
          <div class="post-card">
            <a href="#" class="post-card__link">
              <div class="post-card__picture">
                <img data-srcset="./assets/img/temp/blog/{{ item.image }}.png 1x, ./assets/img/temp/blog/{{ item.image }}@2x.png 2x" data-src="./assets/img/temp/blog/{{ item.image }}.png" alt="" class="post-card__img lozad">
                {% if item.time %}
                  <div class="post-card__sticker sticker sticker--time">{{ item.time }} <i class="sticker__icon icon-clock"></i></div>
                {% endif %}
              </div>
              <div class="post-card__meta text-sm">
                <div class="post-card__category">{{ item.category }}</div>
                <div class="post-card__date">{{ item.date }}</div>
              </div>
              <h3 class="post-card__title h5">{{ item.title }}</h3>
              <p class="post-card__text">{{ item.text }}</p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>