<div class="categories" data-component="categories" {% if all %}id="shop-all"{% endif %}>
  <div class="container">
    <div class="categories__slider row" data-slider="categories">
      {% for section in nav|slice(0, 1) %}
        {% for collection in section.list %}
          {% for item in collection.items %}
            <div class="categories__slide slick-slide col">
              {% set fileName = item.name|lower|replace({' ': '-'}) %}
              <a href="{% if all %}#{{ fileName }}{% else %}{{ item.link }}{% endif %}" class="category-card {% if item.name|lower == categoryActive|lower %}is-active{% endif %}" {% if all %}data-scroll{% endif %}>
                <div class="category-card__title">{{ item.name }}</div>
                <img data-srcset="./assets/img/temp/categories/{{ fileName }}.png 1x, ./assets/img/temp/categories/{{ fileName }}@2x.png 2x" data-src="./assets/img/temp/categories/{{ fileName }}.png" alt="" class="category-card__img lozad">
              </a>
            </div>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>