<div class="section {{ sectionClass }} catalog">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">You may also like</h2>

      <div class="section__controls slick-controls">
        <button class="slick-prev slick-arrow section-slider__prev" aria-label="Previous" type="button" aria-disabled="true">Previous</button>
        <button class="slick-next slick-arrow section-slider__next" aria-label="Next" type="button"  aria-disabled="false">Next</button>
      </div>
    </div>

    <div class="section__slider catalog__slider catalog__slider--default row" data-slider="catalog-default">
      {% for collection in catalog %}
        {% for product in collection.products %}
          {% for item in product.list if item.sticker %}
            <div class="catalog__slide slick-side col">
              {% include '../partials/_product-card.twig' with { productClass: 'product-card--default', pricesList: false } %}
            </div>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </div>

  </div>
</div>