<div class="section {{ sectionClass }}">
  <div class="chess-block row row--compact">
    <div class="chess-block__content bg-primary-lightest col-xs-12 col-lg-6">
      <div class="chess-block__body">
        <h2 class="chess-block__title">Habbit Insider Program</h2>
        <div class="chess-block__action">
          <a href="#" class="button button--link"><span>Become an Insider</span> <i class="button__icon icon-arrow-md"></i></a>
        </div>
        <p class="chess-block__text">Become an Insider and get incredible benefits.</p>
        <ul class="chess-block__list icons-list">
          <li class="icons-list__item">
            {{ svg.icon('tag', 'icons-list__icon') }}
            <span class="icons-list__text">
              <b>Pay Insider prices</b> on every product
            </span>
          </li>
          <li class="icons-list__item">
            {{ svg.icon('coins', 'icons-list__icon') }}
            <span class="icons-list__text">
              <b>Earn 10% points</b> for all your spends
            </span>
          </li>
          <li class="icons-list__item">
            {{ svg.icon('diamond', 'icons-list__icon') }}
            <span class="icons-list__text">
              Get Access to <b>exclusive insider sales</b>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="chess-block__picture col-xs-12 col-lg-6">
      <img data-srcset="./assets/img/temp/chess/1.png 1x, ./assets/img/temp/chess/1@2x.png 2x" data-src="./assets/img/temp/chess/1.png" alt="" class="chess-block__img lozad">
    </div>
  </div>

  <div class="chess-block chess-block--reversed row row--compact">
    <div class="chess-block__picture col-xs-12 col-lg-6">
      <img data-srcset="./assets/img/temp/chess/2.png 1x, ./assets/img/temp/chess/2@2x.png 2x" data-src="./assets/img/temp/chess/2.png" alt="" class="chess-block__img lozad">
    </div>

    <div class="chess-block__content bg-primary col-xs-12 col-lg-6">
      <div class="chess-block__body">
        <h2 class="chess-block__title">Habbit Refferal Program</h2>
        <p class="chess-block__text">Invite your friends to the Habbit community and earn points, for life. That’s right, for life! Use your Habbit points at checkout to get a discount on your purchase.</p>
        <div class="chess-block__action">
          <a href="#" class="button button--link"><span>Learn more</span> <i class="button__icon icon-arrow-md"></i></a>
        </div>
        <ul class="chess-block__list icons-list">
          <li class="icons-list__item">
            {{ svg.icon('discount', 'icons-list__icon') }}
            <span class="icons-list__text">
              Your code gives <b>40% off to anyone</b> who uses it
            </span>
          </li>
          <li class="icons-list__item">
            {{ svg.icon('wallet', 'icons-list__icon') }}
            <span class="icons-list__text">
              <b>You get 25%</b> of whatever the person spends
            </span>
          </li>
          <li class="icons-list__item">
            {{ svg.icon('piggy-bank', 'icons-list__icon') }}
            <span class="icons-list__text">
              You will also <b>get 5% of all future</b> lifetime spends of the person who used your code.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>