<div class="section {{ sectionClass }} comparison bg-primary">
  <div class="container">
    <div class="row justify-lg-between">
      <div class="comparison__header col-xs-12 col-lg-6">
        <h2 class="comparison__title">Us &amp; Them</h2>
        <div class="comparison__text">
          <p>We compared the calorie, carbs, fat and sugar content per 100g of our ice cream and similar. Here's what we got.</p>
        </div>
      </div>

      <div class="comparison__content col-xs-12 col-lg-6">
        <table class="comparison__table">
          <thead>
            <tr>
              {% for th in comparison.thead %}
                <th>{{ th }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for tr in comparison.tbody %}
              <tr>
                <td class="h4">{{ tr.us }}</td>
                <td class="h4 is-muted">{{ tr.them }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <img data-srcset="./assets/img/temp/comparison/1.png 1x, ./assets/img/temp/comparison/1@2x.png 2x" data-src="./assets/img/temp/comparison/1.png" alt="" class="comparison__img lozad">
      </div>
    </div>
  </div>
</div>