<section class="section {{ sectionClass }} panels">
  <div class="container container--sm">
    <h2 class="panels__title">FAQ</h2>
    <div class="panels__list">
      {% for item in faq %}
        <div class="panels__item panel {% if not loop.first %}is-collapsed{% endif %}" data-component="panel">
          <h6 class="panel__title" data-element="panel-toggle">{{ item.title }}</h6>
          <div class="panel__content" data-element="panel-content" {% if not loop.first %}style="display:none"{% else %}style="display:block"{% endif %}>
            {{ item.text }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>