<div class="section {{ sectionClass }} feed">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Customers love</h2>

      <div class="section__controls slick-controls">
        <button class="slick-prev slick-arrow section-slider__prev" aria-label="Previous" type="button" aria-disabled="true">Previous</button>
        <button class="slick-next slick-arrow section-slider__next" aria-label="Next" type="button"  aria-disabled="false">Next</button>
      </div>
    </div>

    <div class="section__slider feed__slider row" data-slider="items">
      {% for item in feed %}
        <div class="section__slide feed__slide slick-side col">
          <a href="{{ item.link }}" class="feed-card">
            <div class="feed-card__picture">
              <img data-srcset="./assets/img/temp/feed/{{ item.image }}.png 1x, ./assets/img/temp/feed/{{ item.image }}@2x.png 2x" data-src="./assets/img/temp/feed/{{ item.image }}.png" alt="" class="feed-card__img lozad">
              <div class="feed-card__link bg-primary">
                <span class=" button button--link"><span>View on Instagram</span>&nbsp;<i class="button__icon icon-arrow-md"></i></span>
              </div>
            </div>
            <div class="feed-card__caption">{{ item.caption }}</div>
          </a>
        </div>
      {% endfor %}
    </div>

  </div>
</div>