<div class="section feed">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Follow us on social media</h2>

      <div class="section__options">
        {% include '../partials/_social-list.twig' %}
      </div>
    </div>

    <div class="feed__list row">
      {% for item in feed|slice(0,4) %}
        <div class="feed__item col-xs-6 col-md-3">
          <a href="{{ item.link }}" class="feed-card">
            <div class="feed-card__picture">
              <img data-srcset="./assets/img/temp/feed/{{ item.image }}.png 1x, ./assets/img/temp/feed/{{ item.image }}@2x.png 2x" data-src="./assets/img/temp/feed/{{ item.image }}.png" alt="" class="feed-card__img lozad">
              <div class="feed-card__link bg-primary">
                <span class=" button button--link"><span>{{ item.text }}</span>&nbsp;<i class="button__icon icon-arrow-md"></i></span>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

  </div>
</div>