<div class="hero bg-primary" data-slider="hero">
  {% for slide in hero %}
    <div class="hero__slide slick-slide">
      <div class="hero__content" data-element="hero-content">
        <h1 class="hero__title">{{ slide.title }}</h1>
        <p class="hero__text">{{ slide.text }}</p>
        <div class="hero__action">
          <a href="#" class="hero__button button button--light">Shop now</a>
        </div>
      </div>

      <div class="hero__picture">
        <img data-srcset="./assets/img/temp/hero/{{ slide.image }}.png 1x, ./assets/img/temp/hero/{{ slide.image }}@2x.png 2x" data-src="./assets/img/temp/hero/{{ slide.image }}.png" alt="" class="hero__img lozad">
      </div>
    </div>
  {% endfor %}
</div>