<div class="section {{ sectionClass }} info-block bg-primary-lightest">
  <div class="container">
    <div class="row align-items-lg-center justify-lg-between">
      <div class="info-block__content col-xs-12 col-lg-6">
        <h2 class="info-block__title">We’ve got Cups&nbsp;&amp;&nbsp;Pints</h2>
        <div class="info-block__text">
          <p>Wise Cream is available in 125ml cups and 500ml pints, that are delivered nice and snug in a box with dry ice for the perfect experience.</p>
        </div>
      </div>

      <div class="info-block__picture col-xs-12 col-lg-6">
        <img data-srcset="./assets/img/temp/info-block/1.png 1x, ./assets/img/temp/info-block/1@2x.png 2x" data-src="./assets/img/temp/info-block/1.png" alt="" class="info-block__img lozad">
      </div>
    </div>
  </div>
</div>