<div class="section {{ sectionClass }} info-block info-block--reversed">
  <div class="container">
    <div class="row align-items-lg-center justify-lg-between">
      <div class="info-block__picture col-xs-12 col-lg-6">
        <div class="info-block__slider" data-slider="image">
          {% for i in 1..4 %}
            <div class="info-block__slide slick-slide">
              <img data-srcset="./assets/img/temp/info-block/2.png 1x, ./assets/img/temp/info-block/2@2x.png 2x" data-src="./assets/img/temp/info-block/2.png" alt="" class="info-block__img lozad">
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="info-block__content col-xs-12 col-lg-6">
        <h2 class="info-block__title">What to expect</h2>
        <div class="info-block__text">
          <p>An incredible wave of taste awaits you. Are you ready for this? The creamy taste of our ice cream will pleasantly surprise you.</p>
          <p>And don't forget, this is absolutely safe for the figure. You will not only enjoy the taste and texture, but also the protein.</p>
        </div>
      </div>

    </div>
  </div>
</div>