<div class="section intro">
  <div class="intro__container container">
    <div class="intro__content">
      <h2 class="intro__title h3">We make products that keep you healthy and still taste incredible!</h2>
      <div class="intro__action">
        <a href="#" class="button button--link"><span>About Us</span> <i class="button__icon icon-arrow-md"></i></a>
      </div>
    </div>

    <div class="intro__picture intro__picture--left" data-aos="fade-up">
      <img data-srcset="./assets/img/temp/intro/1.png 1x, ./assets/img/temp/intro/1@2x.png 2x" data-src="./assets/img/temp/intro/1.png" alt="" class="intro__img lozad">
    </div>

    <div class="intro__picture intro__picture--right" data-aos="fade-up" data-aos-delay="150">
      <picture>
        <source media="(max-width: 767px)" data-srcset="./assets/img/temp/intro/2-mobile.png 1x, ./assets/img/temp/intro/2-mobile@2x.png 2x">
        <img data-srcset="./assets/img/temp/intro/2.png 1x, ./assets/img/temp/intro/2@2x.png 2x" data-src="./assets/img/temp/intro/2.png" alt="" class="intro__img lozad">
      </picture>
    </div>
  </div>
</div>