<div class="section menu">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Explore our products</h2>

      <div class="section__action">
        <a href="shop-all.html" class="button button--link"><span>Shop All</span> <i class="button__icon icon-arrow-md"></i></a>
      </div>
    </div>

    <div class="menu__list row">
      {% for section in nav|slice(0, 1) %}
        {% for collection in section.list|slice(1, 1) %}
          {% for item in collection.items %}
            <div class="menu__item col-xs-12 col-md-6">
              <a href="{{ item.link }}" class="menu-card">
                <div class="menu-card__content">
                  <h3 class="menu-card__title h4">{{ item.name }}</h3>
                  <p class="menu-card__description">{{ item.description }}</p>
                  <div class="menu-card__action">
                    <span class="button button--link"><span>Shop {{ item.name }}</span> <i class="button__icon icon-arrow-md"></i></span>
                  </div>
                </div>
                <picture>
                  {% set fileName = item.name|lower|replace({' ': '-'}) %}
                  <source media="(max-width: 575px), (min-width: 768px) and (max-width: 1247px)" data-srcset="./assets/img/temp/menu/{{ fileName }}-mobile.png 1x, ./assets/img/temp/menu/{{ fileName }}-mobile@2x.png 2x">
                  <img data-srcset="./assets/img/temp/menu/{{ fileName }}.png 1x, ./assets/img/temp/menu/{{ fileName }}@2x.png 2x" data-src="./assets/img/temp/menu/{{ fileName }}.png" alt="" class="menu-card__img lozad">
                </picture>
              </a>
            </div>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </div>

  </div>
</div>