<div class="section partners">
  <div class="container">
    <div class="partners__slider" data-slider="partners">
      {% for slide in partners %}
        <div class="partners__slide slick-slide col">
          <a href="#" class="partners__link">
            <img data-srcset="./assets/img/temp/partners/{{ slide.image }}.png 1x, ./assets/img/temp/partners/{{ slide.image }}@2x.png 2x" data-src="./assets/img/temp/partners/{{ slide.image }}.png" alt="" class="partners__img lozad">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>