<div class="section promo">
  <div class="promo__container container">
    <div class="row">
      <div class="promo__content col-xs-12 col-lg-4">
        <div class="promo__body">
          <h2 class="promo__title">Health is a habbit</h2>
          <p class="promo__text">We believe the benefits of our healthy decisions compound over time. There is no quick fix solution to health. It’s an ongoing process, and we’d like you to enjoy it.</p>
          <div class="promo__action">
            <a href="#" class="button button--light-primary">We believe</a>
          </div>
        </div>
      </div>

      <div class="promo__picture col-xs-12 col-lg-8">
        <img data-srcset="./assets/img/temp/promo/1.png 1x, ./assets/img/temp/promo/1@2x.png 2x" data-src="./assets/img/temp/promo/1.png" alt="" class="promo__img lozad">
      </div>
    </div>
  </div>
</div>