<div class="section {{ sectionClass }}  quiz-promo bg-primary">
  <div class="chess-block row row--compact">
    <div class="quiz-promo__content chess-block__content col-xs-12 col-lg-6">
      <div class="quiz-promo__body chess-block__body">
        <h2 class="quiz-promo__title chess-block__title">Which protein is&nbsp;best for you</h2>
        <p class="quiz-promo__text chess-block__text">Take the test and find out which protein is right for you. The selection is carried out based on your physical activity, lifestyle and dietary preferences.</p>
        <div class="quiz-promo__action">
          <a href="#" class="button button--light-primary">Take a quiz</a>
        </div>
      </div>
    </div>

    <div class="quiz-promo__picture chess-block__picture col-xs-12 col-lg-6">
      <img data-srcset="./assets/img/temp/quiz/quiz.png 1x, ./assets/img/temp/quiz/quiz@2x.png 2x" data-src="./assets/img/temp/quiz/quiz.png" alt="" class="chess-block__img lozad">
    </div>
  </div>
</div>