<div class="section {{ sectionClass }}">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Recipes for inspiration</h2>

      <div class="section__action">
        <a href="#" class="button button--link"><span>Recipes</span> <i class="button__icon icon-arrow-md"></i></a>
      </div>
    </div>

    <div class="section__slider row" data-slider="items">
      {% for item in recipes %}
        <div class="section__slide slick-side col">
          <div class="post-card">
            <a href="#" class="post-card__link">
              <div class="post-card__picture">
                <img data-srcset="./assets/img/temp/recipes/{{ item.image }}.png 1x, ./assets/img/temp/recipes/{{ item.image }}@2x.png 2x" data-src="./assets/img/temp/recipes/{{ item.image }}.png" alt="" class="post-card__img lozad">
                <div class="post-card__sticker sticker sticker--time">{{ item.time }} <i class="sticker__icon icon-clock"></i></div>
              </div>
              <h3 class="post-card__title h5">{{ item.title }}</h3>
              <p class="post-card__text">{{ item.text }}</p>
            </a>
            <div class="post-card__products">
              <ul class="product-list">
                {% for product in item.products %}
                  {% set templateName = product|lower|replace({' ': '-'}) %}
                  <li class="product-list__item">
                    <span class="product-list__link" data-element="product-popover-trigger" data-tippy-placement="top-start" data-template="product-popover-{{ templateName }}">{{ product }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div style="display: none;">
      <div id="product-popover-habbit-nude">
        <a href="product.html" class="product-popover">
          <div class="product-popover__picture">
            <img srcset="./assets/img/temp/catalog/popovers/habbit-nude.png 1x, ./assets/img/temp/catalog/popovers/habbit-nude@2x.png 2x" src="./assets/img/temp/catalog/popovers/habbit-nude.png" alt="" class="product-popover__img">
          </div>
          <div class="product-popover__content">
            <div class="product-popover__header">
              <h4 class="product-popover__title text-lg">Habbit Nude</h4>
              <div class="product-popover__price text-base">₹1,899</div>
            </div>
            <p class="product-popover__description text-sm">Raw and unflavoured whey protein isolate | 450g</p>
          </div>
        </a>
      </div>

      <div id="product-popover-habbit-apex">
        <a href="product.html" class="product-popover">
          <div class="product-popover__picture">
            <img srcset="./assets/img/temp/catalog/popovers/habbit-apex.png 1x, ./assets/img/temp/catalog/popovers/habbit-apex@2x.png 2x" src="./assets/img/temp/catalog/popovers/habbit-apex.png" alt="" class="product-popover__img">
          </div>
          <div class="product-popover__content">
            <div class="product-popover__header">
              <h4 class="product-popover__title text-lg">Habbit Apex</h4>
              <div class="product-popover__price text-base">₹999</div>
            </div>
            <p class="product-popover__description text-sm">Grade – A Whey Protein Isolate</p>
          </div>
        </a>
      </div>

      <div id="product-popover-wise-cream">
        <a href="product.html" class="product-popover">
          <div class="product-popover__picture">
            <img srcset="./assets/img/temp/catalog/popovers/wise-cream.png 1x, ./assets/img/temp/catalog/popovers/wise-cream@2x.png 2x" src="./assets/img/temp/catalog/popovers/wise-cream.png" alt="" class="product-popover__img">
          </div>
          <div class="product-popover__content">
            <div class="product-popover__header">
              <h4 class="product-popover__title text-lg">Wise Cream</h4>
              <div class="product-popover__price text-base">₹799</div>
            </div>
            <p class="product-popover__description text-sm">The lowest calorie ice creams ever made.</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>