<section class="section {{ sectionClass }} reviews">
  <div class="container container--sm">
    <div class="section__header section__header--sm">
      <h2 class="section__title">Reviews</h2>

      <div class="section__counter">{{ reviews|length }} reviews</div>
    </div>

    <div class="reviews__list">
      {% for item in reviews|slice(0,3) %}
        <div class="reviews__item review">
          <div class="review__header">
            <div class="review__avatar">{{ item.author|first|upper }}</div>
            <div class="review__header-content">
              <div class="review__author">{{ item.author }}</div>
              <div class="review__meta">
                <span class="review__info">{{ item.info }}</span>
                <span class="review__date">{{ item.date }}</span>
              </div>
            </div>
          </div>
          <div class="review__body">
            {% if item.images %}
              <div class="review__pictures" data-slider="review-images">
                {% for image in 1..item.images %}
                  <a href="./assets/img/temp/reviews/lg/{{ image }}.png" class="review__pictures-slide slick-slide" data-element="gallery-trigger">
                    <img data-srcset="./assets/img/temp/reviews/sm/{{ image }}.png 1x, ./assets/img/temp/reviews/sm/{{ image }}@2x.png 2x" data-src="./assets/img/temp/reviews/sm/{{ image }}.png" alt="" class="review__img lozad">
                  </a>
                {% endfor %}
              </div>
            {% endif %}
            <h5 class="review__title">{{ item.title }}</h5>
            <div class="review__content">
              {{ item.text }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="pagination">
      <button class="button button--link button--link-light">Show 3 more</button>
    </div>
  </div>
</section>