<div class="section {{ sectionClass }} testimonials bg-primary-lightest">
  <div class="container">

    <div class="testimonials__slider" data-slider="testimonials">
      {% for item in testimonials %}
        <div class="testimonials__slide testimonial {% if item.type == 'video' %}testimonial--video{% endif %} slick-side">
          {% if item.type == 'video' %}
            <a href="https://www.youtube.com/watch?v=cQZ_Bh4OhoQ" class="testimonial__picture" data-element="modal-video-trigger">
              <img data-srcset="./assets/img/temp/testimonials/{{ item.image }}.png 1x, ./assets/img/temp/testimonials/{{ item.image }}@2x.png 2x" data-src="./assets/img/temp/testimonials/{{ item.image }}.png" alt="" class="testimonial__img lozad">
              <button class="testimonial__play-button play-button" title="Play video"></button>
            </a>

            {% else %}

            <div class="testimonial__picture">
              <img data-srcset="./assets/img/temp/testimonials/{{ item.image }}.png 1x, ./assets/img/temp/testimonials/{{ item.image }}@2x.png 2x" data-src="./assets/img/temp/testimonials/{{ item.image }}.png" alt="" class="testimonial__img lozad">
            </div>
          {% endif %}

          <div class="testimonial__content">
            <div class="testimonial__quote">{{ item.quote }}</div>
            <dl class="testimonial__author">
              <dt class="testimonial__author-name">{{ item.author.name }}</dt>
              <dd class="testimonial__author-info">{{ item.author.info }}</dd>
            </dl>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>