{% if addressesSlider %}
  <div class="addresses__slider row" data-slider="addresses">
    {% for item in checkout.addresses|slice(0, visibleItems) %}
      <div class="addresses__slide col slick-slide">
        {% include '_address.twig' %}
      </div>
    {% endfor %}
  </div>

  {% else %}

  <div class="addresses__list row" data-slider="addresses-list">
    {% for item in checkout.addresses|slice(0, visibleItems) %}
      <div class="addresses__item col col-lg-6 slick-slide">
        {% include '_address.twig' %}
      </div>
    {% endfor %}
  </div>
{% endif %}