<div class="address" {% if isCompact and loop.index == 2 %} data-element="tooltip-trigger" data-content="Products from your shopping cart are not delivered in this state" data-tippy-placement="top-start"{% endif %}>
  <label class="address__body custom-control custom-radio {% if isCompact and loop.index == 2 %}is-disabled{% endif %}">
    <input type="radio" class="custom-control__input" name="checkout-address" value="{{ loop.index }}" {% if loop.first %}checked{% endif %} {% if isCompact and loop.index == 2 %}disabled{% endif %}>
    <span class="custom-control__indicator"></span>
    <span class="address__content custom-control__content">
      <span class="address__title">{{ item.title }}</span>
      {% if not isCompact %}
        <span class="address__info text-sm">{{ item.name }} <br>{{ item.phone }}</span>
      {% endif %}
      <span class="address__info text-sm">{{ item.address }}<br>{{ item.pincode }}</span>
    </span>
  </label>
  {% if not isCompact %}
    <button class="address__edit icon-edit" title="Edit address" data-mfp-src="#modal-edit-address" data-element="modal-trigger"></button>
  {% endif %}
</div>
