<ul class="{{ cartListClass }} cart-list">
  {% for item in cart %}
    <li class="cart-list__item cart-item">
      {% if payment != true %}
        <button class="cart-item__delete icon-trash" title="Remove from cart"></button>
      {% endif %}
      <a href="product.html" class="cart-item__picture">
        <img data-srcset="./assets/img/temp/cart/{{ item.image }}.png 1x, ./assets/img/temp/cart/{{ item.image }}@2x.png 2x" data-src="./assets/img/temp/cart/{{ item.image }}.png" alt="" class="cart-item__img lozad">
      </a>
      <div class="cart-item__body">
        <div class="cart-item__title">
          <a href="product.html" class="link-inherit">{{ item.title }}</a>
        </div>
        <ul class="cart-item__options text-sm">
          <li class="cart-item__option">{{ item.flavour }}</li>
          <li class="cart-item__option">{{ item.volume }}</li>
        </ul>
        <div class="cart-item__footer">
          {% if payment != true %}
            <div class="cart-item__amount-form amount-form amount-form--sm" data-component="amount-form">
              <button class="amount-form__control icon-minus" data-element="dec-control" type="button" disabled></button>
              <input class="amount-form__input form__input" data-element="amount-input" type="text" value="{{ item.amount }}" data-min="1">
              <button class="amount-form__control icon-plus" data-element="inc-control" type="button"></button>
            </div>
            {% else %}
            <div class="cart-item__amount" data-component="amount-form">{{ item.amount }}</div>
          {% endif %}
          <div class="cart-item__price">
            {% if session %}
              <span class="text-primary">{{ item.memberPrice }}</span>
              <span class="cart-item__regular-price">{{ item.price }}</span>
              {% else %}
            {{ item.price }}
            {% endif %}
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
