<div class="cart {% if cartVisible %}is-visible{% endif %}" data-component="aside-menu" data-src="cart">
  <div class="cart__header">
    <div class="cart__title">Your Cart <span class="cart__count">{{ cart|length }}</span></div>
    <button class="cart__close icon-close" data-element="aside-menu-close"></button>
  </div>

  {% if unfinishedOrder %}
    {% include '_order-alert.twig' with { orderAlertClass: 'cart__order-alert order-alert--cart', cart: true } %}
  {% endif %}

  {% if not session %}
    {% if cartStep == 2 %}
      <div class="cart__account">
        <div class="cart__account-header">
          <div class="cart__account-title">Log in</div>
        </div>
        <p class="cart__account-description text-xs">We sent a code to the number: <a href="#" class="link-pseudo link-inherit">+91 000 000 00 00</a></p>

        <div class="cart__account-form form">
          <div class="form__group form__group--button-right">
            <div class="form__field">
              <input type="text" id="account__phone" class="form__input" required data-element="code-mask" placeholder="00000">
            </div>
            <button type="submit" class="button button--link">Log in</button>
          </div>

          <p class="form__footnote">Resending allowed in 30 second</p>
        </div>
      </div>

      {% elseif cartStep == 3 %}
      <div class="cart__account">
        <div class="cart__account-header">
          <div class="cart__account-title">Account<i class="cart__account-status icon-check text-primary"></i></div>
          <div class="cart__account-phone">+91 000 000 00 00</div>
        </div>
        <div class="cart__account-text">
          <p>After you make your first purchase, you will have access to discounts and privileges as a member of the loyalty program.</p>
        </div>
      </div>

      {% else %}

      <div class="cart__account">
        <div class="cart__account-header">
          <div class="cart__account-title">Log in</div>
        </div>
        <p class="cart__account-description text-sm">To get benefits and discounts for members</p>

        <div class="cart__account-form form">
          <div class="form__group form__group--button-right">
            <div class="form__field">
              <input type="text" id="account__phone" class="form__input" required data-element="phone-mask" placeholder="+91 000 000 00 00">
            </div>
            <button type="submit" class="button button--link">Сontinue</button>
          </div>

          <p class="form__footnote">Enter your number. You will receive an OTP via message.</p>
        </div>
      </div>

    {% endif %}
  {% endif %}

  <div class="cart__body">
    {% include '_cart-list.twig' with { cartListClass: 'cart__list' } %}
  </div>

  <div class="cart__footer">
    <dl class="cart__check check">
      <dt class="check__label">
        <span class="check__label-text">Subtotal</span>
      </dt>
      <dd class="check__data check__data--lg">
        <span class="check__points">+86 points</span> ₹2,497
      </dd>
    </dl>
    {% set checkoutLink = 'checkout-sign-in.html' %}
    {% if session %}
      {% set checkoutLink = 'checkout-shipping.html' %}
    {% endif %}
    <a href="{{ checkoutLink }}" class="cart__button button button--primary button--block">Checkout</a>
  </div>
</div>