<div class="catalog__section row" data-element="show-more-item">
  <div class="catalog__header col-xs-12 col-xl-3">
    <div class="catalog__header-content">
      {% if product.category %}
        <div class="catalog__category">{{ product.category }}</div>
      {% endif %}
      <h2 class="catalog__title">{{ product.title }}</h2>
      <p class="catalog__description">{{ product.description }}</p>
    </div>
  </div>
  {% for item in product.list %}
    <div class="catalog__item slick-side col-xs-6 col-md-4 col-lg-4 col-xl-3">
      {% include '../partials/_product-card.twig' with { productClass: 'product-card--sm' } %}
    </div>
  {% endfor %}
</div>