<div class="filter {{ filterClass }}">
  <div class="filter__list">
    <div class="filter__item">
      {% for item in filters|slice(0,1) %}
        <div class="dropdown dropdown--default" data-component="dropdown" data-type="default">
          <button class="dropdown__toggle" data-element="dropdown-toggle" data-template='dropdown-content-{{ item.id }}'>
            {% for option in item.list if option.selected %}
              <span class="dropdown__toggle-text" data-element="dropdown-toggle-text">{{ option.name }}</span>
            {% endfor %}
          </button>

          <div style="display: none;">
            <div id="dropdown-content-{{ item.id }}">
              <div class="dropdown__content" data-element="dropdown-content" data-id="dropdown-content-{{ item.id }}">
                <div class="dropdown__title">{{ item.title }}:</div>
                <ul class="dropdown__list">
                  {% for option in item.list %}
                    <li class="dropdown__option {% if option.selected %}is-selected{% endif %}" data-element="dropdown-option" data-id="{{ option.id }}">{{ option.name }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% for item in filters|slice(1,2) %}
      <div class="filter__item {{ item.class }}">
        <div class="dropdown dropdown--multiple" data-component="dropdown" data-type="multiple">
          <button class="dropdown__toggle" data-element="dropdown-toggle" data-tippy-append-to="parent" data-template='dropdown-content-{{ item.id }}'>
            {{ item.title }}
            {% set selectedCount = 0 %}
            {% for option in item.list if option.selected and option.id != 0 %}
              {% set selectedCount = selectedCount + 1 %}
            {% endfor %}
            <span class="dropdown__toggle-amount" data-element="dropdown-toggle-amount">{% if selectedCount > 0 %}{{ selectedCount }}{% endif %}</span>
          </button>

          <div style="display: none;">
            <div id="dropdown-content-{{ item.id }}">
              <div class="dropdown__content" data-element="dropdown-content" data-id="dropdown-content-{{ item.id }}">
                <ul class="dropdown__list">
                  {% for option in item.list %}
                    <li class="dropdown__option">
                      <label class="custom-control custom-control--sm custom-checkbox">
                        <input type="checkbox" class="custom-control__input" name="{{ item.id }}-{{ option.id }}" value="1" {% if option.selected %} checked {% endif %} {% if loop.first %} data-element="dropdown-checkbox-all" {% else %} data-element="dropdown-checkbox" {% endif %}>
                        <span class="custom-control__indicator"></span>
                        <span class="custom-control__text">{{ option.name }}</span>
                      </label>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="filter__tags tags hidden-md-down">
    <ul class="tags__list row row--sm">
      {% for item in filters|slice(1,2) %}
        {% for option in item.list if option.selected and option.id != 0 %}
          <li class="tags__item col" data-element="filter-tag">
            <div class="tag is-selected text-sm" data-id="{{ option.id }}">
              <span class="tag__text">{{ option.name }}</span>
              <button class="tag__close icon-close" title="Remove"></button>
            </div>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
    <button class="tags__clear" data-element="filter-clear">Clear All<i class="tags__clear-icon icon-close"></i></button>
  </div>

  <button class="filter__trigger icon-filter hidden-lg-up" data-element="aside-menu-trigger" data-src="mobile-filter"></button>
</div>

<div class="mobile-filter" data-component="aside-menu" data-src="mobile-filter">
  <div class="mobile-filter__header">
    <div class="mobile-filter__title">Filters</div>
    <button class="mobile-filter__close icon-close" data-element="aside-menu-close"></button>
  </div>

  <div class="mobile-filter__body">
    {% for item in filters|slice(1,2) %}
      <div class="mobile-filter__section">
        <div class="mobile-filter__section-title text-sm">{{ item.title }}:</div>
        <ul class="mobile-filter__list">
          {% for option in item.list %}
            <li class="mobile-filter__item">
              <label class="mobile-filter__tag">
                <input type="checkbox" class="mobile-filter__tag-input" name="{{ item.id }}-{{ option.id }}" value="1" {% if option.selected %} checked {% endif %} {% if loop.first %} data-element="dropdown-checkbox-all" {% else %} data-element="dropdown-checkbox" {% endif %}>
                <span class="mobile-filter__tag-indicator icon-check"></span>
                <span class="mobile-filter__tag-text">{{ option.name }}</span>
              </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

  <div class="mobile-filter__footer">
    <a href="#" class="mobile-filter__clear" data-element="filter-clear"><i class="mobile-filter__clear-icon icon-close"></i>Clear All</a>
    <button class="mobile-filter__button button button--primary" data-element="filter-apply">Apply filter</button>
  </div>
</div>