<div id="modal-first-order" class="modal modal--primary modal--first-order mfp-hide mfp-with-anim">
  <div class="modal__header">
    <h2 class="modal__title">Haven't made an&nbsp;order yet?</h2>
    <p class="modal__text">Get 25% off your first Habbit Health order with a promo code <b>HELLO</b> and become a member.</p>

    <div class="modal__action">
      <button class="modal__button button button--light button--ripple" data-element="modal-close">Shop now</button>
    </div>
  </div>
  <img data-srcset="./assets/img/temp/first-order/bg-first-order.png 1x, ./assets/img/temp/first-order/bg-first-order@2x.png 2x" data-src="./assets/img/temp/first-order/bg-first-order.png" alt="" class="modal__bg-img lozad">
</div>