<div id="modal-edit-address-payment" class="modal modal--form mfp-hide mfp-with-anim">

  <form action="#" method="post" class="form" novalidate="novalidate" data-parsley-validate>
    <div class="form__title">
      <div class="form__title-text">Edit Address</div>
    </div>

    <div class="form__addresses addresses">
      {% include '_addresses-list.twig' with { visibleItems: 3, addressesSlider: true, isCompact: true } %}
    </div>

    <fieldset class="form__fieldset form__fieldset--lg">
      <div class="row row--md">
        <div class="col-xs-12 col-md-6">
          <div class="form__group">
            <label class="form__label" for="edit-address-name">Name</label>
            <div class="form__field">
              <input type="text" id="edit-address-name" class="form__input" required placeholder="Enter full name" value="Nick Smith">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form__group">
            <label class="form__label" for="edit-address-phone">Contact Phone</label>
            <div class="form__field">
              <input type="text" id="edit-address-phone" class="form__input" required data-element="phone-mask" value="+91 000 000 00 00">
            </div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <label class="form__label" for="edit-address-company">Company name (Optional)</label>
        <div class="form__field">
          <input type="text" id="edit-address-company" class="form__input" placeholder="Enter company name">
        </div>
      </div>
    </fieldset>

    <fieldset class="form__fieldset form__fieldset--lg">
      <div class="row row--md">
        <div class="col-xs-12 col-md-6">
          <div class="form__group">
            <label class="form__label" for="edit-address-country">Country/Region</label>
            <div class="form__field">
              <input type="text" id="edit-address-country" class="form__input" required placeholder="Enter Country/Region" value="India">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form__group">
            <label class="form__label" for="edit-address-state">State</label>
            <div class="form__field">
              <select id="edit-address-state" required data-element="select" data-placeholder="Select State" data-search-placeholder="Search State" disabled>
                <!-- Empty option for placeholder -->
                <option></option>
                {% for item in checkout.states %}
                  <option id="{{ item|lower|replace({' ': '-'})}}" {% if loop.index == 4 %}selected{% endif %}>{{ item }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <label class="form__label" for="edit-address-location">Address</label>
        <div class="form__field">
          <input type="text" id="edit-address-location" class="form__input" required placeholder="Enter address" value="Street 23-4">
        </div>
      </div>

      <div class="row row--md">
        <div class="col-xs-12 col-md-6">
          <div class="form__group">
            <label class="form__label" for="edit-address-city">Town/City</label>
            <div class="form__field">
              <select id="edit-address-city" required data-element="select" data-placeholder="Select Town/City" data-search-placeholder="Search Town/City"disabled>
                <!-- Empty option for placeholder -->
                <option></option>
                {% for item in checkout.cities %}
                  <option id="{{ item|lower|replace({' ': '-'})}}" {% if loop.index == 6 %}selected{% endif %}>{{ item }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form__group">
            <label class="form__label" for="edit-address-pincode">Pin Code</label>
            <div class="form__field">
              <input type="text" id="edit-address-pincode" class="form__input" required placeholder="Enter Pin Code" value="456665">
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="form__submit row align-items-md-center">
      <div class="form__submit-option col-xs-12 col-md-6">
        <label class="custom-control custom-control--default custom-checkbox">
          <input type="checkbox" class="custom-control__input" name="update-address" value="1" checked>
          <span class="custom-control__indicator"></span>
          <span class="address__content custom-control__content">Update Address</span>
        </label>
      </div>
      <div class="col-xs-12 col-md-6">
        <input type="submit" class="button button--primary button--block" value="Save changes">
      </div>
    </div>

  </form>
</div>
