<div id="modal-check-code" class="modal mfp-hide mfp-with-anim">
  <div class="modal__header">
    <h2 class="modal__title">Check your Pin Code delivery</h2>
    <p class="modal__text">Input your pin code to check if there is delivery to you</p>
  </div>

  <form action="#" method="post" class="modal__body form code-form">
    <div class="row row--md">
      <div class="col-xs-12 col-sm-stretch">
        <div class="form__group">
          <div class="form__field" data-element="floated-field">
            <label class="form__label form__label--float" for="pincode">Your pin code</label>
            <input type="text" id="pincode" class="form__input">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-auto">
        <div class="form__group">
          <button type="submit" class="button button--primary button--block">Check</button>
        </div>
      </div>
    </div>
  </form>
</div>
