<div class="order-alert {{ orderAlertClass }}">
  {% if cart %}
    <button class="order-alert__delete icon-trash" title="Delete"></button>
    <div class="order-alert__title">You have an unfinished order</div>
  {% endif %}

  <div class="order-alert__body">
    <div class="order-alert__picture" data-set="3">
      <img data-srcset="./assets/img/temp/order-alert/1.png 1x, ./assets/img/temp/order-alert/1@2x.png 2x" data-src="./assets/img/temp/order-alert/1.png" alt="" class="order-alert__img lozad">
      <img data-srcset="./assets/img/temp/order-alert/2.png 1x, ./assets/img/temp/order-alert/2@2x.png 2x" data-src="./assets/img/temp/order-alert/2.png" alt="" class="order-alert__img lozad">
    </div>

    <div class="order-alert__content">
      {% if not cart %}
        <div class="order-alert__title">You have an unfinished order</div>
      {% endif %}
      <p class="order-alert__text">11 Aug 2021 14:34 You made an order, but did not complete it.</p>
      <div class="order-alert__action">
        <a href="#" class="order-alert__link button button--link button--md">Continue this order</a>
      </div>
    </div>
  </div>
</div>