<div class="product__orderbar orderbar {% if fullbar %}is-fixed{% endif %}" data-component="{{ component }}">
  <div class="orderbar__container container">
    {% if fullbar %}
      <div class="orderbar__product">
        <div class="orderbar__picture">
          <img srcset="./assets/img/temp/product/{{ product.id }}/sm.png 1x, ./assets/img/temp/product/{{ product.id }}/sm@2x.png 2x" src="./assets/img/temp/product/{{ product.id }}/sm.png" alt="" class="orderbar__img">
        </div>
        <div class="orderbar__title h5">{{ product.title }}</div>
      </div>

      <div class="orderbar__option">
        {% if product.volume|length == 1 %}
          {% for option in product.volume %}
            <div class="orderbar__option-data">
              {{ option }}
            </div>
          {% endfor %}

          {% else %}

          <div class="dropdown dropdown--select" data-component="dropdown" data-type="default">
            <button class="dropdown__toggle" data-element="dropdown-toggle" data-template="volume-list" data-tippy-placement="top-start">
              {% for option in product.volume if loop.first %}
                <span class="dropdown__toggle-text" data-element="dropdown-toggle-text">{{ option }}</span>
              {% endfor %}
            </button>

            <div style="display: none;">
              <div id="volume-list">
                <div class="dropdown__content" data-id="volume-list" data-element="dropdown-content">
                  <ul class="dropdown__list">
                    {% for option in product.volume %}
                      <li class="dropdown__option {% if loop.first %}is-selected{% endif %}" data-element="dropdown-option" data-id="volume-{{ loop.index }}">{{ option }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

        {% endif %}
      </div>

      <div class="orderbar__option">
        <div class="dropdown dropdown--select" data-component="dropdown" data-type="default">
          <button class="dropdown__toggle" data-element="dropdown-toggle" data-template="flavour-list" data-tippy-placement="top-start">
            {% for option in product.flavour|slice(1,1) %}
              <span class="dropdown__toggle-text" data-element="dropdown-toggle-text">
                <img srcset="./assets/img/temp/product/{{ product.id }}/flavour/{{ option.image }}.png 1x, ./assets/img/temp/product/{{ product.id }}/flavour/{{ option.image }}@2x.png 2x" src="./assets/img/temp/product/{{ product.id }}/flavour/{{ option.image }}.png" alt="{{ option.name }}" class="dropdown__img">
                {{ option.name }}
              </span>
            {% endfor %}
          </button>

          <div style="display: none;">
            <div id="flavour-list">
              <div class="dropdown__content" data-id="flavour-list" data-element="dropdown-content">
                <ul class="dropdown__list">
                  {% for option in product.flavour %}
                    <li class="dropdown__option {% if loop.index == 2 %}is-selected{% endif %}" data-element="dropdown-option" data-id="flavour-{{ loop.index }}">
                      <img srcset="./assets/img/temp/product/{{ product.id }}/flavour/{{ option.image }}.png 1x, ./assets/img/temp/product/{{ product.id }}/flavour/{{ option.image }}@2x.png 2x" src="./assets/img/temp/product/{{ product.id }}/flavour/{{ option.image }}.png" alt="{{ option.name }}" class="dropdown__img">
                      {{ option.name }}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="orderbar__amount-form amount-form" data-component="amount-form">
      <button class="amount-form__control icon-minus" data-element="dec-control" type="button" disabled></button>
      <input class="amount-form__input form__input" data-element="amount-input" type="text" value="3" data-min="1">
      <button class="amount-form__control icon-plus" data-element="inc-control" type="button"></button>
    </div>

    <button class="orderbar__button button button--primary button--block">
      <span class="orderbar__button-default">Add to cart <span class="orderbar__button-price button__price">{{ product.price }}</span></span>
      <span class="orderbar__button-outofstock">Out of stock</span>
    </button>

    {% if checkCode %}
      <a href="#modal-check-code" class="orderbar__link link-pseudo text-sm" data-element="modal-trigger">Check Pin Code</a>
    {% endif %}
  </div>
</div>
