<div class="checkout__section">
  <div class="form__legend">
    <span class="form__legend-title">Order summary</span>
  </div>
  {% if text != false %}
    <p class="form__description text-sm">After you make your first purchase, you will have access to discounts and privileges as a member of the loyalty program.</p>
  {% endif %}

  {% include '_cart-list.twig' with { cartListClass: 'checkout__cart-list' } %}
</div>
