<div class="product-card {{ productClass }}">
  <div class="product-card__picture">
    {% set folder = product.title|lower|replace({' ': '-'}) %}
    <img data-srcset="./assets/img/temp/catalog/{{ folder }}/{{ item.image }}.png 1x, ./assets/img/temp/catalog/{{ folder }}/{{ item.image }}@2x.png 2x" data-src="./assets/img/temp/catalog/{{ folder }}/{{ item.image }}.png" alt="" class="product-card__img lozad">
    {% if item.sticker %}
      <div class="product-card__sticker sticker sticker--lightest-primary text-sm">
        <i class="sticker__icon icon-star"></i>
        {% if productClass == 'product-card--sm' %}
          <span class="hidden-md-down">Bestseller</span>
          <span class="hidden-lg-up">Best</span>
          {% else %}
          Bestseller
        {% endif %}
      </div>
    {% endif %}
    <button class="product-card__button button button--primary"><i class="button__icon icon-cart hidden-lg-up"></i><span class="hidden-md-down">Add to cart</span></button>

    {% if item.pack %}
      <div class="product-card__pack">
        {% if item.pack|length == 1 %}
          {% for option in item.pack %}
            <div class="product-card__pack-text">{{ option }}</div>
          {% endfor %}

          {% else %}

          <div class="dropdown dropdown--pack" data-component="dropdown" data-type="default">
            <button class="product-card__pack-text dropdown__toggle" data-element="dropdown-toggle" data-template="{{ folder }}-{{ loop.index }}-pack">
              {% for option in item.pack if loop.first %}
                <span class="dropdown__toggle-text" data-element="dropdown-toggle-text">{{ option }}</span>
              {% endfor %}
            </button>

            <div style="display: none;">
              <div id="{{ folder }}-{{ loop.index }}-pack">
                <div class="dropdown__content" data-id="{{ folder }}-{{ loop.index }}-pack" data-element="dropdown-content">
                  <ul class="dropdown__list">
                    {% for option in item.pack %}
                      <li class="dropdown__option {% if loop.first %}is-selected{% endif %}" data-element="dropdown-option" data-id="pack-{{ loop.index }}">{{ option }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}

  </div>

  <h3 class="product-card__title h6">
    <a href="product.html" class="product-card__title-link">{{ item.name }}</a>
  </h3>

  <p class="product-card__info">{{ item.info }}</p>

  <div class="product-card__footer">
    <div class="product-card__price price">
      <span class="price__value price__regular">{{ item.price }}</span>
      or
      <span class="text-primary">
        <b class="price__value">{{ item.memberPrice }}</b> for members <i class="price__info icon-info" data-element="tooltip-trigger" data-content="Price with member discount"></i>
      </span>
    </div>

    {% if pricesList != false %}
      <dl class="product-card__prices-list prices-list">
        <dt class="prices-list__label">regular price</dt>
        <dd class="prices-list__value">{{ item.price }}</dd>
        <dt class="prices-list__label text-primary">for members <i class="prices-list__info icon-info" data-element="tooltip-trigger" data-content="Price with member discount"></i></dt>
        <dd class="prices-list__value text-primary"><b>{{ item.memberPrice }}</b></dd>
      </dl>
    {% endif %}
  </div>

</div>