<ul class="{{ socialClass}} social">
  {% for item in company.social %}
    <li class="social__item">
      <a href="#" class="social__link" title="{{ item.title }}">
        {% if item.icon  %}
          {{ svg.icon(item.icon, 'social__icon') }}
          {% else %}
          <img data-src="./assets/img/{{ item.image }}.svg" alt="" class="social__icon lozad">
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>