<form action="#" method="POST" novalidate="novalidate" class="footer__form form subscribe-form" data-parsley-validate>
  <div class="subscribe-form__body">
    <div class="subscribe-form__title footer__title">Subscribe to the newsletter</div>
    <div class="form__group form__group--button-right">
      <div class="form__field" data-element="floated-field">
        <label class="form__label form__label--float" for="subscribe-email">Email</label>
        <input type="email" id="subscribe-email" class="form__input" required>
      </div>
      <input type="submit" class="button button--light-primary" value="Subscribe">
    </div>
  </div>
</form>
