.page-catalog {
    .main {
        padding-top: rem($navbar-height + 130px);
    }

    @include media-breakpoint-up(xl) {
        .main {
            padding-top: rem($navbar-height + 222px);
        }
    }
}