.page-product {
    @include media-breakpoint-up(lg) {
        .main {
            overflow: visible;

            .section:not(.product) {
                overflow: hidden;
            }
        }
    }
}