.footer {
    overflow: hidden;
    padding-top: rem($spacer-10);
    padding-bottom: rem($spacer-4);

    &__col {
        &--contacts {
            max-width: rem(347px);
        }
    }

    &__main {
        padding-bottom: rem($spacer-6);
    }

    &__title {
        @include font($font-size-xs, $line-height-2xs, $font-weight-bold);
        margin-bottom: rem($spacer-2);
        text-transform: uppercase;
        color: $primary-light;

        &-link {
            color: inherit;

            @include hover-focus {
                color: $white;
            }
        }
    }

    &__menu {
        margin-bottom: rem($spacer-8);

        &-section {
            @include margin-bottom(rem($spacer-6));

            &.is-collapsed {
                .footer__menu-title-toggle {
                    transform: rotate(0);
                }

                .footer__menu-list {
                    display: none;
                }
            }
        }

        &-title {
            display: flex;
            align-items: center;
            margin-bottom: 0;

            &-toggle {
                color: $primary-light;
                font-size: rem(7px);
                transition: .25s ease-in-out;
                transform: rotate(-180deg);
                margin-left: rem($spacer-2);
                top: -2px;
            }
        }

        &-list {
            @include list-unstyled;
            columns: 2;
            column-gap: rem($spacer-6);
            margin-top: rem($spacer-4);
            margin-bottom: rem($spacer-4);
        }

        &-item {
            @include font($font-size-lg, $line-height-lg, $font-weight-semibold, $font-family-serif);
            margin-bottom: rem($spacer-4);
        }

        &-link {
            color: inherit;

            @include hover {
                color: $primary-light;
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        margin-top: rem($spacer-10);
    }

    &__contact {
        display: flex;
        align-items: center;
        font-weight: $font-weight-semibold;
        font-family: $font-family-serif;
        @include margin-bottom(rem($spacer-2));
        color: inherit;

        @include hover-focus {
            color: $primary-light;
        }

        &-icon {
            color: $primary-light;
            font-size: rem($font-size-sm);
            margin-right: rem($spacer-2);
        }
    }

    &__social {
        margin-top: rem($spacer-6);
    }

    &__info {
        padding-top: rem($spacer-4);
        padding-bottom: rem($spacer-4);
        text-align: center;
        color: $primary-light;
        @include font($font-size-xs, $line-height-2xs);
    }

    &__copyright {
        color: $blue-100;
        margin-bottom: rem($spacer-2);
    }

    &__bottom {
        text-align: center;
        border-top: 1px solid $primary-light;
        padding-top: rem($spacer-5);
    }

    &__links {
        @include list-unstyled;
        text-align: center;
        @include font($font-size-xs, 15.01px);
        margin-top: rem($spacer-8);

        &-item {
            display: inline;

            &:after{
                content: " ";
                word-spacing: 1em;
                opacity: .2;
                background-image: linear-gradient(90deg,
                transparent 0 calc(50% - 0.05em),
                $primary-light 0 calc(50% + 0.035em),
                transparent 0
                );
            }
        }

        &-link {
            color: $primary-light;

            @include hover-focus {
                color: $blue-100;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__menu {
            &-section {
                margin-bottom: 0;

                &.is-collapsed {
                    .footer__menu-list {
                        display: flex;
                    }
                }
            }

            &-title {
                &-toggle {
                    display: none;
                }
            }

            &-list {
                display: flex;
                flex-flow: column wrap;
                max-height: rem(215px);
                columns: initial;
                margin-bottom: 0;
            }
        }
    }

    @include media-breakpoint-between(xs, md) {
        &__col {
            &--contacts {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__col {
            &--copyright {
                max-width: rem(320px);
            }

            &--links {
                max-width: rem(465px);
            }
        }

        &__main {
            padding-bottom: rem($spacer);
        }

        &__title {
            margin-bottom: rem($spacer-4);
        }

        &__menu {
            margin-bottom: 0;

            &-section {
                max-width: rem(320px);
            }
        }

        &__contacts {
            margin-top: rem($spacer-8);
        }

        &__social {
            margin-top: rem($spacer-4);
        }

        &__info {
            padding-bottom: rem(10px);
            text-align: left;
            color: $blue-100;
        }

        &__copyright {
            margin-bottom: 0;
        }

        &__bottom {
            text-align: left;
            padding-top: rem($spacer-4);
        }

        &__links {
            text-align: right;
            margin-top: 0;
            @include make-row();

            &-item {
                @include make-col();

                &:after{
                    display: none;
                }
            }

            &-link {
                color: $blue-100;

                @include hover-focus {
                    color: $primary-light;
                }
            }
        }
    }
}