.main {
    padding-top: rem($navbar-height);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        flex: 1;
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}