.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $navbar-z-index;
    transition: 1.25s ease-in-out;
    color: $white;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        z-index: $navbar-z-index + 1;
        background-color: $primary;
    }

    &__row {
        flex-wrap: nowrap;
        transition: 0.25s ease-in-out;
        height: rem($navbar-height);
    }

    &__col {
        &--logo,
        &--session,
        &--toggle {
            position: relative;
            z-index: $navbar-z-index + 1;
        }

        &--logo {
            margin-right: auto;
        }
    }

    &__logo {
        display: block;
        width: 132px;
        overflow: hidden;
    }

    @include media-breakpoint-up(xl) {
        &:before {
            z-index: -1;
        }

        &__col {
            &--nav {
                height: 100%;
                position: static;
            }
        }

        &__nav {
            margin-right: rem($spacer-10);
        }
    }
}

@keyframes animatetop{
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}