.nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 375px;
    z-index: $navbar-z-index;
    background-color: $primary;
    padding: rem(82px $spacer-6 72px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    transform: translateX(100%);
    transition: .25s ease-in-out;

    &.is-visible {
        transform: translateX(0);
    }

    &__list {
        @include list-unstyled;
        width: 100%;
    }

    &__item {
        margin-bottom: rem(44px);

        &.is-collapsed {
            .nav__toggle {
                transform: rotate(0);
            }
        }
    }

    &__link {
        display: block;
        @include font($font-size-h4, 40.01px, $font-weight-semibold, $font-family-serif);
        color: inherit;
    }

    &__toggle {
        font-size: rem(14px);
        color: $blue-300;
        margin-left: rem(2px);
        transition: transform .25s ease-in-out;
        transform: rotate(0);
    }

    &__account {
        display: block;
        @include font($font-size-xl, $line-height-xl);
        color: inherit;
        margin-top: auto;
        opacity: .8;
    }

    @include media-breakpoint-up(xl) {
        position: static;
        z-index: initial;
        background: none;
        padding: 0;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: inherit;
        max-width: none;
        max-height: none;
        overflow: visible;
        transform: none;
        transition: 0s;

        &.is-visible {
            transform: none;
        }

        &__list {
            @include make-row(rem(48px));
            flex-wrap: nowrap;
            height: inherit;
        }

        &__item {
            margin-left: rem($spacer-6);
            margin-right: rem($spacer-6);
            margin-bottom: 0;
            height: inherit;

            &.is-collapsed {
                .nav__toggle {
                    transform: rotate(90deg);
                }
            }

            &.is-collapsed:hover {
                .nav__toggle {
                    transform: rotate(-90deg);
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            @include font($font-size-base, 19.01px, $font-weight-normal, $font-family-base);
            height: inherit;
        }

        &__text {
            position: relative;
            display: flex;
            align-items: center;
            transition: inherit;
            height: inherit;

            &:after {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                border-bottom: 3px solid rgba($blue-300, 0);
                transition: inherit;
                content: '';
            }

            .nav__item:hover &,
            .nav__item:focus & {
                &:after {
                    width: 100%;
                    border-bottom-color: $blue-300;
                }
            }
        }

        &__toggle {
            margin-left: rem(6px);
            font-size: rem(8px);
        }
    }
}