.session-menu {
    @include list-unstyled;
    @include make-row(30px);

    &__item {
        @include make-col(30px);
    }

    &__link {
        display: block;
        color: $white;
    }

    &__icon {
        font-size: rem($spacer-5);
    }

    &__badge {
        position: absolute;
        bottom: rem(-3px);
        left: 50%;
        margin-left: rem(2px);
        background-color: $red;
        @include size(rem(10px));
        @include rounded;
        @include font(6px, 10.01px, $font-weight-semibold);
        text-align: center;
    }

    @include media-breakpoint-up(xl) {
    }
}