.submenu {
    margin-top: rem($spacer-6);

    &__list {
        @include list-unstyled;
    }

    &__item {
        @include margin-bottom(rem($spacer-8));
    }

    &__link {
        display: block;
        @include font($font-size-md, $line-height-xs);
        color: inherit;
    }

    &__pictures {
        display: none;
    }

    @include media-breakpoint-up(xl) {
        opacity: 0;
        visibility: hidden;
        transition:all 0.25s ease-in-out;
        margin-top: 0;
        margin-right: -100%;
        width: 100%;
        height: 0;
        overflow: hidden;
        display: flex;

        &.is-active {
            opacity: 1;
            visibility: visible;
            height: auto;
            overflow: visible;
        }

        &__list {
            margin-top: rem(5px);
        }

        &__item {
            margin-bottom: rem($spacer-6);
        }

        &__link {
            color: $gray-400;

            @include hover-focus {
                color: $primary;
            }
        }

        &__pictures {
            flex: 1;
            display: flex;
            column-gap: rem($spacer-6);
            margin-left: auto;
        }

        &__img {
            display: block;

            &:last-child:not(:only-child) {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__img {
            &:last-child:not(:only-child) {
                display: block;
            }
        }
    }
}