.subnav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 375px;
    max-height: 100vh;
    z-index: $navbar-z-index;
    background-color: $primary;
    padding-top: rem(72px);
    padding-bottom: rem(72px);
    overflow: auto;
    transform: translateX(100%);
    transition: .25s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.is-visible {
        transform: translateX(0);
    }

    &__back-link {
        display: block;
        @include font(13px, 19.01px);
        color: $blue-100;
        margin-bottom: rem($spacer-10);
    }

    &__back-icon {
        font-size: rem(10px);
        margin-right: rem($spacer-2);
        transform: rotate(-180deg);
    }

    &__title {
        display: block;
        @include font($font-size-sm, $line-height-sm, $font-weight-semibold);
        opacity: .8;
        color: inherit;
        text-transform: uppercase;
        margin-bottom: rem($spacer-4);
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        margin-bottom: rem($spacer-10);

        &.is-collapsed {
            .subnav__toggle {
                transform: rotate(90deg);
            }

            .subnav__submenu {
                display: none;
            }
        }
    }

    &__link {
        display: block;
        @include font($font-size-xl, 25.01px, $font-weight-semibold, $font-family-serif);
        color: inherit;
    }

    &__toggle {
        font-size: rem($spacer-2);
        color: $blue-300;
        margin-left: rem($spacer);
        transition: transform .25s ease-in-out;
        transform: rotate(-90deg);
    }

    @include media-breakpoint-up(xl) {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: auto;
        z-index: 100;
        padding-top: rem($spacer-6);
        padding-bottom: rem($spacer-6);
        flex-direction: row;
        max-width: none;
        max-height: none;
        min-height: rem(240px);
        overflow: visible;
        transform: none;
        opacity: 0;
        visibility: hidden;
        background-color: $white;
        box-shadow: 0 4px 20px rgba($black-200, .1);
        transition: all 0.15s .35s ease-out;

        &.is-visible {
            transform: none;
        }

        .nav__item:hover &,
        .nav__item:focus & {
            opacity: 1;
            visibility: visible;
            transition: .35s .15s ease-in;
        }

        &__back-link {
            display: none;
        }

        &__title {
            display: none;
        }

        &__items {
            flex-wrap: nowrap;
        }

        &__list {
            margin-top: rem(5px);
            margin-right: rem($spacer-8);
        }

        &__item {
            @include margin-bottom(rem(35px));
            white-space: nowrap;
        }

        &__link {
            @include font($font-size-h5, $font-size-xl);
            color: $gray-400;

            @include hover-focus {
                color: $primary;
            }

            &.is-active {
                color: $primary;
            }
        }

        &__toggle {
            display: none;
        }

        &__pictures {
            display: none;

            &.is-active {
                display: flex;
            }
        }
    }
}