.utility-menu {
    display: inline-block;
    @include list-unstyled;
    @include font($font-size-xs, $line-height-xs);

    &__item {
        display: inline;

        &:after {
            content:" ";
            letter-spacing: 2em;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            @include background-svg('<svg width="1" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity=".5" fill="#565D84" d="M0 0h1v15.994H0z"/></svg>');
        }
    }

    &__link {
        white-space: nowrap;
        color: inherit;

        @include hover {
            opacity: .75;
        }
    }

    @include media-breakpoint-up(lg) {
        @include font($font-size-sm, $line-height-sm);
        @include make-row($spacer-10 * 2);
        justify-content: flex-end;

        &__item {
            display: block;
            @include make-col($spacer-10 * 2);

            &:after {
                display: none;
            }
        }
    }
}