.addresses {
    &__list {
        @include list-unstyled;
    }

    &__slider {
        .slick-list {
            overflow: visible;
        }
    }

    &__slide {
        width: rem(280px);
    }

    @include media-breakpoint-down(md) {
        &__list {
            margin-left: rem(-10px);
            margin-right: rem(-10px);
        }

        &__item {
            width: rem(280px);
            padding-left: rem(10px);
            padding-right: rem(10px);
        }

        .slick-list {
            overflow: visible;
        }
    }

    @include media-breakpoint-up(md) {
        &__slider {
            margin-left: rem(- $spacer-3 / 2);
            margin-right: rem(- $spacer-3 / 2);
        }

        &__slide {
            width: rem(269px);
            padding-left: rem($spacer-3 / 2);
            padding-right: rem($spacer-3 / 2);
        }
    }

    @include media-breakpoint-up(lg) {
        &__list {
            margin-bottom: rem(- $spacer-6);
        }

        &__item {
            margin-bottom: rem($spacer-6);
        }
    }
}
