.address {
    position: relative;
    width: 100%;

    &__body {
        border: 1px solid $gray-200;
        border-radius: $border-radius-sm;
        padding: rem($spacer-3 $spacer-4 $spacer-4);

        &.is-disabled {
            opacity: .5;
            pointer-events: none;
        }
    }

    .custom-control__indicator {
        margin-top: 0;
    }

    &__content,
    &__title,
    &__info {
        display: block;
    }

    &__title {
        @include em-line-height($font-size-base, $line-height-xs - 1);
        font-weight: $font-weight-semibold;
        margin-bottom: rem($spacer-2);
        padding-right: rem($spacer-6);
        color: $gray-400;
    }

    &__info {
        color: rgba($gray-400, .6);
        margin-top: rem(6px);
    }

    &__edit {
        position: absolute;
        top: rem($spacer);
        right: rem($spacer);
        color: $gray-200;
        cursor: pointer;
        padding: rem($spacer-2);

        @include hover-focus {
            color: $gray-400;
        }
    }

    &--empty & {
        &__body {
            padding: rem($spacer-6);
            text-align: center;
        }

        &__text {
            margin-bottom: rem($spacer-4);
        }
    }

    @include media-breakpoint-up(lg) {
    }
}
