.bonus {
    &__list {
        @include list-unstyled;
    }

    &__item {
        display: flex;
        align-items: center;
        @include margin-bottom(rem(10px));
        border: 1px solid $gray-200;
        border-radius: $border-radius-md;
        padding: rem(( $spacer-3 - 1) ($spacer-4 - 1));
        min-height: rem($input-height);
        @include em-line-height($font-size-sm, 22.01px);

        &.is-applied {
            .bonus__button {
                display: none;
            }

            .bonus__status {
                display: block;
            }
        }

        &.is-selected {
            border-color: $primary;

            .bonus__content {
                opacity: 1;
            }

            .bonus__button {
                pointer-events: all;
            }

            /*.bonus__button {
                display: none;
            }

            .bonus__status {
                display: block;
            }*/
        }

        &.is-disabled {
            cursor: not-allowed;
            pointer-events: none;
            opacity: .5;

            .bonus__content {
                opacity: 1;
            }

            /*.bonus__button {
                display: none;
            }

            .bonus__status {
                display: none;
            }*/
        }

        &.is-ready {
            .bonus__button {
                display: inline-block;
                pointer-events: all;
            }

            .bonus__status {
                display: none;
            }
        }
    }

    &__label {
        .custom-control__indicator {
            margin-top: 0;
        }
    }

    &__body {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex: 1;
        color: rgba($gray-400, .8);

        b,
        strong {
            font-weight: $font-weight-medium;;
            color: $gray-400;
        }
    }

    &__input {
        &--code {
            text-align: left !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }

    &__status {
        display: none;
        margin-left: auto;
        color: $primary;
        font-weight: $font-weight-semibold;

        &-icon {
            font-size: rem($font-size-2xs);
            top: -1px;
        }

        &[data-text] {
            &:after {
                content: attr(data-text);
            }

            .bonus__status-icon {
                margin-right: rem(6px);
            }
        }
    }

    &__button {
        @include font($font-size-sm, $line-height-sm);
        pointer-events: none;
        margin-bottom: rem(-1px);
    }

    &__note {
        @include font($font-size-xs, $line-height-xs - 1);
        margin-top: rem($spacer-2);
    }

    @include media-breakpoint-up(xl) {
    }
}