.breadcrumb {
    @include font($font-size-xs, $line-height-xs);
    margin-top: rem($spacer-6);
    margin-bottom: rem($spacer-8);

    &.is-invisible {
        opacity: 0;
        visibility: hidden;
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        display: inline;

        &:after {
            content: '/';
            margin-left: rem($spacer);
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &--back {
            &:after {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                content: '';
                top: -1px;
                @include size(rem(2px));
                @include rounded;
                background-color: $gray-200;
                margin-left: rem($spacer-2);
                margin-right: rem($spacer);
            }
        }
    }

    &__link {
        color: inherit;

        @include hover-focus {
            color: $link-color;
        }

        .breadcrumb__item--back & {
            color: $primary;
        }
    }

    &__icon-back {
        font-size: rem($font-size-2xs);
        margin-right: rem(6px);
        transform: rotate(-180deg);
        top: -1px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem($spacer-10);
    }
}