//
// Base styles
//

button,
.button {
    position:relative;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background: none;
    outline: 0;
    border: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;

    @include hover-focus {
        text-decoration: none;
        outline: 0;
    }

    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            @include tab-focus();
            outline: 0;
        }
    }
    &.focus {
        text-decoration: none;
    }

    &:active,
    &.active {
        outline: 0;
    }

    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        pointer-events: none;
    }
}

.button {
    display: inline-flex;
    align-items: center;
    font-weight: $btn-font-weight;
    font-family: $btn-font-family;
    justify-content: center;
    white-space: nowrap;
    border: $btn-border-width solid;
    border-radius: $btn-border-radius;
    height: rem($btn-height);
    padding: rem(( $btn-height - $btn-border-width * 2 - $btn-line-height) / 2 $btn-padding-x);
    @include font($btn-font-size, $btn-line-height);
    background-position: center;

    &:active {
        background-size: 100%;
        transition: background 0s;
    }

    &__icon {
        font-size: rem($btn-icon-size);
        margin-left: rem(6px);
        margin-right: rem(6px);
        top: -1px;

        &:first-child {
            margin-left: 0 !important;
        }

        &:last-child {
            margin-right: 0 !important;
        }

        &:only-child {
            margin-right: 0 !important;
        }
    }

    &__price {
        &:before {
            content: '|';
            color: rgba($white, .3);
            margin-left: rem(10px);
            margin-right: rem($spacer-2);
        }
    }

    @include button-variants();

    &--link {
        border: 2px solid rgba($primary, 0);
        border-width: 0 0 2px;
        padding: 0;
        text-align: left;
        border-radius: 0;
        height: auto;
        padding: 0;

        &:hover {
            border-bottom-color: $primary;
        }

        &.button--md {
            @include font($font-size-base, $line-height-xs);

            .button__icon {
                font-size: rem($font-size-2xs);
                margin-left: rem($spacer);
                margin-right: rem($spacer);
            }
        }
    }

    &--link & {
        &__icon {
            font-size: 1.2em;
            margin-left: rem($spacer-2);
            margin-right: rem($spacer-2);
        }
    }

    &--link-light {
        border-bottom: 2px solid;

        &:focus {
            opacity: .8;
        }
    }

    &--link-default {
        color: rgba($gray-400, .8);
        font-weight: $font-weight-normal;

        &.button--md {
            .button__icon {
                font-size: 1em;
                margin-left: rem($spacer-2);
                margin-right: rem($spacer-2);
            }
        }
    }

    &.disabled,
    &.is-disabled,
    &:disabled {
        opacity: 0.3;
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.button.disabled,
a.button.is-disabled,
fieldset[disabled] a.button {
    pointer-events: none;
}

//
// Block button
//

.button--block {
    width: 100%;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.button_block {
        width: 100%;
    }
}