.cart {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: rem(375px);
    background-color: $white;
    display: flex;
    flex-direction: column;
    overflow: auto;
    visibility: hidden;
    transition: .3s ease-in-out;
    transform: translateX(100%);
    z-index: $navbar-z-index + 50;

    &.is-visible {
        visibility: visible;
        transform: translateX(0);
    }

    &__header,
    &__footer {
        position: sticky;
        left: 0;
        right: 0;
        background-color: rgba($white, .8);
        backdrop-filter: blur(10px);
        z-index: 10;
        padding: rem($spacer-6);
    }

    &__header {
        top: 0;
        display: flex;
        align-items: center;

        .is-session & {
            border-bottom: 1px solid $gray-200;
        }
    }

    &__footer {
        bottom: 0;
        border-top: 1px solid $gray-200;
    }

    &__title {
        margin-bottom: 0;
        color: $gray-400;
        @include font($font-size-xl, $line-height-xl, $font-weight-semibold);
    }

    &__count {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        background-color: $blue-100;
        border-radius: $border-radius;
        padding: rem($spacer 6px);
        margin-left: rem($spacer);
        @include font(13px, 12.01px);
        color: $primary;
        top: -0.15em;
    }

    &__close {
        display: block;
        color: inherit;
        margin-left: auto;
    }

    &__account {
        background-color: $gray-100;
        padding: rem($spacer-6 $spacer-6 $spacer-5);

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $gray-400;
        }

        &-title {
            text-transform: uppercase;
            @include font($font-size-xs, $line-height-2xs, $font-weight-bold);
            margin-bottom: rem($spacer);
        }

        &-description {
            color: rgba($gray-400, .8);
            margin-bottom: rem($spacer-4);

            &.text-xs {
                margin-top: rem($spacer);
                margin-bottom: rem(15px);
            }
        }

        &-status {
            margin-left: rem($spacer-2);
            font-size: rem($font-size-2xs);
            top: rem(-1px);
        }

        &-text {
            @include font($font-size-sm, 19.01px);
            margin-top: rem($spacer-2);
        }

        .form__group {
            margin-bottom: rem($spacer-2);
            background-color: $white;
            border-radius: $input-border-radius;

            &.is-disabled {
                opacity: .1;
                pointer-events: none;
            }
        }

        .form__input {
            border-color: $white;
            background-color: $white;
        }

        .button {
            align-self: center;
            background-color: $white;
            margin-left: rem($spacer-4);
            margin-right: rem($spacer-4);
            @include font($font-size-sm, $line-height-xs);
        }
    }

    &__body {
        padding: rem($gutter);
        flex: 1;
    }

    &__check {
        margin-bottom: rem($spacer-4 + 2);
    }

    @include media-breakpoint-up(lg) {
        &__order-alert {
            margin-bottom: rem($spacer-7);
        }
    }
}