.cart-item {
    display: flex;
    position: relative;

    &__picture {
        display: block;
        overflow: hidden;
        position: relative;
        @include size(rem(97px), rem(116px));
        flex: 0 0 rem(97px);
        margin-right: rem($spacer-4);
        border-radius: rem(10px);
    }

    &__img {
        @extend %cover-image;
    }

    &__body {
        flex: 1;
        position: relative;
    }

    &__delete {
        position: absolute;
        top: 0;
        right: 0;
        color: inherit;
        cursor: pointer;
        z-index: 1;

        @include hover-focus {
            color: $gray-400;
        }
    }

    &__title {
        @include font($font-size-xl, 22.01px, $font-weight-semibold, $font-family-serif);
        margin-bottom: rem($spacer);
        padding-right: rem($spacer-6);
        color: $headings-color;
    }

    &__options {
        @include list-unstyled;
        margin-bottom: rem($spacer-4);
    }

    &__footer {
        display: flex;
        align-items: center;
    }

    &__amount-form,
    &__amount {
        margin-right: rem($spacer-4);
    }

    &__amount {
        border-radius: rem(6px);
        background-color: $gray-100;
        color: rgba($headings-color, .8);
        padding: rem($spacer $spacer-2);
        min-width: rem($spacer-8);
        text-align: center;
    }

    &__price {
        margin-left: auto;
        font-weight: $font-weight-semibold;
        color: $gray-400;
    }

    &__regular-price {
        text-decoration: line-through;
        color: $base-color;
        margin-left: rem($spacer-2);
        font-weight: $font-weight-normal;
    }

    @include media-breakpoint-up(lg) {
    }
}