.category-card {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: rem(66px);
    background-color: $gray-100;
    border-radius: $border-radius-sm;
    color: $gray-400;
    overflow: hidden;
    position: relative;

    .categories.is-fixed & {
        min-height: rem(38px);
    }

    &__title {
        line-height: 1;
        font-weight: $font-weight-semibold;
        text-transform: capitalize;
        padding: rem(10px);
        align-self: center;
        position: relative;
        z-index: 1;
    }

    &__img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 100%;
        width: auto;
        transition: .2s ease-in-out;

        .categories.is-fixed & {
            height: 120%;
        }
    }

    &:hover,
    &:focus {
        background-color: $blue-100;
    }

    &.is-active {
        &,
        &:hover,
        &:focus {
            background-color: $primary;
            color: $white;
        }
    }

    @include media-breakpoint-up(xl) {
        min-height: rem(86px);

        .categories.is-fixed & {
            min-height: rem(50px);
        }

        &__title {
            padding: rem($spacer-6);
            @include font($font-size-xl, 26.01px);
        }

        &__img {
            .categories.is-fixed & {
                height: 100%;
            }
        }
    }
}
