.check {
    display: grid;
    grid-template-columns: max-content auto;
    grid-row-gap: rem($spacer-2);
    align-items: baseline;
    @include margin-bottom(rem($spacer-4));

    &__label {
        grid-column-start: 1;
        color: rgba($gray-400, .8);

        &-text {
            margin-right: rem($spacer);
        }
    }

    &__data {
        grid-column-start: 2;
        text-align: right;
        color: $gray-400;
    }

    &__label,
    &__data {
        &--lg {
            @include font($font-size-xl, 22.01px, $font-weight-medium);
            color: $gray-400;
        }
    }

    &__note,
    &__points {
        white-space: nowrap;
        @include font($font-size-xs, $line-height-2xs, $font-weight-normal);
        color: $base-color;
    }

    &__note {
        display: block;
    }

    &__points {
        margin-right: rem(6px);
    }

    &__info {
        top: -1px;
    }

    &--total {
        border-top: 1px solid $gray-200;
        padding-top: rem($spacer-4);
    }

    @include media-breakpoint-up(lg) {
    }
}