.combo {
    display: inline-flex;
    flex-direction: column;
    border-radius: rem(10px);
    padding: rem($spacer-8 $spacer-4 $spacer-4);

    &__list {
        @include list-unstyled;
        @include make-row($spacer-7);
        margin-bottom: rem(- $spacer-4);
        justify-content: center;
    }

    &__item {
        @include make-col($spacer-7);
        width: rem(120px);
        margin-right: rem(42px);
        margin-bottom: rem($spacer-4);

        &:after {
            position: absolute;
            top: rem(45px);
            left: 100%;
            margin-left: rem($spacer-6 / 2);
            font-size: rem($font-size-lg);
            color: $primary-light;
        }

        &:last-child {
            margin-right: 0;

            &:after {
                display: none;
            }
        }
    }

    &__footer {
        text-align: center;
        padding-left: rem($spacer);
        padding-right: rem($spacer);
    }

    &__price {
        margin-top: rem($spacer-9);
    }

    .price__regular {
        color: $gray-400;
    }

    &__action {
        margin-top: rem($spacer-4);
    }

    @include media-breakpoint-up(lg) {
        padding: rem(49px $spacer-7 $spacer-8);

        &__item {
            @include make-col($spacer-7);
            width: rem(164px);
            margin-bottom: rem($spacer-4);
            margin-right: rem($spacer-7);

            &:after {
                position: absolute;
                top: rem(45px);
                left: 100%;
                margin-left: rem($spacer-7 / 2);
                font-size: rem($font-size-lg);
                color: $primary-light;
            }

            &:last-child {
                margin-right: 0;

                &:after {
                    display: none;
                }
            }
        }
    }
}
