.combo-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__picture,
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__picture {
        height: rem(80px);
        flex: 0 0 rem(80px);
        margin-bottom: rem($spacer-2);
    }

    &__img {
        display: block;
        max-height: 100%;
        width: auto;
        filter: drop-shadow(10px 4px 20px rgba($black-200, 0.1));
    }

    &__title {
        flex: 1;
    }

    @include media-breakpoint-up(lg) {
        &__picture {
            height: rem(116px);
            flex: 0 0 rem(116px);
        }
    }
}
