.delivery-list {
    @include list-unstyled;
    color: $base-color;

    &__item {
        display: flex;
        align-items: flex-start;
        @include font($font-size-xs, $line-height-2xs);
        @include margin-bottom(rem($spacer-6));
    }

    &__img {
        display: block;
        @include size(rem($spacer-4));
        flex: 0 0 rem($spacer-4);
        margin-top: rem(1px);
        margin-right: rem($spacer-3);
        color: $primary-light;
    }

    @include media-breakpoint-up(lg) {
    }
}