.details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: rem(-7px);

    &__label,
    &__data {
        margin-bottom: rem(7px);
    }

    &__label {
        padding-right: rem($spacer-6);
        flex: 0 0 80%;
        max-width: 80%;
    }

    &__data {
        flex: 0 0 20%;
        max-width: 20%;
    }

    @media (min-width: 375px) {
        &__label {
            flex: 0 0 rem(272px);
            max-width: rem(272px);
        }

        &__data {
            flex: 0 0 calc(100% - #{rem(272px)});
            max-width: none;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem(- $spacer-2);

        &__label,
        &__data {
            margin-bottom: rem($spacer-2);
        }
    }
}