.dropdown {
    position: relative;

    &__toggle {
        position: relative;
        display: flex;
        align-items: center;
        color: inherit;
        transition: .25s ease-in-out;
        width: 100%;

        &:after {
            text-align: center;
            font-size: rem(7px);
            margin-left: rem($spacer);
            transition: transform .2s ease-in-out;
            transform: rotate(0);
            top: -1px;
        }

        &[aria-expanded="true"] {
            &:after {
                transform: rotate(-180deg);
            }
        }

        &-amount {
            display: block;
            min-width: rem($spacer-4);
            padding-left: rem($spacer);
            padding-right: rem($spacer);
            background-color: $gray-100;
            border-radius: 3px;
            margin-left: rem($spacer);
            text-align: center;
            @include font($font-size-xs, $font-size-html);

            &:empty {
                display: none;
                min-width: 0;
                padding-left: 0;
                padding-right: 0;
            }
        }

        &-clear {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: rem(30px);
            text-align: center;
            color: $white;
            font-size: rem(12px);
            align-items: center;
            justify-content: center;
            z-index: 20;

            .dropdown.is-active & {
                display: flex;
            }
        }

        .dropdown.is-active & {
        }
    }

    &__title {
        @include font($font-size-xs, $line-height-xs);
        color: $gray-300;
        padding-top: rem($spacer-3);
        padding-left: rem($spacer-4);
        padding-right: rem($spacer-4);
        margin-bottom: rem(- $spacer-2);
    }

    &__content {
        max-height: rem(312px);
        overflow: auto;
    }

    &__list {
        @include list-unstyled;
        padding-top: rem($spacer-2);
        padding-bottom: rem($spacer-2);
    }

    &__option {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        padding: rem($spacer-2 $spacer-8 $spacer-2 $spacer-4);
        transition: .2s ease-in-out;
        min-width: rem(179px);
        @include font($font-size-sm, $line-height-sm);
        color: rgba($gray-400, .8);

        &:after {
            position: absolute;
            top: 50%;
            right: rem($spacer-4);
            transform: translateY(-50%);
            color: $primary;
            font-size: rem(10px);
            opacity: 0;
            transition: opacity .2s ease-in-out;
        }

        span {
            margin-left: .25em;
            margin-right: .25em;
        }

        @include hover-focus {
            background-color: $blue-100;
            color: $primary;
        }

        &.is-selected {
            color: $gray-400;
            font-weight: $font-weight-medium;

            &:after {
                opacity: 1;
            }

            @include hover-focus {
                background: none;
                color: $gray-400;
            }
        }

        .custom-control__input:checked ~ .custom-control__text,
        .custom-control__input:active ~ .custom-control__text {
            color: $primary;
        }

    }

    &__img {
        @include size(rem(34px));
        border-radius: $border-radius-sm;
        margin-left: rem(- $spacer-2);
        margin-right: rem($spacer-4);
    }

    &--pack & {
        &__toggle {
            transition: .2s ease-in-out;
        }

        &__content {
            left: 0;
            top: 100%;
        }

        &__option {
            min-width: 179px;
        }
    }

    &--select & {
        &__toggle {
            background-color: $input-bg-color;
            color: $input-color;
            height: rem($input-height);
            padding-left: rem($input-padding-x + $input-border-width);
            padding-right: rem($input-padding-x + $input-border-width);
            border-radius: $input-border-radius;
            @include font($input-font-size, $input-line-height);

            &:after {
                font-size: rem(8px);
                margin-left: rem($spacer-2);
                margin-right: rem($spacer);
            }

            &-text {
                display: flex;
                align-items: center;
            }
        }
    }

    @include media-breakpoint-up(lg) {
    }
}
