.feature {
    display: flex;
    align-items: flex-start;
    @include font($font-size-sm, $line-height-sm);
    //max-width: rem(131px);

    &__img {
        display: block;
        @include size(rem($spacer-6));
        flex: 0 0 rem($spacer-6);
        margin-top: rem(5px);
        margin-right: rem($spacer-2);
        color: $primary;
    }

    @include media-breakpoint-up(lg) {
    }
}