.features {
    @include list-unstyled;
    margin-left: rem(- $spacer-5);
    margin-right: rem(- $spacer-5);
    margin-bottom: rem(- $spacer-6);

    &__item {
        padding-left: rem($spacer-5);
        padding-right: rem($spacer-5);
        margin-bottom: rem($spacer-6);
    }

    @include media-breakpoint-up(lg) {
        &__item {
            //max-width: rem(162px);
        }
    }
}