.feed-card {
    display: block;
    width: 100%;

    &__picture {
        @include aspect-ratio-block(100/100);
    }

    &__img {
        @extend %cover-image;
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        padding: rem($spacer-4);
    }

    .button--link {
        white-space: normal;
        border-bottom: 0;
        justify-content: flex-start;
    }

    &__caption {
        @include font($font-size-xs, 14.01px);
        color: $gray-300;
        margin-top: rem($spacer-2);
    }

    &:hover &,
    &:focus & {
        &__link {
            opacity: 1;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}
