.filter {
    display: flex;
    position: relative;
    //z-index: $navbar-z-index - 2;

    &__trigger {
        color: inherit;
        font-size: rem(21px);
        margin-left: auto;
        top: -2px;
    }

    &__list {
        @include list-unstyled;
        @include make-row($spacer-10);
        margin-right: rem($spacer-5);
        margin-bottom: rem(- $spacer-4);
    }

    &__item {
        @include make-col($spacer-10);
        margin-bottom: rem($spacer-4);
    }

    @include media-breakpoint-up(lg) {
        &__tags {
            flex: 1;
        }
    }
}
