.icons-list {
    @include list-unstyled;

    &__item {
        @include margin-bottom(rem($spacer-6));
        display: flex;
    }

    &__icon {
        @include size(rem(30px));
        min-width: rem(30px);
        margin-right: rem($spacer-4);
        color: $primary-light;
    }

    b,
    strong {
        font-weight: $font-weight-semibold;
    }

    @include media-breakpoint-down(sm) {
    }
}
