.menu-card {
    display: flex;
    height: 100%;
    min-height: rem(265px);
    background-color: $gray-100;
    color: inherit;
    overflow: hidden;
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        flex: 0 0 65%;
        max-width: rem(213px);
        padding-top: rem($spacer-6);
        padding-left: rem($spacer-6);
        padding-bottom: rem($spacer-6);
        position: relative;
        z-index: 1;
    }

    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
    }

    &__title {
        transition: color .2s ease-in-out;
        text-transform: capitalize;
    }

    &__description {
        color: $gray-400;
        margin-bottom: rem($spacer-8);
    }

    &__action {
        margin-top: auto;
    }

    &:hover &,
    &:focus & {
        &__title {
            color: $primary;
        }
    }

    @include media-breakpoint-up(lg) {
        min-height: rem(367px);

        &__content {
            padding-top: rem($spacer-10);
            padding-left: rem($spacer-10);
            padding-bottom: rem($spacer-8);
            flex: 0 0 56%;
            max-width: rem(292px);
        }
    }
}
