.mobile-filter {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: rem(375px);
    background-color: $white;
    display: flex;
    flex-direction: column;
    overflow: auto;
    visibility: hidden;
    transition: .3s ease-in-out;
    transform: translateX(-100%);
    z-index: $navbar-z-index + 50;

    &.is-visible {
        visibility: visible;
        transform: translateX(0);
    }

    &__header,
    &__footer {
        position: sticky;
        left: 0;
        right: 0;
        background-color: rgba($white, .8);
        backdrop-filter: blur(10px);
        z-index: 10;
        display: flex;
        align-items: center;
    }

    &__header {
        top: 0;
        padding: rem($spacer-8 $gutter $spacer-4);

        &:after {
            position: absolute;
            left: rem($gutter);
            right: rem($gutter);
            bottom: 0;
            content: '';
            border-bottom: 1px solid $gray-200;
            border-radius: $border-radius;
        }
    }

    &__title {
        margin-bottom: 0;
        color: $gray-400;
        @include font($font-size-xl, 22.01px, $font-weight-semibold);
    }

    &__close {
        display: block;
        font-size: rem($font-size-lg);
        color: inherit;
        margin-left: auto;
    }

    &__body {
        padding: rem($gutter);
        flex: 1;
    }

    &__section {
        @include margin-bottom(rem($spacer-8));

        &-title {
            margin-bottom: rem(11px);
        }
    }

    &__list {
        @include list-unstyled;
        @include make-row($spacer-2);
        margin-bottom: rem(-10px);
    }

    &__item {
        @include make-col($spacer-2);
        margin-bottom: rem(10px);
    }

    &__tag {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.25s ease-in-out;
        user-select: none;
        padding: rem($spacer $spacer-2);
        @include font($font-size-lg, $line-height-lg);

        &-input {
            position: absolute;
            z-index: -1; // Put the input behind the label so it doesn't overlay text
            opacity: 0;
        }

        &-indicator {
            display: block;
            font-size: rem($font-size-2xs);
            margin-right: rem(- $font-size-2xs);
            user-select: none;
            pointer-events: none;
            text-align: center;
            transition: all 0.25s ease-in-out;
            opacity: 0;
            color: $primary;
        }

        &-input:checked ~ &-indicator,
        &-input:active ~ &-indicator {
            margin-right: rem($spacer-2);
            opacity: 1;
        }

        &-text {
            color: $gray-400;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                background-color: $gray-100;
                border-radius: rem(6px);
                z-index: -1;
            }
        }

        &-input:checked ~ &-text,
        &-input:active ~ &-text {
            color: $primary;

            &:before {
                background-color: $blue-100;
            }
        }
    }

    &__footer {
        bottom: 0;
        padding: rem($spacer-5 $gutter);
    }

    &__clear {
        color: inherit;
        @include font($font-size-sm, $line-height-sm);
        margin-right: rem($spacer-9);

        &-icon {
            font-size: rem($font-size-2xs);
            margin-right: rem($spacer);
            top: -1px;
        }
    }

    &__button {
        flex: 1;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        display: none;
    }
}