.modal {
    position: relative;
    max-height: 100%;
    max-width: rem(588px);
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: $white;
    border-radius: rem(20px);
    padding: rem(64px $spacer-8);

    &__header,
    &__body {
        max-width: rem(412px);
        margin-left: auto;
        margin-right: auto;
    }

    &__header {
        text-align: center;
        @include margin-bottom(rem($spacer-8));
    }

    &__title {
        @include margin-bottom(rem($spacer-4));
        @include font($font-size-h4, 42.01px, $font-weight-semibold, $font-family-serif);
    }

    &__text {
        color: $gray-400;
    }

    &__action {
        margin-top: rem($spacer-6);
    }

    &--primary {
        background-color: $primary;
        color: $white;

        .mfp-close {
            &:before {
                color: $primary-light;
            }
        }
    }

    &--primary & {
        &__title {
            color: $white;
        }

        &__text {
            color: inherit;
        }
    }

    &--first-order {
        padding-top: rem(86px);
        padding-bottom: rem(76px);
    }

    &--first-order & {
        &__header {
            max-width: rem(249px);
        }

        &__bg-img {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
        }
    }

    &--form {
        max-width: rem(620px);
        padding: rem(58px $spacer-4 $spacer-4);
    }

    @include media-breakpoint-up(md) {
        padding-top: rem(88px);
        padding-bottom: rem(88px);

        &__header {
            margin-bottom: rem(48px);
        }

        &__title {
            @include font($font-size-h3, $line-height-h3);
        }

        &--first-order {
            padding-top: rem(80px);
            padding-bottom: rem(66px);
        }

        &--first-order & {
            &__header {
                max-width: rem(293px);
            }
        }

        &--form {
            padding: rem(56px $spacer-10 $spacer-10);
        }
    }

    @include media-breakpoint-up(lg) {
    }
}