.option {
    position: relative;
    display: block;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    height: 100%;
    cursor: pointer;

    &__input {
        position: absolute;
        z-index: -1; // Put the input behind the label so it doesn't overlay text
        opacity: 0;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: .25s ease-in-out;
    }

    &__input:checked ~ &__body,
    &__input:active ~ &__body {

        @include hover-focus {
        }
    }

    &--default {
        .option__input:checked ~ .option__body,
        .option__input:active ~ .option__body {
            background-color: $blue-100;
            color: $primary;
        }
    }

    &--default & {
        &__body {
            padding: rem($spacer $spacer-2);
            border-radius: rem(6px);
            background-color: $gray-100;
            color: $gray-400;
            @include font($font-size-sm, $line-height-sm);
        }
    }

    &--default.is-disabled & {
        &__body {
            @extend %cover-image;
            color: $base-color;
        }
    }

    &--image {
        width: 100%;

        .option__input:checked ~ .option__body,
        .option__input:active ~ .option__body {
            box-shadow: inset 0 0 0 2px $primary;
        }
    }

    &--image & {
        &__body {
            display: block;
            @include aspect-ratio-block(72/75);
            border-radius: rem(10px);
            height: rem(75px);
        }

        &__img {
            @extend %cover-image;
            z-index: -1;
        }

        &__sticker {
            position: absolute;
            top: rem($spacer-2);
            right: rem($spacer-2);
            background-color: rgba($gray-100, .7);
            border-radius: 7px;
            padding: rem($spacer);
            font-size: rem($font-size-xs);
            color: $gray-500;
        }
    }

    &--image.is-disabled & {
        &__img {
            @extend %cover-image;
            opacity: .5;
        }
    }

    @include media-breakpoint-up(xl) {
        &--image & {
            &__body {
                height: auto;
                margin-right: 1px;
            }
        }
    }
}