.options {
    &__header {
        display: flex;
        @include font($font-size-sm, $line-height-sm);

        &-content {
            flex: 1;
        }
    }

    &__label {
        margin-right: rem($spacer-2);
    }

    &__data {
        color: $headings-color;
        margin-right: rem($spacer-2 + 1);
    }

    &__outofstock {
        color: $gray-200;
        position: relative;
        padding-left: rem($spacer-2 + 1);
        display: none;

        &:before {
            position: absolute;
            top: 1px;
            left: 0;
            content: '';
            height: rem(18px);
            border-left: 1px solid $gray-200;
        }

        &-label {
            margin-right: rem($spacer);
        }

        &-link {
            white-space: nowrap;
        }

        .product.is-disabled & {
            display: inline;
        }
    }

    &__list {
        @include list-unstyled;
        @include make-row($spacer-2);
    }

    &__item {
        @include make-col($spacer-2);
    }

    &__slider {
        .slick-list {
            overflow: visible;
        }

        .slick-arrow {
            @include size(rem(22px));
            background-color: rgba($gray-100, .7);
            border-radius: rem(6px);

            &:before {
                color: $gray-400;
                font-size: rem($spacer-3);
            }

            @include hover-focus {
                background-color: rgba($gray-100, .9);

                &:before {
                    color: $gray-400;
                }
            }

            &.slick-disabled {
                opacity: 0;
            }
        }

        .slick-prev {
            left: rem($spacer-4);
        }

        .slick-next {
            right: rem($spacer-4);
        }
    }

    &--default {
        display: flex;
        align-items: baseline;
    }

    &--default & {
        &__list {
            margin-bottom: rem(- $spacer-2);
        }

        &__item {
            margin-bottom: rem($spacer-2);
        }
    }

    &--images & {
        &__header {
            margin-bottom: rem($spacer-2);
        }

        &__slide {
            width: rem(80px);
            display: block;
        }
    }

    @include media-breakpoint-up(md) {
        &--images & {
            &__list {
                margin-left: rem(- $spacer-2);
                margin-right: rem(- $spacer-2);
            }

            &__item {
                padding-left: rem($spacer-2);
                padding-right: rem($spacer-2);
            }

            &__slide {
                width: rem(88px);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__slider {
            .slick-list {
                overflow: hidden;
            }
        }

        &--images & {
            &__slide {
                width: auto;
            }
        }
    }
}
