.order-alert {
    position: relative;
    background-color: $gray-100;
    border-radius: $border-radius-sm;
    padding: rem($spacer-4 $spacer-10 $spacer-3 $spacer-4);

    &__body {
        display: flex;
    }

    &__picture {
        position: relative;
        margin-right: rem(19px);
        width: rem(60px);
        flex: 0 0 rem(60px);
        height: rem(51px);
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: rem(44px);
        border-radius: rem(6px);

        &:last-child {
            left: auto;
            right: 0;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include font($font-size-sm, $line-height-sm - 1, $font-weight-semibold);
        color: $gray-400;
        margin-bottom: rem(6px);
    }

    &__text {
        @include font($font-size-xs, $line-height-xs - 1);
        margin-bottom: rem(6px);
    }

    &__action {
        margin-top: auto;
    }

    &__delete {
        position: absolute;
        top: rem($spacer-4);
        right: rem($spacer-6);
        color: inherit;
        cursor: pointer;
        z-index: 1;

        @include hover-focus {
            color: $gray-400;
        }
    }

    &--cart & {
        &__picture {
            margin-right: rem($spacer-4);
            width: rem(74px);
            flex: 0 0 rem(74px);
            height: rem(62px);
        }

        &__img {
            width: rem(54px);
            border-radius: rem(6px);
        }

        &__title {
            @include font($font-size-base, $line-height-sm - 1);
            margin-bottom: rem(10px);
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: rem(19px);

        &__picture {
            margin-right: rem(26px);
            width: rem(94px);
            flex: 0 0 rem(94px);
            height: rem(80px);
        }

        &__img {
            width: rem(68px);
        }

        &__title {
            @include font($font-size-base, $line-height-sm - 1);
            margin-bottom: rem(6px);
        }

        &__action {
            margin-bottom: rem(- $spacer);
        }
    }
}
