.order {
    &__label {
        margin-bottom: rem($spacer-2);

        &-content {
            flex: 1;
        }
    }

    &__data {
        margin-bottom: rem($spacer-4);

        &-text {
            color: $headings-color;
            font-weight: $font-weight-semibold;
            @include em-line-height($font-size-base, $line-height-xs);
            @include margin-bottom(rem(6px));
        }

        &-info {
            @include font($font-size-sm, $line-height-xs);
            color: $gray-400;
            @include margin-bottom(rem($spacer-4));
        }
    }

    &__edit {
        color: $primary;
        @include font($font-size-sm, $line-height-xs);
        margin-left: rem($spacer-4);

        &-icon {
            font-size: rem($font-size-2xs);
            margin-left: rem($spacer);
            top: rem(-2px);
        }
    }

    @include media-breakpoint-up(lg) {
        &__data {
            margin-bottom: rem($spacer-6);

            &-text {
                margin-bottom: rem($spacer-2);
            }

            &-info {
                margin-bottom: rem($spacer-6 + 2);
            }
        }
    }

    @include media-breakpoint-up(xl) {
    }
}
