.panel {
    border-top: 1px solid $gray-200;
    padding-right: rem($spacer-7);

    &__title {
        position: relative;
        margin-bottom: 0;
        padding-top: rem($spacer-8);
        padding-bottom: rem($spacer-8);
        cursor: pointer;
        color: $primary;
        transition: .2s ease-in-out;

        &:after {
            position: absolute;
            top: 50%;
            right: rem(- $spacer-7);
            transform: translateY(-54%);
            font-size: rem($font-size-sm);
            color: $primary-light;
        }
    }

    &__content {
        margin-top: rem(- $spacer-5);
        margin-bottom: rem($spacer-8);
        color: $gray-400;
    }

    &.is-collapsed & {
        &__title {
            color: $gray-400;
        }

        &__content {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {
        &__title {
            padding-top: rem($spacer-6);
            padding-bottom: rem($spacer-6);
        }

        &__content {
            margin-top: rem(- $spacer);
            margin-bottom: rem($spacer-6);
        }
    }
}