.payment-methods {
    @include list-unstyled;
    margin-bottom: rem(- $spacer-5);

    &__item {
        margin-bottom: rem($spacer-5);
    }

    &__img {
        display: block;
        color: inherit;
    }

    @include media-breakpoint-up(md) {
    }
}
