.play-button {
    @include size(rem(74px));
    @include rounded;
    background-color: rgba($white, 0.2);
    backdrop-filter: blur(10px);
    transition: .25s ease-in-out;
    color: $white;

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -50%);
        font-size: rem($font-size-lg);
    }

    @include hover-focus {
    }

    @include media-breakpoint-up(md) {
    }
}