.post-card {
    color: inherit;

    &__link {
        display: block;
        color: inherit;

        @include hover-focus {
            .post-card__title {
                color: $primary;
            }
        }
    }

    &__picture {
        @include aspect-ratio-block(282/342);
        margin-bottom: rem($spacer-4);
    }

    &__img {
        @extend %cover-image;
    }

    &__sticker {
        position: absolute;
        top: rem($spacer-4);
        right: rem($spacer-4);
    }

    &__meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $gray-300;
        margin-top: rem(- $spacer);
        margin-bottom: rem($spacer-3);
    }

    &__category {
        background-color: $gray-100;
        border-radius: $border-radius;
        padding: rem($spacer $spacer-2);
        margin-right: rem($gutter);
    }

    &__title {
        margin-bottom: rem(10px);
        transition: color .2s ease-in-out;
        font-family: $font-family-serif;
    }

    &__text {
        @include text-clamp(3);
        color: $gray-400;
    }

    &__products {
        overflow: hidden;
        margin-top: rem($spacer-4);
    }

    @include media-breakpoint-up(lg) {
    }
}
