.price {
    color: $base-color;

    &__value {
        display: inline-block;
        @include font($font-size-xl, $line-height-xl);
    }

    &__info {
        font-size: rem($font-size-xs);
        color: $base-color;
        top: rem(-1px);

        @include hover-focus {
            color: $primary;
        }
    }

    b,
    strong {
        font-weight: $font-weight-semibold;
    }

    @include media-breakpoint-up(lg) {
        &__regular {
            color: $gray-400;
        }
    }
}