.prices-list {
    display: grid;
    grid-template-columns: max-content auto;
    grid-row-gap: rem(1px);
    align-items: baseline;

    &__label {
        grid-column-start: 1;
        @include font($font-size-xs, $line-height-2xs);
        text-transform: capitalize;
    }

    &__value {
        grid-column-start: 2;
        text-align: right;
        @include font($font-size-sm, $line-height-sm);
    }

    &__info {
        color: $base-color;
        font-size: .833em;
        margin-left: rem(2px);
        top: -1px;

        @include hover-focus {
            color: $primary;
        }
    }

    b,
    strong {
        font-weight: $font-weight-semibold;
    }

    @include media-breakpoint-up(lg) {
    }
}