.product-popover {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: rem(282px);

    &__picture {
        flex: 0 0 rem(74px);
        @include aspect-ratio-block(74/101);
    }

    &__img {
        @extend %cover-image;
    }

    &__content {
        padding: rem($spacer-4 $spacer-4 $spacer-4 $spacer-2);
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        color: $headings-color;
    }

    &__title {
        margin-bottom: 0;
        margin-right: rem($spacer-4);
        font-weight: $font-weight-semibold;
        font-family: $font-family-serif;
    }

    &__description {
        color: $gray-400;
    }

    @include media-breakpoint-up(lg) {
    }
}
