.product-card {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;

    &__picture {
        @include aspect-ratio-block(282/342);
    }

    &__img {
        @extend %cover-image;
    }

    &__sticker {
        position: absolute;
    }

    &__pack {
        position: absolute;
        background-color: rgba($white, 0.2);
        backdrop-filter: blur(4px);
        border-radius: rem(6px);
        color: $white;

        .hidden-text {
            display: none;
        }
    }

    &__button {
        position: absolute;
    }

    &__title {
        margin-bottom: 0;

        &-link {
            color: inherit;

            @include hover-focus {
                color: $primary;
            }
        }
    }

    &__info {
        margin-bottom: 0;
    }

    &__footer {
        margin-top: rem($spacer-2);
    }

    &--default & {
        &__picture {
            margin-bottom: rem($spacer-4);
        }

        &__sticker {
            top: rem($spacer-4);
            left: rem($spacer-4);
        }

        &__pack {
            top: rem($spacer-4);
            right: rem($spacer-4);
            @include font($font-size-sm, $line-height-sm);

            &-text {
                padding: rem($spacer 10px);
            }
        }

        &__button {
            right: rem($spacer-4);
            bottom: rem($spacer-4);
        }

        &__title {
            @include font($font-size-h6, $line-height-h6);
        }
    }

    &--sm & {
        &__picture {
            margin-bottom: rem($spacer-2);
        }

        &__sticker {
            top: rem(10px);
            left: rem(10px);
        }

        &__pack {
            top: rem(10px);
            right: rem(10px);
            @include font($font-size-xs, $font-size-sm);

            &-text {
                padding: rem($spacer $spacer-2);
            }
        }

        &__button {
            right: rem(10px);
            bottom: rem(10px);
        }

        &__info {
            @include font($font-size-sm, $line-height-sm);
        }

        &__price {
            display: none;
        }
    }

    @include media-breakpoint-down(md) {
        &__button {
            padding: 0;

            .button__icon {
                font-size: rem($font-size-base);
                margin-right: 0;
            }
        }

        &--default & {
            &__button {
                @include size(48px);
            }
        }

        &--sm & {
            &__sticker {
                padding: rem(5px 6px);
                @include font($font-size-2xs, $font-size-xs);

                .sticker__icon {
                    font-size: rem($spacer-2);
                    margin-right: rem(2px);
                    top: 0;
                }
            }

            &__button {
                @include size($spacer-10);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__button {
            width: calc(100% - #{rem($spacer-8)});
            opacity: 0;
            transition: opacity .2s ease-in-out;
            left: rem($spacer-4);
        }

        &:hover &,
        &:focus & {
            &__button {
                opacity: 1;
            }
        }

        .price__regular {
            color: $base-color;
        }

        &--sm & {
            &__picture {
                margin-bottom: rem($spacer-4);
            }

            &__sticker {
                top: rem($spacer-4);
                left: rem($spacer-4);
            }

            &__pack {
                top: rem($spacer-4);
                right: rem($spacer-4);
                @include font($font-size-sm, $line-height-sm);

                &-text {
                    padding: rem($spacer 10px);
                }
            }

            &__button {
                left: rem($spacer-4);
                right: rem($spacer-4);
                bottom: rem($spacer-4);
            }

            &__title {
                @include font($font-size-h6, $line-height-h6);
            }

            &__info {
                @include font($font-size-base, $line-height-base);
            }

            &__price {
                display: block;
            }

            &__prices-list {
                display: none;
            }
        }
    }
}
