.product-list {
    @include list-unstyled;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: -.8125em;

    &__item {
        display: flex;
        align-items: flex-start;

        &:before {
            display: block;
            content: '';
            height: 1.25em;
            border-left: 1px solid $gray-200;
            margin-top: .0625em;
            margin-left: .375em;
            margin-right: .375em;
        }
    }

    &__link {
        color: $primary;
        font-weight: $font-weight-bold;
        border-bottom: 2px solid rgba($primary, 0);
        text-transform: uppercase;
        white-space: nowrap;

        @include hover-focus {
            border-bottom-color: $primary;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}
