.review {
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: rem($spacer-6);

        &-content {
            flex: 1;
        }
    }

    &__avatar {
        @include size(rem(56px));
        flex: 0 0 rem(56px);
        @include rounded;
        background-color: $blue-100;
        color: $primary-light;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem($font-size-h4);
        font-weight: $font-weight-semibold;
        margin-right: rem($spacer-9);
    }

    &__author {
        @include em-line-height($font-size-base, $line-height-xs);
        font-weight: $font-weight-semibold;
        color: $headings-color;
    }

    &__meta {
        margin-top: rem($spacer-2);
        @include font($font-size-xs, $line-height-2xs);
    }

    &__date {
        &:before {
            content: '| ';
            color: $gray-200;
            margin-left: rem(1px);
        }
    }

    &__title {
        font-family: $font-family-serif;
    }

    &__content {
        color: $gray-400;
    }

    &__pictures {
        @include make-row(rem($spacer-2));
        margin-bottom: rem($spacer-4);
        flex-wrap: nowrap;

        .slick-list {
            overflow: visible;
        }

        &-slide {
            position: relative;
            display: block;
            margin-left: rem($spacer);
            margin-right: rem($spacer);
            border-radius: rem(6px);
            overflow: hidden;
            opacity: 0.3;
            transition: .25s ease-in-out;
            @include size(rem(96px));

            &.slick-active {
                opacity: 1;
            }

            .slick-initialized &.slick-slide {
                height: rem(96px);
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: auto;
        max-width: none;
    }

    @include media-breakpoint-up(lg) {
        &__header {
            margin-bottom: rem($spacer-4 - 1);

            &-content {
                position: relative;
                padding-right: rem(120px);
            }
        }

        &__meta {
            margin-top: rem(5px);
        }

        &__date {
            position: absolute;
            top: rem(-3px);
            right: 0;
            @include font($font-size-base, $line-height-base);

            &:before {
                display: none;
            }
        }

        &__body {
            padding-left: rem(92px);
        }

        &__pictures {
            margin-left: rem(- $spacer-2);
            margin-right: rem(- $spacer-2);
            overflow: hidden;

            .slick-list {
                overflow: hidden;
            }

            &-slide {
                margin-left: rem($spacer-2);
                margin-right: rem($spacer-2);
                @include size(rem(120px));
                flex: 0 0 rem(120px);
                opacity: 1;

                .slick-initialized &.slick-slide {
                    height: rem(120px);
                }

                &:nth-child(1n+6) {
                    opacity: 0;
                    visibility: hidden;
                }

                &[data-title] {
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: attr(data-title);
                        color: $white;
                        background-color: rgba($gray-100, .5);
                        @include font($font-size-h6, $line-height-h6, $font-weight-semibold);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 1;
                    }
                }
            }
        }
    }
}