.social {
    @include list-unstyled;
    @include make-row(rem($spacer-8));
    align-items: center;

    &__item {
        @include make-col(rem($spacer-8));
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        opacity: 1;
        color: $blue-300;
        @include size(rem($spacer-6));

        @include hover-focus {
            opacity: 0.75;
        }
    }

    &__icon {
        display: block;
        font-size: rem($spacer-6);
        @include size(rem($spacer-6));
    }

    @include media-breakpoint-up(lg) {
    }
}