.sticker {
    display: flex;
    align-items: center;
    border-radius: rem(6px);
    padding: rem($spacer $spacer-2);

    &__icon {
        margin-right: rem($spacer);
        font-size: .857em;
        top: -1px;
    }

    &--lightest-primary {
        background-color: $blue-100;
        color: $primary;
    }

    &--lightest-primary & {
        &__icon {
            color: $primary-light;
        }
    }

    &--time {
        background-color: rgba($gray-100, .8);
        color: $gray-400;
    }

    &--time & {
        &__icon {
            margin-left: rem($spacer-2);
            margin-right: 0;
            font-size: 1.125em;
            top: -1px;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}
