.tags {
    display: flex;

    &__list {
        flex: 1;
        @include list-unstyled;
        margin-bottom: rem(-10px);
    }

    &__item {
        margin-bottom: rem(10px);
    }

    &__clear {
        color: inherit;
        @include font(13px, 19.01px);
        margin-top: rem(6px);
        margin-left: rem($spacer-6);

        &-icon {
            font-size: rem($font-size-2xs);
            margin-left: rem($spacer-2);
            top: -1px;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}
