.tag {
    display: inline-flex;
    align-items: center;
    background-color: $gray-100;
    padding: rem(( $spacer - 1) $spacer-2 $spacer);
    border-radius: rem(6px);
    color: rgba($gray-400, .8);

    &__close {
        font-size: rem($font-size-2xs);
        margin-left: rem($spacer-2);
        color: $base-color;
    }

    &.is-selected {
        background-color: $blue-100;
        color: $primary;
    }

    &.is-selected & {
        &__close {
            color: $primary-light;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}
