.testimonial {
    text-align: center;

    &__picture {
        display: block;
        border-radius: rem(20px);
        @include aspect-ratio-block(258/263);
        width: 79%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem($spacer-10);
    }

    &__img {
        @extend %cover-image;
    }

    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__quote {
        position: relative;
        @include font($font-size-xl, $line-height-xl, $font-weight-semibold, $font-family-serif);
        margin-bottom: rem($spacer-8);
        color: $headings-color;

        &:before {
            position: absolute;
            top: rem(-31px);
            left: 0;
            font-size: rem(55px);
            color: $primary-light;
            opacity: 0.2;
        }
    }

    &__author {
        &-name {
            margin-bottom: rem($spacer);
            font-weight: $font-weight-semibold;
            @include em-line-height($font-size-base, $line-height-xs);
            color: $headings-color;
        }

        &-info {
            color: $gray-400;
        }
    }

    &--video & {
        &__picture {
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                background-color: rgba($black-200, .2);
            }
        }
    }

    @include media-breakpoint-up(md) {
        text-align: left;

        &__picture {
            width: 43%;
            flex: 0 0 43%;
            margin-left: 0;
            margin-right: rem($spacer-8);
            margin-bottom: 0;
        }

        &__content {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        &__quote {
            margin-bottom: rem($spacer-10);
            padding-top: rem($spacer-7);

            &:before {
                top: rem(-7px);
            }
        }

        &__author {
            margin-top: auto;
        }
    }

    @include media-breakpoint-up(lg) {
        &__picture {
            margin-right: rem(52px);
        }

        &__quote {
            @include font($font-size-h4, 42.01px);
            margin-bottom: rem(50px);
            padding-top: rem(42px);

            &:before {
                top: rem(-11px);
                font-size: rem(100px);
            }
        }
    }
}
