.usage-list {
    @include list-unstyled;
    counter-reset: usage-counter;

    &__item {
        @include margin-bottom(rem($spacer-7));
        display: flex;
        align-items: flex-start;
    }

    &__icon {
        @include size(rem($spacer-8 + 2));
        min-width: rem($spacer-8 + 2);
        margin-top: rem(- $spacer-2);
        margin-right: rem($spacer-4 - 1);
        color: $primary-light;
    }

    &__text {
        &:before {
            counter-increment: usage-counter;
            content: counter(usage-counter, decimal)". ";
        }
    }

    @include media-breakpoint-down(sm) {
    }
}
